<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Gift Certificates</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Plan</a>
      </li>
      <li class="active">
        <strong>Gift Certificates</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <% if policy(GiftCertificate).new? %>
      <%= link_to 'New Gift Certificate', new_gift_certificate_path, :class => "btn btn-primary"%>

       <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle" aria-expanded="true">Report
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <%= link_to "Gift certificate", '/gift_certificates/gift_certificate_report' %> 
                  </li>
                  
                  <li>
                    <%= link_to "Gift Ceritificate finance",'/gift_certificates/gift_certificate_finance_report'%> 
                  </li>
                </ul>
              </div>

     
      <%end%>
    </div>
  </div>
</div>
<div class="row">
  <div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div>
          <form role="form" class="form-inline">
            <div class="form-group">
              <label>Donor/Organization</label>
              <%= select_tag "organization_id", options_from_collection_for_select(Organization.all, :id, :name,:selected=>params[:organization_id]),
      { :prompt => ' Please Select ',class: 'form-control'}%>
            </div>
            <div class="form-group">
              <label>Status</label>
              <%= select_tag "status", options_from_collection_for_select(GiftCertificate.statuses, :first, :first,:selected=>params[:status]),
      { :prompt => ' Please Select ',class: 'form-control'}%>
            </div>
            <button class="btn btn-primary" type="submit">
              <span class="fa fa-search"></span>Search</button>
          </form>
        </div>
        <table class="table table-striped cats-datatable">
          <thead>
            <tr>
              <th>Reference no</th>
              <th>Gift date</th>
              <th>Donor</th>
              <th>Commodity</th>
              <th>Declaration no</th>
              <th>Mode of transport</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>

            <% can_edit = policy(GiftCertificate).edit? %>
            <% can_destroy = policy(GiftCertificate).destroy? %>

            <% @gift_certificates.each do |gift_certificate| %>
            <tr>
              <td>
                <%=link_to gift_certificate.reference_no, edit_gift_certificate_path(gift_certificate) %>
              </td>
              <td>
                <%= gift_certificate.gift_date %>
              </td>
              <td>
                <%= gift_certificate.organization.name  %>
              </td>
              <td>
                <%= gift_certificate.commodity.name  %>
              </td>
              <td>
                <%= gift_certificate.customs_declaration_no %>
              </td>
              <td>
                <%= gift_certificate.mode_of_transport&.name %>
              </td>
              <td>
                <%= gift_certificate.status %>
              </td>

              <td>
                <% if can_edit %>
                <%= link_to 'Edit', edit_gift_certificate_path(gift_certificate) %>
                &middot;
                <%end%>
                <% if can_destroy %>
                <%= link_to 'Delete', gift_certificate, method: :delete, data: { confirm: 'Are you sure?' } %>
                <%end%>
              </td>

            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
