<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-sm-4">
    <h2>Welcome
      <%= current_user.name %></h2>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">Yearly</span>
          <h5>Benficiaries</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">7,386,200</h1>
          <small>Relief program</small>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">Yearly</span>
          <h5>PSNP/FSCD beneficiareis</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">1,610,200</h1>
          <small>FSCD program</small>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-primary pull-right">Food Resource</span>
          <h5>Avaliable Resource</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-6">
              <h1 class="no-margins">406,42mt</h1>
              <small>Stock at NDRMC warehouse</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div>
            <h3 class="font-bold no-margins">
              <%= link_to 'Stock Status', '/stock_status/index' %>
            </h3>
            <small>Available and free stock.</small>
          </div>
          <div class="m-t-sm">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped cats-datatable">
                  <thead>
                  <tr>
                        <th>Commodity</th>
                        <th>Expected (mt)</th>
                        <th>Received (mt)</th>
                  </tr>
                  </thead>

                  <tbody>      
                    <% @stock_status.each do |stock| %>
                        <tr>
                            <td><%= stock['commodity'] %></td>
                            <td><%= stock['expected'] %></td>
                            <td><%= stock['received'] %></td>        
                        </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="m-t-md">
            <small class="pull-right">
              <i class="fa fa-clock-o"> </i>
              Update on <%= DateTime.now.strftime("%d/%m/%Y") %>
              </small>
            <small>
              <strong>Note:</strong> Shown values are based on status of captured data at the hubs.
              </small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-primary pull-right">Top three</span>
          <h5>Operation Status</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-xs-4">
              <small class="stats-label">Round/Month</small>
              <h4>RELIEF 2017 R-1</h4>
            </div>
            <div class="col-xs-4">
              <small class="stats-label">% Status</small>
              <h4>46.11%</h4>
            </div>
            <div class="col-xs-4">
              <small class="stats-label">Remaining mt</small>
              <h4>432.11</h4>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-xs-4">
              <small class="stats-label">Round/Month</small>
              <h4>RELIEF 2017 R-2</h4>
            </div>
            <div class="col-xs-4">
              <small class="stats-label">% Status</small>
              <h4>92.43%</h4>
            </div>
            <div class="col-xs-4">
              <small class="stats-label">Remaining mt</small>
              <h4>54.554</h4>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-xs-4">
              <small class="stats-label">Round/Month</small>
              <h4>RELIEF 2017 R-3</h4>
            </div>
            <div class="col-xs-4">
              <small class="stats-label">% Status</small>
              <h4>15.23%</h4>
            </div>
            <div class="col-xs-4">
              <small class="stats-label">Remaining mt</small>
              <h4>124.99</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>