<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Transporter Payments</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Transporter Payments</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Transporter Payment', new_transporter_payment_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
                        <th>Payment requests</th>
                        <th>Cheque no</th>
                        <th>Voucher no</th>
                        <th>Bank name</th>
                        <th>Paid amount</th>
                        <th>Prepared by</th>
                        <th>Approved by</th>
                        <th>Approved date</th>
                        <th>Datetime</th>
                        <th>Payment date</th>
                        <th>Status</th>
                        <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @transporter_payments.each do |transporter_payment| %>
          <tr>
                        <td><%= transporter_payment.payment_requests
              %></td>
                        <td><%= transporter_payment.cheque_no
              %></td>
                        <td><%= transporter_payment.voucher_no
              %></td>
                        <td><%= transporter_payment.bank_name
              %></td>
                        <td><%= transporter_payment.paid_amount
              %></td>
                        <td><%= transporter_payment.prepared_by
              %></td>
                        <td><%= transporter_payment.approved_by
              %></td>
                        <td><%= transporter_payment.approved_date
              %></td>
                        <td><%= transporter_payment.datetime
              %></td>
                        <td><%= transporter_payment.payment_date
              %></td>
                        <td><%= transporter_payment.status
              %></td>
                        <td>
              <%= link_to 'Edit', edit_transporter_payment_path(transporter_payment) %> &middot;
              <%= link_to 'Delete', transporter_payment, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
