    <p>
      <strong>Name:</strong>
      <%= @donor.name %>
    </p>

    <p>
      <strong>Code:</strong>
      <%= @donor.code %>
    </p>

    <p>
      <strong>Responsible:</strong>
      <%= @donor.responsible %>
    </p>

    <p>
      <strong>Source:</strong>
      <%= @donor.source %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @donor.description %>
    </p>
<% if policy(Donor).edit? %>
<%= link_to 'Edit', edit_donor_path(@donor) %> |
<% end %>
<%= link_to 'Back', donors_path %>