<%= fields_for(stock_take_item)  do |f| %>
<tr class="gradeX">
                <td><%= Organization.find(stock_take_item.donor_id).name%></td>
                <td><%= Project.find(stock_take_item.project_id).project_code%></td>                
                <td><%= CommodityCategory.find(stock_take_item.commodity_category_id).name%></td>
                <td><%= Commodity.find(stock_take_item.commodity_id).name%></td>
                <td><%=stock_take_item.theoretical_amount%></td>
                <td><%=stock_take_item.actual_amount%></td>
                <td>
                 <% if stock_take_item.stock_take.draft %>
                    <% if policy(StockTakeItem).edit? %>
                        <%= link_to 'Edit', edit_stock_take_item_path(stock_take_item) %> &middot;
                    <% end %>
                    <% if policy(StockTakeItem).destroy? %>
                        <%= link_to 'Delete', stock_take_item, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                 <% end %>
                </td>
               
</tr> 
<% end %>