<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Regional Requests</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Operation</a>
      </li>
      <li class="active">
        <strong>Regional Requests</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
   <% if policy(RegionalRequest).new? %>
    <div class="title-action">
      <%= link_to 'New Regional Request', new_regional_request_path, :class => "btn btn-primary"%>
    </div>
  <%end%>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <%= form_tag( regional_requests_path ,{ class: 'form-inline', style: 'display: inline-block;', role: 'form', method: 'GET'}) do %>
          <div class="form-group">
            <%= label_tag :program, "Program", { :class => ' control-label', :required => true } %>

            <div class="">
              <%= select_tag  :program,  options_from_collection_for_select( Program.all, 'id', 'name', params[:program] ) , { :required => true, :prompt => "-- Choose --", :class => 'form-control col-md-3 data-parsley-required' }  %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :operation, "Operation", { :class => ' control-label'} %>

            <div class="">
              <%= select_tag  :operation,  options_from_collection_for_select( Operation.all, 'id', 'name', params[:operation] ) , {:required => true , :prompt => "-- Choose --", :class => 'form-control col-md-3 data-parsley-required' }  %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :region, "Region", { :class => ' control-label'} %>

            <div class="">
              <%= select_tag  :region,  options_from_collection_for_select( Location.where(location_type:'region'), 'id', 'name', params[:region] ) , {:required => true , :prompt => "-- Choose --", :class => 'form-control col-md-3 data-parsley-required' }  %>
            </div>
          </div>

          <div class="form-group">
            <label for=""></label>
            <div>
              <input type="submit" name="filter" value="Go" class="btn btn-sm btn-primary" />
            </div>
          </div>

      <% end %>

    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <table class="table table-striped  cats-datatable">
        <thead>
          <tr>
                        <th>Reference number</th>
                        <th>Requested date</th>
                        <th>Remark</th>
                        <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @regional_requests.each do |regional_request| %>
          <tr>
                        <td><%= link_to regional_request.reference_number, regional_request_path(regional_request.id)
              %></td>

                        <td><%= regional_request.requested_date
              %></td>
                        <td><%= regional_request.remark
              %></td>
                        <td>

              
                <%if !Requisition.find_by_request_id(regional_request.id) %>
                  <% if policy(Requisition).new? %>
                    <a class="btn btn-primary" href="/requisitions/prepare/<%=regional_request.id%>">Create RRD </a> &middot;
                  <% end %>
                <%else%>
                  <% if policy(Requisition).summary? %>
                    <a class="btn btn-info" href="/requisitions/summary?region=<%=regional_request.region_id%>&operation=<%=regional_request.operation_id%>">RRD Detail</a> &middot;
                  <%end%>
                <%end%>
                <% if policy(RegionalRequest).edit? %>
                  <%= link_to 'Edit', edit_regional_request_path(regional_request) %> 
                <%end%>
                &middot;
                <% if policy(RegionalRequest).destroy? %>
                  <% @confirmation_message = 'Are you sure you want delete the Regional Request with reference number [ ' + regional_request.reference_number + ' ] ?' %>
                  <%= link_to 'Delete', regional_request, method: :delete, data: { confirm: @confirmation_message.to_s } %>
                <%end%>
            </td>
          </tr>
           
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
