<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Commodity Categories</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Commodity Categories</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Commodity Category', new_commodity_category_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Code am</th>
                        <th>Description</th>
                        <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @commodity_categories.each do |commodity_category| %>
          <tr>
            <td><%= commodity_category.name %></td>
            <td><%= commodity_category.code %></td>
            <td><%= commodity_category.code_am %></td>
            <td><%= commodity_category.description %></td>
            <td>
              <%= link_to 'Edit', edit_commodity_category_path(commodity_category) %> &middot;
              <%= link_to 'Delete', commodity_category, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
</div>
