    <p>
      <strong>Name:</strong>
      <%= @commodity_category.name %>
    </p>

    <p>
      <strong>Code:</strong>
      <%= @commodity_category.code %>
    </p>

    <p>
      <strong>Code am:</strong>
      <%= @commodity_category.code_am %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @commodity_category.description %>
    </p>
<% if policy(CommodityCategory).edit? %>
  <%= link_to 'Edit', edit_commodity_category_path(@commodity_category) %> |
<% end %>
<% if policy(CommodityCategory).destroy? %>
  <%= link_to 'Back', commodity_categories_path %>
<% end %>