<% @projects = Project.where('archived = ? OR archived IS NULL',false)%>
<% @uoms = UnitOfMeasure.all%>
<% @warehouses = Warehouse.all %>
<% @stores = Store      .all %>
<% @reference_unit =  UnitOfMeasure.find_by(:uom_type => UnitOfMeasure.uom_types[:ref]).name %>
<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <%= form_for(stock_movement) do |f| %>
        <% if stock_movement.errors.any? %>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <%= pluralize(stock_movement.errors.count, "error") %> prohibited this stock_movement from being saved.
            </div>

            <div class="panel-body">
              <ul>
                <% stock_movement.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

                <div class="form-group">
                            <%= f.label :source_hub_id, "Source Hub" %>
                                 <span class="required">*</span>
                                <%= f.collection_select :source_hub_id,
                                 Hub.order(:name), :id, :name, {include_blank: '-- Choose --'}, {:onchange => "populate_warehouse(this.value, 'source')", :id => 'source_hub_select' ,:class => 'form-control', :required => true }%>
                 </div>

                <div class="form-group">
                         <%= f.label :source_warehouse_id, "Source Warehouse" %>
                            <span class="required">*</span>
                            <%= f.collection_select :source_warehouse_id,
                            @warehouses.select{|w| w.hub_id ==  "#{:source_hub_select}"}, :id, :name, {include_blank: '-- Choose --'}, { :onchange => "populate_store(this.value, 'source')", :id => 'warehouse_select',:class => 'form-control', :required => true }%>

                </div>

                 <div class="form-group">
                         <%= f.label :source_store_id, "Source Store" %>
                            <span class="required">*</span>
                            <%= f.collection_select :source_store_id,
                            @stores.select{|w| w.warehouse_id ==  "#{:warehouse_select}"}, :id, :name, {include_blank: '-- Choose --'}, {:id => 'store_select',:class => 'form-control'}%>

                </div>


                 <div class="form-group">
                            <%= f.label :destination_hub_id, "Destination Hub" %>
                                 <span class="required">*</span>
                                <%= f.collection_select :destination_hub_id,
                                 Hub.order(:name), :id, :name, {include_blank: '-- Choose --'}, {:onchange => "populate_warehouse(this.value, 'destination')", :id => 'destination_hub_select' ,:class => 'form-control', :required => true }%>
                 </div>

                <div class="form-group">
                         <%= f.label :destination_warehouse_id, "Destination Warehouse" %>
                            <span class="required">*</span>
                            <%= f.collection_select :destination_warehouse_id,
                            @warehouses.select{|w| w.hub_id ==  "#{:destination_hub_select}"}, :id, :name, {include_blank: '-- Choose --'}, { :onchange => "populate_store(this.value,'destination')", :id => 'destination_warehouse_select',:class => 'form-control', :required => true }%>

                </div>

                 <div class="form-group">
                         <%= f.label :destination_store_id, "Destination Store" %>
                            <span class="required">*</span>
                            <%= f.collection_select :destination_store_id,
                            @stores.select{|w| w.warehouse_id ==  "#{:destination_warehouse_select}"}, :id, :name, {include_blank: '-- Choose --'}, {:id => 'destination_store_select',:class => 'form-control'}%>

                </div>


                <div class="form-group">
                          <%= f.label :donor_id %>
                         <span class="required">*</span>
                         <%= select_tag  :organization, options_from_collection_for_select( Organization.all, 'id', 'name', params[:organization] ) , { :required => true, :prompt => "-- Choose --", :class => 'form-control width-100per' }  %>
                </div> 

                 <div class="form-group">
                          <%= f.label :project_id, "Project code" %>
                         <span class="required">*</span>
                         <%= f.collection_select :project_id,
                         @projects.select{|p| p.organization_id == "#{:donor_select}"}, :id, :project_code, {include_blank: '-- Choose --'}, {:class => 'form-control', :id => 'project_code_select', :required => true }%>
                </div> 

               

                <div class="form-group">
                            <%= f.label :commodity_id, "Commodity" %>
                <%= f.hidden_field :commodity_id, :class => 'form-control' ,:readonly => true %>
                <%= f.text_field :commodity_id, :class => 'form-control', :id => "commodity_id" ,:readonly => true %>
                        </div>

                <div class="form-group">
                            <%= f.label :quantity %>
                <%= f.text_field :quantity, :class => 'form-control' %>
                        </div>


                <div class="form-group">
                            <%= f.label :description %>
                <%= f.text_area :description, :class => 'form-control' %>
                        </div>

      
      <div class="actions">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
  <% end %>

    </div>
  </div>
</div>


<script>

var EMPTY_OPTION = '<option value="">-- Choose --</option>';
function populate_warehouse(id,type)
{
       
        var hub_id =id;
     
        var warehouses = <%= @warehouses.to_json.html_safe %>   
        var warehouses_in_hub = $.grep(warehouses, function (elem) {
          return elem.hub_id == hub_id
        });
    
        var warehouse_options = $.map(warehouses_in_hub, function (val) {
          return '<option value="' + val.id + '">' + val.name + '</option>';
        });
       warehouse_options.unshift(EMPTY_OPTION);

       if (type == 'source')
       {
                $('#warehouse_select').html(warehouse_options);
                $('#warehouse_select').val(<%= params[:warehouse] %>)  
         }
      else{
                $('#destination_warehouse_select').html(warehouse_options);
                $('#destination_warehouse_select').val(<%= params[:warehouse] %>) 
      }

       populate_store("<%= params[:warehouse] %>", type)
}

function populate_store(warehouse_id, type)
{
        
        var stores = <%= @stores.to_json.html_safe %>   
        var stores_in_warehouse = $.grep(stores, function (elem) {
          return elem.warehouse_id == warehouse_id
        });
    
        var store_options = $.map(stores_in_warehouse, function (val) {
          return '<option value="' + val.id + '">' + val.name + '</option>';
        });
       store_options.unshift(EMPTY_OPTION);

         if (type == 'source')
       {
                $('#store_select').html(store_options);
                $('#store_select').val(<%= params[:store] %>)       
       }
       else{
                $('#destination_store_select').html(store_options);
                $('#destination_store_select').val(<%= params[:store] %>)
       }
      
}

         $('#organization').change(function(){
                  var donor_id = $(this).val();
                  updateProjects(donor_id);
                });

      $('#project_code_select').change(function(){
                  var project_id = $(this).val();
                  get_commodity(project_id);
                });

      function updateProjects(donor_id){    
            
        if (donor_id === '')
          return;
        var allProjects = <%= @projects.to_json.html_safe %>
      
        var projects_by_donor = $.grep(allProjects, function (elem) {
          return elem.organization_id == donor_id
        });

        var proj_options = $.map(projects_by_donor, function (val) {
          return '<option value="' + val.id + '">' + val.project_code + '</option>';
        });

        proj_options.unshift(EMPTY_OPTION);

        $('#project_code_select').html(proj_options);
      }

        function get_commodity(project_id)
        {
               
                $.ajax( { url: '/stock_movements/getCommodity/' + project_id,cache: false, method: 'GET'})
                .done( function(data) {
                if ($("#project_code_select").val()==""){
                                $("#stock_movement_commodity_id").val("");
                        } 
                        else
                        {
                                $("#stock_movement_commodity_id").val(data.id);
                                $("#commodity_id").val(data.name);
                        }
                });
    }

    </script>