<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Stock Movements</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Stock Movements</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Stock Movement', new_stock_movement_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="row wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Reference</th>    
            <th>Source</th>          
            <th>Destination</th>          
            <th>Project</th>
            <th>Quantity</th>
            <th>Unit of Measure</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @stock_movements.each do |stock_movement| %>
          <% @dispatch_count = Dispatch.where(:dispatch_type_id => stock_movement.id).count %>
          <tr>
            <td><%= link_to stock_movement&.reference_no, stock_movement_path(stock_movement.id) %></td>
            <td><%= stock_movement&.source_hub&.name + " > " + stock_movement&.source_warehouse&.name %></td>
            <td><%= stock_movement&.destination_hub&.name + " > " + stock_movement&.destination_warehouse&.name %></td>
            <td><%= stock_movement&.project&.project_code + " [" + stock_movement&.commodity&.name + "]" %></td>
            <td><%= stock_movement.quantity %></td>
            <td><%= stock_movement&.unit_of_measure&.name %></td>
            <% if (stock_movement.status == "closed") %>
              <td><span class="label label-default"><%= stock_movement.status %></span></td>
            <% else %>
              <td><span class="label label-primary"><%= stock_movement.status %></span></td>
            <% end %>
            <td>
            <% if (stock_movement.status == "open") %>
              <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle" aria-expanded="true">Take Action
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <%= link_to 'Edit', edit_stock_movement_path(stock_movement) %>
                  </li>                     
                  <li>                    
                    <%= link_to 'Close', "/stock_movements/close/" + stock_movement.id.to_s, class: "", method: :post, data: { confirm: 'Are you sure you want to close this Stock Transfer?' } %>  
                  </li>
                  <li>
                    <% if @dispatch_count == 0 %>
                      <%= link_to 'Delete', stock_movement, class: "", method: :delete, data: { confirm: 'Are you sure you want to delete this Stock Transfer?' } %>
                    <% end %>
                  </li>
                </ul>
              </div>
            <% end %> 
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
