<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Stock movement from 
     <%= Hub.find_by(id: @stock_movement&.source_hub_id)&.name %>  to <%= Hub.find_by(id: @stock_movement&.destination_hub_id)&.name %>
     </h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Stock movement", stock_movements_path %>
      </li>
      <li class="active">
        <strong>Detail</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'Cancel', stock_movements_path,  :class => "btn btn-default"%>
        <%= link_to 'Edit', edit_stock_movement_path(@stock_movement), :class => "btn btn-default" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="wrapper wrapper-content">
    <div class="ibox">
      <div class="ibox-content">
        <div class="row">
          <div class="col-lg-12">
            <dl class="dl-horizontal">
              <dt>Status:</dt>
              <dd>
                <span class="label label-primary"><%=  %>  </span>
              </dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5">
            <dl class="dl-horizontal">

              <dt>Source Hub:</dt>
              <dd><%= Hub.find_by(id: @stock_movement&.source_hub_id)&.name %></dd>
              <dt>Source warehouse:</dt>
              <dd><%= Warehouse.find_by(id: @stock_movement&.source_warehouse_id)&.name %></dd>
              <dt>Project:</dt>
              <dd><%= @stock_movement&.project&.project_code %></dd>
              <dt>commodity:</dt>
              <dd><%= @stock_movement&.commodity&.name %></dd>
              <dt>Amount:</dt>
              <dd><%= @stock_movement&.quantity %></dd>
            </dl>
          </div>
          <div class="col-lg-7" id="cluster_info">
            <dl class="dl-horizontal">

              <dt>Destination Hub:</dt>
              <dd><%= Hub.find_by(id: @stock_movement&.destination_hub_id)&.name %></dd>
              <dt>Destination warehouse:</dt>
              <dd><%= Warehouse.find_by(id: @stock_movement&.destination_warehouse_id)&.name %></dd>

              <dt>Date:</dt>
              <dd> <%= @stock_movement.movement_date  %> </dd>
              <dt>Unit:</dt>
              <dd><%= UnitOfMeasure.find_by(id: @stock_movement.unit_of_measure_id)&.name %></dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <dl class="dl-horizontal">
              <dt>Receipt Progress:</dt>
              <dd>
                <div class="progress progress  m-b-sm">
                  <div style="width: <%= number_to_percentage(10, precision: 1) %>;" class="progress-bar"></div>
                </div>
                <small>Receipt Progress progress is at
                  <strong><%= number_to_percentage(10, precision: 1) %></strong>.</small>
              </dd>
            </dl>

            <dl class="dl-horizontal">
              <dt>Dispatch Progress:</dt>
              <dd>
                <div class="progress progress  m-b-sm">
                  <div style="width: <%= number_to_percentage(20, precision: 1) %>;" class="progress-bar"></div>
                </div>
                <small>Dispatch Progress progress is at
                  <strong><%= number_to_percentage(10, precision: 1) %></strong>.</small>
              </dd>
            </dl>

          </div>
        </div>
        <div class="row m-t-sm">
          <div class="col-lg-12">
            <div class="panel blank-panel">
              <div class="panel-heading">
                <div class="panel-options">
                  <ul class="nav nav-tabs">
                    <li class="active">
                      <a href="#tab-1" data-toggle="tab">Receipt</a>
                    </li>
                    <li class="">
                      <a href="#tab-2" data-toggle="tab">Dispatch</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="panel-body">

                <div class="tab-content">
                  <div class="tab-pane active" id="tab-1">
                            <div class="title-action">
                               <a href="#" class='btn btn-primary btn-sm new-receipt-modal' data-toggle="modal" data-id="1" data-target="#new-receipt-modal">New Receipt</a>
                            </div>
                    <div>
                      <%if(false)%>
                        <h2>
                            No Requests are made for this operation<br>
                        </h2>
                      <%else%>
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>Req No (Invoice No)</th>
                              <th>GRN</th>
                              <th>Amount</th>                           
                              <th>Unit</th>
                              <th>Transporter</th>
                              <th>Received by</th>        
                              <th>Driver</th>                     
                            </tr>
                          </thead>
                          <tbody>
                            
                            <tr>
                              <td> </td>
                              <td> </td>
                              <td> </td>
                              <td> </td> 
                              <td> </td> 
                              <td> </td>                              
                              <td> </td>    
                            </tr>
                          
                            <tr>
                            <td>Total</td>
                            <td></td>
                            <td align="right"><%=  %></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                          </tbody>
                        </table>
                      <%end%>
                     
                      
                    </div>

                  </div>
                  <div class="tab-pane" id="tab-2">
                    <div>
                      <%if(false)%>
                        <h2>
                            No <br>
                        </h2>
                      <%else%>
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>Req No (Invoice No)</th>
                              <th>GIN</th>
                              <th>Amount</th>                           
                              <th>Unit</th>
                              <th>Transporter</th>
                              <th>Dispatched by</th>        
                              <th>Driver</th>                     
                            </tr>
                          </thead>
                          <tbody>
                           
                            <tr>
                              <td> </td>
                              <td> </td>
                              <td> </td>
                              <td> </td> 
                              <td> </td> 
                              <td> </td>                              
                              <td> </td>    
                            </tr>
                            
                            <tr>
                            <td>Total</td>
                            </tr>
                          </tbody>
                        </table>
                      <%end%>                   
                      
                    </div>

                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="new-receipt-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Receipt</h4>
      </div>
      <div class="modal-body col-md-12 col-sm-12 col-xs-12">
    

     <form role="form" method="POST" enctype="multipart/form-data" action="/en/stock_movements/createReceive/<%= @stock_movement.id %>" class="form-inline" style="display: inline;margin-top: 15px"">
      
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
       <input  type="text" name="sm_id" id="sm_id" value=<%= @stock_movement.id %> /> 
     <div class="ibox float-e-margins col-md-12 col-sm-12 col-xs-12">          
          <div class="col-md-6 col-sm-6 col-xs-6">

              <label for="grn">GRN
              <span class="required">*</span>
              </label>
              <div>
                <input  type="text" name="grn" id="grn" value="" />
              </div>

               <label for="receive_date">Receive Date </label>
                <span class="required">*</span>
                <div>
                  <input  type="text" name="receive_date" id="receive_date" value="" class="datepicker"/>
                </div>


                <label for="receive_date">Transporter</label>
                <span class="required">*</span>
                <div class="">
                  <%= select("transporter", "transporter_id", Transporter.all.collect{|t| [t.name, t.id ]}, {prompt: '-- Choose --'}, {:style => "width: 170px",:class => 'form-control', :required => true, :name => 'transporter' }) %>
                </div>
                
                <label for="receive_date">Plate No</label>
                <span class="required">*</span>
                <div>
                  <input  type="text" name="plate_no" id="plate_no" value="" value=""/>
                </div>

                </div>

   
          <div class="col-md-6 col-sm-6 col-xs-6">

                <label for="grn">Plate No Trailer
                <span class="required">*</span></label>
                 <div>
                     <input  type="text" name="plate_no_trailer" id="plate_no_trailer" value="" />
                </div>


                 <label for="grn">Store
                <span class="required">*</span></label>
                 <div>
                     <%= select("store", "store_id", Store.all.collect{|t| [t.name, t.id ]}, {prompt: '-- Choose --'}, {:class => 'form-control input-small', :required => true, :name => 'store' }) %>
                </div>

                 <label for="grn">Store Keeper
                <span class="required">*</span></label>
                 <div>
                     <input  type="text" name="store_keeper" id="store_keeper" value="" />
                </div>

                 <label for="grn">Unit
                <span class="required">*</span></label>
                 <div>
                     <%= select("unit", "unit_id", UnitOfMeasure.all.collect{|t| [t.name, t.id ]}, {prompt: '-- Choose --'}, {:class => 'form-control input-small', :required => true, :name => 'unit' }) %>
                </div>

                 <label for="grn">Amount
                <span class="required">*</span></label>
                 <div>
                     <%= number_field_tag :quantity, '', min: 0, max: 9999999999999999, :step => 'any', class: "number", placeholder: '0.00' %>
                </div>


           </div>
      </div>

          

      </div>

       <div class="modal-footer">
        <div class="col-md-6 col-sm-6 colxs-6">
            <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
      </div>
      </form>
    
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->