<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Framework Tender: <%=  %></h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Framework Tenders</a>
      </li>
      <li class="active">
        <strong>Warehouse Selections</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Warehouse Selection', new_warehouse_selection_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

    </div>
  </div>  
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
                        <th>Framework tender</th>
                        <th>Woreda</th>
                        <th>Warehouse</th>
                        <th>Estimated qty</th>
                        <th>Created by</th>
                        <th>Modified by</th>
                        <th>Deleted</th>
                        <th>Deleted at</th>
                        <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @warehouse_selections.each do |warehouse_selection| %>
          <tr>
                        <td><%= warehouse_selection.framework_tender_id
              %></td>
                        <td><%= warehouse_selection.location_id
              %></td>
                        <td><%= warehouse_selection.warehouse_id
              %></td>
                        <td><%= warehouse_selection.estimated_qty
              %></td>
                        <td><%= warehouse_selection.created_by
              %></td>
                        <td><%= warehouse_selection.modified_by
              %></td>
                        <td><%= warehouse_selection.deleted
              %></td>
                        <td><%= warehouse_selection.deleted_at
              %></td>
                        <td>
              <%= link_to 'Edit', edit_warehouse_selection_path(warehouse_selection) %> &middot;
              <%= link_to 'Delete', warehouse_selection, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
