<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Stores</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Stores</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Store', hubs_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
                        <th>Name</th>
                        <th>Temporary</th>
                        <th>Warehouse</th>
                        <th>Hub</th>
                        <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @stores.each do |store| %>
          <tr>
            <td><%= store.name%></td>
            <td><%= store.temporary%></td>
            <td><%= store.warehouse.name%></td>    
            <td><%= store.warehouse.hub.name%></td>
            <td>
              <%= link_to 'Edit', edit_store_path(store) %> &middot;
              <%= link_to 'Delete', store, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
