<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>New Store</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Store</a>
      </li>
      <li class="active">
        <strong>New</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'Cancel', warehouse_stores_path,  :class => "btn btn-default"%>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <%= form_for @store , url: warehouse_stores_path do |f| %>
        <% if @store.errors.any? %>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved.
            </div>

            <div class="panel-body">
              <ul>
                <% @store.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

                <div class="form-group">
                            <%= f.label :name %>
                <%= f.text_field :name, :class => 'form-control' %>
                        </div>

                <div class="form-group">
                            <%= f.label :temporary %> &nbsp;
                <%= f.check_box :temporary, :class => 'form-inline' %>
                </div>              

                <div class="form-group">
                            <%= f.label :store_owner_id %>
                <%= f.text_field :store_owner_id, :class => 'form-control' %>

                </div>


      <div class="actions">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
  <% end %>

    </div>
  </div>
</div>
