<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Bids</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Bids</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Bid', new_bid_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="ibox float-e-margins">
  <div class="ibox-content">

<form class="form-horizontal">

  <div class="form-group">
    <label class="control-label col-sm-2" >Year:</label>
    <div class="col-sm-2">
      <label class="control-label" >2017</label>
    </div>

    <label class="control-label col-sm-2" >Total destination:</label>
    <div class="col-sm-2">
      <label class="control-label" >###</label>
    </div>

  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Half-year:</label>
    <div class="col-sm-2"> 
      <label class="control-label" >1</label>
    </div>

       <label class="control-label col-sm-2">Total commodity:</label>
    <div class="col-sm-2"> 
      <label class="control-label" >### mt</label>
    </div>

  </div>
  
   <div class="form-group">
    <label class="control-label col-sm-2">Starting month:</label>
    <div class="col-sm-2"> 
      <label class="control-label" >June</label>
    </div>

    <label class="control-label col-sm-2">Created date:</label>
    <div class="col-sm-2"> 
      <label class="control-label" >##/##/####</label>
    </div>

  </div>

   <div class="form-group">
    <label class="control-label col-sm-2">Ending month:</label>
    <div class="col-sm-2"> 
      <label class="control-label" >July</label>
    </div>

     <label class="control-label col-sm-2">Certified by:</label>
    <div class="col-sm-2"> 
      <label class="control-label" >User</label>
    </div>


  </div>



</form>

</div>
</div>


<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
                       
                        <th>Region</th>
                        <th>Bid number</th>
                        <th>Bid bond amount</th>
                        <th>Start date</th>
                        <th>Closing date</th>
                        <th>Opening date</th>
                        <th>Status</th>
                        <th>Remark</th>
                        <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @bids.each do |bid| %>
          <tr>
                        
                        <td><%= bid.location.name
              %></td>
                        <td><%= bid.bid_number
              %></td>
                        <td><%= bid.bid_bond_amount
              %></td>
                        <td><%= bid.start_date
              %></td>
                        <td><%= bid.closing_date
              %></td>
                        <td><%= bid.opening_date
              %></td>
                        <td><%= bid.status
              %></td>
                        <td><%= bid.remark
              %></td>
                        <td>
              <%= link_to 'Edit', edit_bid_path(bid) %> &middot;
              <%= link_to 'Delete', bid, method: :delete, data: { confirm: 'Are you sure?' } %>

               <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle" aria-expanded="true">Status
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                      <li>
                       <%= link_to 'Approve', 'bids/update_status/' + bid.id.to_s + "/" +  "approved" %> 
                      </li>
                     
                      <li>
                       <%= link_to 'Cancel', 'bids/update_status/' + bid.id.to_s + "/" +  "canceled" %> 
                      </li>

                       <li>
                       <%= link_to 'Close', 'bids/update_status/' + bid.id.to_s + "/" +  "closed" %> 
                      </li>

                       <li>
                       <%= link_to 'Archive', 'bids/update_status/' + bid.id.to_s + "/" +  "archived" %> 
                      </li>
                    </ul>
                  </div>


            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
