<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Bids</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Bids</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Bid', new_bid_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>


<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
                       
                        <th>Region</th>
                        <th>Bid number</th>
                        <th>Bid bond amount</th>
                        <th>Start date</th>
                        <th>Closing date</th>
                        <th>Opening date</th>
                        <th>Status</th>
                        <th>Remark</th>
                        <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @bids.each do |bid| %>
          <tr>
                        
                        <td><%= bid.location.name
              %></td>
                        <td><%= bid.bid_number
              %></td>
                        <td><%= bid.bid_bond_amount
              %></td>
                        <td><%= bid.start_date
              %></td>
                        <td><%= bid.closing_date
              %></td>
                        <td><%= bid.opening_date
              %></td>
                        <td><%= bid.status
              %></td>
                        <td><%= bid.remark
              %></td>
                        <td>
              <%= link_to 'Edit', edit_bid_path(bid) %> &middot;
              <%= link_to 'Delete', bid, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
