<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Bids</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Bids</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Bid', new_bid_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="ibox float-e-margins">
 <div class="ibox-title">
   <h3> <strong> Framework Tender: <%= @framework_tender.year.to_s + '/' + @framework_tender.half_year.to_s %> </strong> </h3></div>
  <div class="ibox-content">
 
<form class="form-horizontal">


  <div class="form-group">
   
    <label class="control-label col-sm-4" >Year:</label>
    <div class="col-sm-2">
      <label class="control-label" ><%= @framework_tender.year %></label>
    </div>

    <label class="control-label col-sm-2" >Total destination:</label>
    <div class="col-sm-2">
      <label class="control-label" >###</label>
    </div>

  </div>
  <div class="form-group">
    <label class="control-label col-sm-4">Half-year:</label>
    <div class="col-sm-2"> 
      <label class="control-label" ><%= @framework_tender.half_year %></label>
    </div>

       <label class="control-label col-sm-2">Total commodity:</label>
    <div class="col-sm-2"> 
      <label class="control-label" >### mt</label>
    </div>

  </div>
  
   <div class="form-group">
    <label class="control-label col-sm-4">Starting month:</label>
    <div class="col-sm-2"> 
      <label class="control-label" ><%=  Date::MONTHNAMES[@framework_tender.starting_month]  %></label>
    </div>

    <label class="control-label col-sm-2">Created date:</label>
    <div class="col-sm-2"> 
      <label class="control-label" >##/##/####</label>
    </div>

  </div>

   <div class="form-group">
    <label class="control-label col-sm-4">Ending month:</label>
    <div class="col-sm-2"> 
      <label class="control-label" ><%= Date::MONTHNAMES[@framework_tender.ending_month ] %></label>
    </div>

     <label class="control-label col-sm-2">Certified by:</label>
    <div class="col-sm-2"> 
      <label class="control-label" >user</label>
    </div>


  </div>



</form>

</div>
</div>


<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
                       
                        <th>Region</th>
                        <th>Bid number</th>
                        <th>Bid bond amount</th>
                        <th>Start date</th>
                        <th>Closing date</th>
                        <th>Opening date</th>
                        <th>Status</th>
                        <th>Remark</th>
                        <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @bids.each do |bid| %>
          <tr>
                        
                        <td><%= bid.location.name
              %></td>
                        <td><%= bid.bid_number
              %></td>
                        <td><%= bid.bid_bond_amount
              %></td>
                        <td><%= bid.start_date
              %></td>
                        <td><%= bid.closing_date
              %></td>
                        <td><%= bid.opening_date
              %></td>
                        <td><%= bid.status
              %></td>
                        <td><%= bid.remark
              %></td>
                        <td>
              <%= link_to 'Edit', edit_bid_path(bid) %> &middot;
              <%= link_to 'Delete', bid, method: :delete, data: { confirm: 'Are you sure?' } %> &middot;
              <a href="/bids/request_for_quotations/<%= bid.id %>.xlsx"> Download RFQ </a> &middot;
              <a href="#"  data-toggle="modal" data-id="<%= bid.id %>" class="rfq-modal" data-target="#rfq-modal">Upload RFQ</a> 
    
               <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle" aria-expanded="true">Status
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                      <li>
                       <%= link_to 'Approve', 'bids/update_status/' + bid.id.to_s + "/" +  "approved" %> 
                      </li>
                     
                      <li>
                       <%= link_to 'Cancel', 'bids/update_status/' + bid.id.to_s + "/" +  "canceled" %> 
                      </li>

                       <li>
                       <%= link_to 'Close', 'bids/update_status/' + bid.id.to_s + "/" +  "closed" %> 
                      </li>

                       <li>
                       <%= link_to 'Archive', 'bids/update_status/' + bid.id.to_s + "/" +  "archived" %> 
                      </li>
                    </ul>
                  </div>


            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="rfq-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Upload RFQ</h4>
      </div>
      <div class="modal-body">
    

     <form role="form" method="POST" enctype="multipart/form-data" action="/bids/upload_rfq/2" class="form-inline" style="display: inline;margin-top: 15px"">
      
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  
      <div class="form-group">
          <label for="transporter">Transporter
            <span class="required">*</span>
          </label>
          <div>
            <%= select("transporter", "transporter_id", Transporter.all.collect{|t| [t.name, t.id ]}, {prompt: '-- Choose --'}, {:class => 'form-control', :required => true, :name => 'transporter' }) %>
          </div>
        </div>

      <div class="form-group">
        <label for="transporter">File </label>
        <span class="required">*</span>
        <div>
            <input  type="hidden" name="bid_id" id="bid_id" value="" />
            <input type="file" name="file" class="form-control" required />
            <input type="submit" class="btn btn-primary" value="Upload Request Items" />
        </div>
      </div>

   
        
      </form>


      </div>
    
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$(document).on("click", ".rfq-modal",function(){
  var bid_id = $(this).data('id');
  $(".form-group #bid_id").val(bid_id);
});
</script>