

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h3> <strong> Framework Tender: <%= @framework_tender.year.to_s + '/' + @framework_tender.half_year.to_s %> </strong> </h3>
    <ol class="breadcrumb">
      <li>
        <a href="#">Bid</a>
      </li>
      <li class="active">
        <strong>Transport quotes</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'Cancel', bids_path(:framework_tender_id => @bid.framework_tender_id),  :class => "btn btn-default"%>
    </div>
  </div>
</div>

<div class="ibox float-e-margins">

  <div class="ibox-content col-md-12 col-sm-12 col-xs-12">
 



  
    <div class="col-sm-1">
      <% if (@framework_tender&.status == 'approved') %>
        <span class="label label-primary"><%= @framework_tender&.status %></span>
      <% elsif (@framework_tender&.status == 'canceled') %>
        <span class="label label-danger"><%= @framework_tender&.status %></span>
      <% elsif (@framework_tender&.status == 'closed') %>
        <span class="label label-success"><%= @framework_tender&.status %></span>
      <% elsif (@framework_tender&.status == 'archived') %>
        <span class="label label-default"><%= @framework_tender&.status %></span>
      <% else %>
        <span class="label label-warning"><%= @framework_tender&.status %></span>
      <% end %>
    </div>
    <div class="col-sm-4">
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
          Year:
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <%= @framework_tender&.year %>
        </div>
      </div>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
          Half-year:
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <%= @framework_tender&.half_year %>
        </div>
      </div>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
          Starting Month:
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
        <% if (!(@framework_tender.blank?)) %>
          <%=  Date::MONTHNAMES[@framework_tender&.starting_month] %>
        <% end %>
        </div>
      </div>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
          End Month:
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
        <% if (!(@framework_tender.blank?)) %>
          <%= Date::MONTHNAMES[@framework_tender&.ending_month] %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-4 col-sm-4 col-xs-4 text-right">
          Total Destinations:
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
          <%= @total_destinations %>
        </div>
      </div>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-4 col-sm-4 col-xs-4 text-right">
          Total commodity:
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
          <%= @total_amount %> mt
        </div>
      </div>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-4 col-sm-4 col-xs-4 text-right">
          Created date:
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
        <% if (!(@framework_tender.blank?)) %>
          <%= @framework_tender&.created_at.to_formatted_s(:long_ordinal)  %>
        <% end %>
        </div>
      </div>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-4 col-sm-4 col-xs-4 text-right">
          Certified by:
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
        <% if (!(@framework_tender.blank?)) %>
          <%= @user&.first_name.to_s + " " + @user&.last_name.to_s %>
        <% end %>
        </div>
      </div>
    </div>




</div>
</div>


<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
                       
                        <th>Transporter</th>
                        <th>Total number of Destinations</th>
                        <th>Tasks</th>
          </tr>
        </thead>

        <tbody>
          <% @transporters.each do |transporter| %>
          <tr>                        
            <td> <%= link_to transporter&.transporter&.name, '/bid_quotations?transporter=' + transporter.transporter_id.to_s + '&bid=' + transporter&.bid_id.to_s %> </td>
            <td><%= transporter&.destination_count %> </td>
            <td> 
            <% if policy(Bid).upload_rfq? %>
            <a href="#"  data-toggle="modal" data-transporter_id= "<%= transporter&.transporter&.id %>" data-id="<%= transporter&.bid_id %>" class="rfq-modal" data-target="#rfq-modal">Update</a>  
            <% end %>
            </td>&middot;                       
            <td> 
            <% if policy(Bid).remove_bid_quotation? %>
              <%= link_to "Remove",  {:controller => "bids", :action => "remove_bid_quotation", :id => transporter&.bid_id, :transporter_id => transporter&.transporter_id }, method: :delete , data: { confirm: 'Are you sure?' } %> 
            <% end %>
            </td>&middot;
            <td>      
            <% if policy(BidQuotation).create? %>                 
              <% if (@framework_tender&.status == 'open') %>
                <a class="add-transpoter-quote" data-transporter-name="<%= transporter&.transporter&.name %>" data-transporter-id= "<%= transporter&.transporter&.id %>" data-bid-id="<%= transporter&.bid_id %>" data-ft-id="<%= @framework_tender_id %>" data-target="#add-transpoter-quote" data-toggle="modal">
                      Add Transporter Quote
                </a>
              <% end %>
            <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>



<div class="modal fade" tabindex="-1" role="dialog" id="rfq-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Upload RFQ</h4>
      </div>
      <div class="modal-body">
    

     <form role="form" method="POST" enctype="multipart/form-data" action="/bids/upload_rfq" class="form-inline" style="display: inline;margin-top: 15px"">
      
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  
      <div class="form-group">
          <label for="transporter">Transporter
            <span class="required">*</span>
          </label>
          <div>
            <%= select("transporter", "transporter_id", Transporter.all.collect{|t| [t.name, t.id ]}, {prompt: '-- Choose --'}, {:class => 'form-control', :required => true, :name => 'transporter' }) %>
          </div>
        </div>

      <div class="form-group">
        <label for="transporter">File </label>
        <span class="required">*</span>
        <div>
            <input  type="hidden" name="bid_id" id="bid_id" value="" />
            <input  type="hidden" name="transporter" id="transporter" value="" />
            <input type="file" name="file" class="form-control" required />
            <input type="submit" class="btn btn-primary" value="Upload Request Items" />
        </div>
      </div>

   
        
      </form>


      </div>
    
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->






<div class="modal inmodal" id="add-transpoter-quote" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 id='modal-title' class="modal-title">Add Quote for</h4>
      </div>
      <div class="modal-body col-md-12 col-sm-12 col-xs-12">
        <div class="ibox float-e-margins col-md-12 col-sm-12 col-xs-12">      
          <div class="col-md-6 col-sm-6 col-xs-6">
               <%= label_tag :region, "Region", { :class => ' control-label'} %>

            <div class="">
              <%= select_tag  :region,  options_from_collection_for_select(Location.where({location_type: 'region'}), 'id', 'name', params[:region] ) , {:required => false , :prompt => "-- Select a Region --", :class => 'form-control width-100per' }  %>
            </div>
          </div>    

          <div class="col-md-6 col-sm-6 col-xs-6">

             <%= label_tag :zone, "Zone", { :class => ' control-label', :required => true } %>

              <div class="">
                <%= select_tag :zone, options_from_collection_for_select([], "id", "name", params[:zone]),
                  :required => true , :class => 'form-control width-100per', :style => 'min-width: 80px',
                  "data-option-dependent" => true,
                  "data-option-observed" => "region",
                  "data-option-url" => "/locations/#{:region}/children",
                  "data-option-key-method" => :id,
                  "data-option-value-method" => :name %>
              </div>
            </div>
        </div>
        <div class="ibox float-e-margins col-md-12 col-sm-12 col-xs-12">
           <div class="col-md-6 col-sm-6 col-xs-6">
              <%= label_tag :woreda, "Woreda", { :class => ' control-label', :required => true } %>

              <div class="">
                <%= select_tag :woreda, options_from_collection_for_select([], "id", "name", params[:woreda]),
                  :required => true , :class => 'form-control width-100per', :style => 'min-width: 80px',
                  "data-option-dependent" => true,
                  "data-option-observed" => "zone",
                  "data-option-url" => "/locations/#{:zone}/children",
                  "data-option-key-method" => :id,
                  "data-option-value-method" => :name %>
              </div>
            </div>
       
        
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%= label_tag :hub, "Hub", { :class => ' control-label'} %>

            <div class="">
              <%= select_tag  :hub,  options_from_collection_for_select( Hub.all, 'id', 'name', params[:hub] ) , {:required => true , :prompt => "-- Select a Hub --", :class => 'form-control width-100per' }  %>
            </div>
         </div>
      </div>

          <div class="ibox float-e-margins col-md-12 col-sm-12 col-xs-12">
           <div class="col-md-6 col-sm-6 col-xs-6">
              <%= label_tag :warehouse, "Warehouse", { :class => ' control-label', :required => true } %>

              <div class="">
                <%= select_tag :warehouse, options_from_collection_for_select([], "id", "name", params[:warehouse]),
                  :required => true , :class => 'form-control width-100per', :style => 'min-width: 80px',
                  "data-option-dependent" => true,
                  "data-option-observed" => "hub",
                  "data-option-url" => "/warehouses/#{:hub}.json",
                  "data-option-key-method" => :id,
                  "data-option-value-method" => :name %>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <label class='control-label'>Tariff</label> <br>
                <%= number_field_tag :tariff, '', min: 0, max: 9999999999999999, :step => 'any', class: "number", placeholder: '0.00' %>
                </div>
            </div>
      
      
          
        <div class="spinner col-md-12 col-sm-12 col-xs-12">
            
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-6 col-sm-6 colxs-6">
          <div class="pll-right" style="width:inherit;"> 
           Add more
            <%= check_box_tag 'keep_creating', false %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 colxs-6">
             <div class="form-group">
            <input  type="hidden" name="bid_id" id="bid_id" value="" />
            <input  type="hidden" name="transporter_id" id="transporter_id" value="" />
          <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="save-ws-btn" data-ftid=<%= params[:id] %>>Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<script>
$(document).on("click", ".rfq-modal",function(){
  var bid_id = $(this).data('id');
  var transporter_id = $(this).data('transporter_id');
  $(".form-group #bid_id").val(bid_id);
  $(".form-group #transporter").val(transporter_id);
  $('select[name=transporter]').val(transporter_id)
  $('select[name=transporter]').attr('disabled', true)
});

$(document).on("click", ".add-transpoter-quote",function(){
  var bid_id = $(this).data('bid-id');
  var transporter_id = $(this).data('transporter-id');
  var transporter_name = $(this).data('transporter-name');
  $(".form-group #bid_id").val(bid_id);
  $(".form-group #transporter_id").val(transporter_id);


  $('#modal-title').append(': ' + transporter_name);
  $('#add-transpoter-quote .spinner').show(); 
  $('#add-transpoter-quote .form-container').hide(); 

});


</script>