<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Transporter Addresses</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Transporter Addresses</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
    <% if policy(TransporterAddress).new? %>
      <%= link_to 'New Transporter Address', new_transporter_address_path, :class => "btn btn-primary"%>
    <% end %>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
                        <th>Region</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @transporter_addresses.each do |transporter_address| %>
          <tr>
                        <td><%= transporter_address.region_id
              %></td>
                        <td><%= transporter_address.phone
              %></td>
                        <td><%= transporter_address.email
              %></td>
                        <td>
              <% if policy(TransporterAddress).edit? %>
                <%= link_to 'Edit', edit_transporter_address_path(transporter_address) %> &middot;
              <% end %>
              <% if policy(TransporterAddress).destroy? %>
                <%= link_to 'Delete', transporter_address, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
