<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Currencies</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Currencies</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Currency', new_currency_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="ibox float-e-margins">


  <div class="ibox-content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @currencies.each do |currency| %>
          <tr>
            <td><%= currency.symbol %></td>
            <td><%= currency.name %></td>
            <td><%= currency.description %></td>
            <td>
              <%= link_to 'Edit', edit_currency_path(currency) %>  &middot;
              <%= link_to 'Delete', currency, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

