<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Programs</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Settings</a>
      </li>
       <li>
        <a href="#">General Settings</a>
      </li>
      <li class="active">
        <strong>Programs</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Program', new_program_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="row">

  <div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Code</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @programs.each do |program| %>
            <tr>
              <td><%= program.name %></td>
              <td><%= program.code %></td>
              <td><%= program.description %></td>
              <td>
                <%= link_to 'Edit', edit_program_path(program) %>
                &middot;
                <%= link_to 'Delete', program, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
