    <p>
      <strong>Name:</strong>
      <%= @program.name %>
    </p>

    <p>
      <strong>Code:</strong>
      <%= @program.code %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @program.description %>
    </p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>