    <p>
      <strong>Name:</strong>
      <%= @program.name %>
    </p>

    <p>
      <strong>Code:</strong>
      <%= @program.code %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @program.description %>
    </p>
<% if policy(Program).edit? %>
  <%= link_to 'Edit', edit_program_path(@program) %> |
<% end %>
<%= link_to 'Back', programs_path %>