<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Warehouse Allocations</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active">
        <strong>Warehouse Allocations</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
  </div>
</div>


  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <%= form_tag( warehouse_allocations_path ,{ class: 'form-inline', style: 'display: inline-block;', role: 'form', method: 'GET'}) do %>

          <div class="form-group">
            <%= label_tag :operation, "Operation", { :class => ' control-label'} %>

            <div class="">
              <%= select_tag  :operation,  options_from_collection_for_select( Operation.all.order('created_at DESC'), 'id', 'name', params[:operation] ) , {:required => true , :prompt => "-- Choose --", :class => 'form-control col-md-6 data-parsley-required' }  %>
            </div>
          </div>
          <div class="form-group">
            <label for=""></label>
            <div>
              <input type="submit" name="filter" value="Go" class="btn btn-sm btn-primary" />
            </div>
          </div>

      <% end %>

    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Region</th>
            <th>Status</th>
            <th>Progress</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @warehouse_allocations.each do |warehouse_allocation| %>
          <tr>
            <td><%= warehouse_allocation[:region_name] %></td>
            <td><%= warehouse_allocation[:status] %></td>
            <td>
              <small><%= number_to_percentage(warehouse_allocation[:progress], precision: 1)%> approved</small>
              <div class="progress progress-mini">
                <div style="width: <%= number_to_percentage(warehouse_allocation[:progress], precision: 1) %>;" class="progress-bar"></div>
              </div>
            </td>
            <td>
            <% if warehouse_allocation[:status] == :generated %>
              <%= link_to 'Reset Allocation', warehouse_allocations_path(warehouse_allocation), :class => "btn btn-warning" %> &middot;
              <%= link_to 'Close', warehouse_allocations_path(warehouse_allocation), :class => "btn btn-danger" %>
            <% elsif warehouse_allocation[:status] == :ready %>
              <%= link_to 'Generate', warehouse_allocations_path(warehouse_allocation), :class => "btn btn-primary" %>
            <% else%>

            <% end %>               
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
</div>
