<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <%= form_for(user) do |f| %>
        <% if user.errors.any? %>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <%= pluralize(user.errors.count, "error") %> prohibited this user from being saved.
            </div>

            <div class="panel-body">
              <ul>
                <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

                <div class="form-group">
                            <%= f.label :first_name %>
                <%= f.text_field :first_name, :class => 'form-control' %>
                        </div>

                <div class="form-group">
                            <%= f.label :last_name %>
                <%= f.text_field :last_name, :class => 'form-control' %>
                        </div>

                <div class="form-group">
                            <%= f.label :email %>
                <%= f.text_field :email, :class => 'form-control' %>
                        </div>

                <div class="form-group">
                            <%= f.label :is_active %>
                <%= f.check_box :is_active, :class => 'form-control' %>
                        </div>
                
                <%= f.check_box :hubUser, :class => 'form-control hidden' %>
                       
                <%= f.check_box :regionalUser, :class => 'form-control hidden ' %>

                <%= f.check_box :Admin, :class => 'form-control hidden' %>

                <%= f.check_box :IsCaseTeam, :class => 'form-control hidden' %>       
               
                       
                

                 <div class="form-group" id="div-role">
                            <%= f.label :Role %>
                <%= select_tag(:role,options_for_select(@roles),{:class => 'form-control'}) %>
                </div>


                 <div class="form-group" id="div-caseTeam">
                            <%= f.label :Role %>
                <%= f.select :case_team,options_for_select(@caseTeam, :selected => f.object.case_team, :include_blank => true),{}, {:class => 'form-control'} %>
                </div>

                 

                 <div class="form-group" id="div-hub">
                            <%= f.label :Hub %>
                <%= f.select :hub,options_for_select(@hubs, :selected => f.object.hub),{}, {:class => 'form-control'} %>
                </div>


                <div class="form-group" id="div-region">
                            <%= f.label :Region %>
                <%= f.select :region,options_for_select(@region, :selected => f.object.region),{}, {:class => 'form-control'} %>
                </div>
                  
              
      
      <div class="actions">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
  <% end %>

    </div>
  </div>
</div>


<script>
  
  $(document).ready(function()
  {
   
  
    if (document.getElementById("user_IsCaseTeam").checked){

      document.getElementById("role").value = 3
      
      
      $('#div-caseTeam').show();
      $('#div-region').hide();
      $('#div-hub').hide();
   

     

    }
    else if (document.getElementById("user_hubUser").checked){
       
      document.getElementById("role").value = 4

      $('#div-caseTeam').hide();
      $('#div-region').hide();
      $('#div-hub').show();

     

    }
    else if (document.getElementById("user_regionalUser").checked){

      document.getElementById("role").value = 5

      $('#div-caseTeam').hide();
      $('#div-region').show();
      $('#div-hub').hide();

    
    }
    else{
        $('#div-caseTeam').hide();
      $('#div-region').hide();
      $('#div-hub').hide();
    }
  });

  $('#role').change(function()
  {
    if (this.value == 3){ /* case team */

      $('#div-caseTeam').show();
      $('#div-region').hide();
      $('#div-hub').hide();

      document.getElementById("user_Admin").checked = false;
      document.getElementById("user_IsCaseTeam").checked = true;
      document.getElementById("user_hubUser").checked = false;
      document.getElementById("user_regionalUser").checked = false;

    }
    else if (this.value == 4){ /* hubs */
      $('#div-caseTeam').hide();
      $('#div-region').hide();
      $('#div-hub').show();

      
      document.getElementById("user_Admin").checked = false;
      document.getElementById("user_IsCaseTeam").checked = false;
      document.getElementById("user_hubUser").checked = true;
      document.getElementById("user_regionalUser").checked = false;
      

    }
    else if (this.value == 5){ /* regional */
      $('#div-caseTeam').hide();
      $('#div-region').show();
      $('#div-hub').hide();

      document.getElementById("user_Admin").checked = false;
      document.getElementById("user_IsCaseTeam").checked = false;
      document.getElementById("user_regionalUser").checked = true;
      document.getElementById("user_hubUser").checked = false;

    }
    else{     
                       /* admin */
      $('#div-caseTeam').hide();
      $('#div-region').hide();
      $('#div-hub').hide();

      document.getElementById("user_Admin").checked = true;
      document.getElementById("user_IsCaseTeam").checked = false;
      document.getElementById("user_regionalUser").checked = false;
      document.getElementById("user_hubUser").checked = false;

    }
  });
</script>