<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Manage permission for <em><%= @user.name %></em></h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">User</a>
      </li>
      <li class="active">
        <strong>Permissions</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'Cancel', "/users/#{@user.id}/departments",  :class => "btn btn-default"%>
    </div>
  </div>


<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

 <%= form_tag "/users/#{@user.id}/updatePermissions", method: :put do %>

         <table class="table table-bordered">
          <tbody>
            <% @all_permissions.each do |permission| %>
              <tr>
                <td>
                  <%= check_box_tag "permissions[#{permission.id}]", 1 , @user.permissions.include?(permission)  %>
                </td>
                <td><%= permission.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

          <div class="actions">
          <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
          </div>
<%end%>
      


    </div>
  </div>
</div>


