<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-6">
    <h2>Manage permission for <em><%= @user.name %></em></h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">User</a>
      </li>
      <li class="active">
        <strong>Permissions</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-6">
    <div class="title-action">
      <%= link_to 'Cancel', "/users/#{@user.id}",  :class => "btn btn-default"%>
    </div>
  </div>


<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
<div>
  <input type="checkbox" id="selectAll" value="selectAll"> Select / Deselect All<br/><br/>
</div>

 <%= form_tag "/users/#{@user.id}/updatePermissions", method: :put do %>

      <table class="table table-bordered cats-datatable" id="tbl">
        <thead>
          <tr>
             <th>Activity</th>
             <th>Guest</th>
             <th>Clerk</th>
             <th>Manager</th>
             <th>Admin</th>
          </tr>
        </thead>
        
        <tbody>
          <% @unique_permissions.each do |permission| %>
            <tr>
              <td><%= permission %></td>
              <td>
                <% guest_permission = @all_permissions.where(name: permission, user_type: :guest).first %>
                <%= check_box_tag "permissions[#{guest_permission.id}]", 1 , @user.permissions.include?(guest_permission), class: 'guest_' + permission, permission_name: permission  %>
              </td>
              <td>
                <% clerk_permission = @all_permissions.where(name: permission, user_type: :clerk).first %>
                <%= check_box_tag "permissions[#{clerk_permission.id}]", 1 , @user.permissions.include?(clerk_permission), class: 'clerk_' + permission, permission_name: permission  %>
              </td>
              <td>
                <% manager_permission = @all_permissions.where(name: permission, user_type: :manager).first %>
                <%= check_box_tag "permissions[#{manager_permission.id}]", 1 , @user.permissions.include?(manager_permission), class: 'manager_' + permission, permission_name: permission  %>
              </td>
              <td>
                <% admin_permission = @all_permissions.where(name: permission, user_type: :admin).first %>
                <%= check_box_tag "permissions[#{admin_permission.id}]", 1 , @user.permissions.include?(admin_permission), class: 'admin_' + permission, permission_name: permission  %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

          <div class="actions">
          <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
          </div>
<%end%>
      


    </div>
  </div>
</div>


<script>
$('#selectAll').click(function() {
   if (this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;                        
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;                        
       });
   } 
});



$("#tbl").dataTable().fnDestroy();
var table = $('#tbl').DataTable();
table.destroy();
$("form").on('submit', function(e){
   var $form = $(this);
   // Iterate over all checkboxes in the table
   table.$('input[type="checkbox"]').each(function(){
      // If checkbox doesn't exist in DOM
      if(!$.contains(document, this)){
         // If checkbox is checked
         if(this.checked){
            // Create a hidden element 
            $form.append(
               $('<input>')
                  .attr('type', 'hidden')
                  .attr('name', this.name)
                  .val(this.value)
            );
         }
      } 
   });          
});

$(document).ready(function() {
  $('[class^="guest"]').on('click', function (e) {
    var permissionName = $(this).attr("permission_name");
    $(".clerk_" + permissionName).each(function() {
      this.checked = false;                        
    });
    $(".manager_" + permissionName).each(function() {
      this.checked = false;                        
    });
    $(".admin_" + permissionName).each(function() {
      this.checked = false;                        
    });
  });
  $('[class^="clerk"]').on('click', function (e) {
    var permissionName = $(this).attr("permission_name");
    if (this.checked) {      
      $(".guest_" + permissionName).each(function() {
        this.checked = true;                        
      });      
    }
    else{
      $(".manager_" + permissionName).each(function() {
        this.checked = false;                        
      });
      $(".admin_" + permissionName).each(function() {
        this.checked = false;                        
      });
    }
  });
  $('[class^="manager"]').on('click', function (e) {
    var permissionName = $(this).attr("permission_name");
    if (this.checked) {
      $(".guest_" + permissionName).each(function() {
        this.checked = true;                        
      }); 
      $(".clerk_" + permissionName).each(function() {
        this.checked = true;                        
      });     
    }
    else{ 
      $(".admin_" + permissionName).each(function() {
        this.checked = false;                        
      });
    }
  });
  $('[class^="admin"]').on('click', function (e) {
    var permissionName = $(this).attr("permission_name");
    if (this.checked) {      
      $(".guest_" + permissionName).each(function() {
        this.checked = true;                        
      }); 
      $(".clerk_" + permissionName).each(function() {
        this.checked = true;                        
      });  
      $(".manager_" + permissionName).each(function() {
        this.checked = true;                        
      });   
    }
  });
});
</script>