<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Departments</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Settings</a>
      </li>
      <li>
        <a href="#">Users & Accounts</a>
      </li>
      <li class="active">
        <strong>Departments</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
    <% if policy(Department).new? %>
      <%= link_to 'New Department', new_department_path, :class => "btn btn-primary"%>
    <% end %>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped cats-datatable">
        <thead>
          <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @departments.each do |department| %>
          <tr>
                        <td><%= department.name
              %></td>
                        <td><%= department.description
              %></td>
                        <td>
              <% if policy(Department).edit? %>
                <%= link_to 'Edit', edit_department_path(department) %> &middot;
              <% end%>
              <% if policy(Department).destroy? %>
                <%= link_to 'Delete', department, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
