<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Deliveries</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Deliveries</strong>
      </li>
    </ol>
  </div>
  <% if policy(Delivery).new? %>
  <div class="col-sm-8">
    <div class="title-action">

      <%= link_to 'New Delivery', new_delivery_path, :class => "btn btn-primary"%>
    </div>
  </div>
  <% end %>
</div>

<div class="row">
  <div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
      <div class="row m-b-sm m-t-sm">
      <div class="form-group">
          <form method='GET' class = 'form-inline'>          
            <label>Operation</label>             
             <%= select_tag "operation_id",  options_from_collection_for_select( Operation.all, 'id', 'name',params[:operation_id] ) , {:prompt => "-- Choose --", :class => 'form-control data-parsley-required'} %>
             <%= render 'shared/location_selector', name: 'fdp_id', requiredLevels:['region', 'zone','woreda'], locationId: params[:fdp_id] %>
             <hr>
            <label>Gin</label> 
              <input name="gin_number" class = 'form-control'></input>          
            <button class= 'btn btn-sm btn-primary' type= 'submit'> <i class="fa fa-search"></i> Search</button>
          </form>
        </div>

        <table class="table table-striped cats-datatable">
          <thead>
            <tr>
                          <th>Receiving number</th> 
                          <th>FDP</th>
                          <th>Gin</th>
                          <th>Requisition number</th>
                          <th>Received date</th>                         
                          <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @deliveries.each do |delivery| %>
            <tr>
              <td><%= delivery.receiving_number%></td>                          
              <td><%= Fdp.find(delivery.fdp_id).name%></td>
              <td><%= delivery.gin_number%></td>
              <td><%= delivery.requisition_number%></td>
              <td><%= delivery.received_date%></td>
               <td>
               <%if policy(Delivery).edit? %>
                <%= link_to 'Edit', edit_delivery_path(delivery) %> &middot;
                <%end%>
                <%if policy(Delivery).destroy? %>
                <%= link_to 'Delete', delivery, method: :delete, data: { confirm: 'Are you sure?' } %>
                <%end%>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function(){
  $("#region").change(function(e){
    //alert('hi');
     $('#select-fdp option:gt(0)').remove();
    fdps_in_region = <%= Fdp.select {|f| f.region == params[:region]}%>
    $.each(fdps_in_region, function(key,value) {
    $('#select-fdp').append($("<option></option>")
      .attr("value", value).text(key));
    });
    

   
  });
});

 </script>