<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Deliveries</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Deliveries</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Delivery', new_delivery_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
                        <th>Receiving number</th>
                        <th>Donor</th>
                        <th>Transporter</th>
                        <th>Primary plate number</th>
                        <th>Trailer plate number</th>
                        <th>Driver name</th>
                        <th>Fdp</th>
                        <th>Dispatch</th>
                        <th>Waybill number</th>
                        <th>Requisition number</th>
                        <th>Hub</th>
                        <th>Invoice number</th>
                        <th>Delivery by</th>
                        <th>Delivery date</th>
                        <th>Received by</th>
                        <th>Received date</th>
                        <th>Document received by</th>
                        <th>Document received date</th>
                        <th>Status</th>
                        <th>Action type</th>
                        <th>Action type remark</th>
                        <th>Posting</th>
                        <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @deliveries.each do |delivery| %>
          <tr>
                        <td><%= delivery.receiving_number
              %></td>
                        <td><%= delivery.donor_id
              %></td>
                        <td><%= delivery.transporter_id
              %></td>
                        <td><%= delivery.primary_plate_number
              %></td>
                        <td><%= delivery.trailer_plate_number
              %></td>
                        <td><%= delivery.driver_name
              %></td>
                        <td><%= delivery.fdp_id
              %></td>
                        <td><%= delivery.dispatch_id
              %></td>
                        <td><%= delivery.waybill_number
              %></td>
                        <td><%= delivery.requisition_number
              %></td>
                        <td><%= delivery.hub_id
              %></td>
                        <td><%= delivery.invoice_number
              %></td>
                        <td><%= delivery.delivery_by
              %></td>
                        <td><%= delivery.delivery_date
              %></td>
                        <td><%= delivery.received_by
              %></td>
                        <td><%= delivery.received_date
              %></td>
                        <td><%= delivery.document_received_by
              %></td>
                        <td><%= delivery.document_received_date
              %></td>
                        <td><%= delivery.status
              %></td>
                        <td><%= delivery.action_type
              %></td>
                        <td><%= delivery.action_type_remark
              %></td>
                        <td><%= delivery.posting_id
              %></td>
                        <td>
              <%= link_to 'Edit', edit_delivery_path(delivery) %> &middot;
              <%= link_to 'Delete', delivery, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
