    <p>
      <strong>Receiving number:</strong>
      <%= @delivery.receiving_number %>
    </p>

    <p>
      <strong>Donor:</strong>
      <%= @delivery.donor_id %>
    </p>

    <p>
      <strong>Transporter:</strong>
      <%= @delivery.transporter_id %>
    </p>

    <p>
      <strong>Primary plate number:</strong>
      <%= @delivery.primary_plate_number %>
    </p>

    <p>
      <strong>Trailer plate number:</strong>
      <%= @delivery.trailer_plate_number %>
    </p>

    <p>
      <strong>Driver name:</strong>
      <%= @delivery.driver_name %>
    </p>

    <p>
      <strong>Fdp:</strong>
      <%= @delivery.fdp_id %>
    </p>

    <p>
      <strong>Dispatch:</strong>
      <%= @delivery.dispatch_id %>
    </p>

    <p>
      <strong>Waybill number:</strong>
      <%= @delivery.waybill_number %>
    </p>

    <p>
      <strong>Requisition number:</strong>
      <%= @delivery.requisition_number %>
    </p>

    <p>
      <strong>Hub:</strong>
      <%= @delivery.hub_id %>
    </p>

    <p>
      <strong>Invoice number:</strong>
      <%= @delivery.invoice_number %>
    </p>

    <p>
      <strong>Delivery by:</strong>
      <%= @delivery.delivery_by %>
    </p>

    <p>
      <strong>Delivery date:</strong>
      <%= @delivery.delivery_date %>
    </p>

    <p>
      <strong>Received by:</strong>
      <%= @delivery.received_by %>
    </p>

    <p>
      <strong>Received date:</strong>
      <%= @delivery.received_date %>
    </p>

    <p>
      <strong>Document received by:</strong>
      <%= @delivery.document_received_by %>
    </p>

    <p>
      <strong>Document received date:</strong>
      <%= @delivery.document_received_date %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @delivery.status %>
    </p>

    <p>
      <strong>Action type:</strong>
      <%= @delivery.action_type %>
    </p>

    <p>
      <strong>Action type remark:</strong>
      <%= @delivery.action_type_remark %>
    </p>

    <p>
      <strong>Posting:</strong>
      <%= @delivery.posting_id %>
    </p>

    <p>
      <strong>Operation:</strong>
      <%= @delivery.operation_id %>
    </p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>