<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Edit Transporter [<%= @transporter.name %>]</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Transport</a>
      </li>
      <li>
        <%= link_to 'Transporters', transporters_path %>
      </li>
      <li class="active">
        <strong><%= @transporter.name %></strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'Cancel', transporters_path,  :class => "btn btn-default"%>
    </div>
  </div>
</div>

<%= render 'form', transporter: @transporter %>
