<div class="ibox float-e-margins">
  <div class="ibox-content">
    <h2> Payment Request</h2>
    <table class="table table-striped cats-datatable">
      <thead>
      <tr>
            <th>Reference NO</th>
            <th>Transporter</th>
            <th>Request Date</th>
            <th>Contract</th>
            <th>Requested</th>
            <th>Verified </th>
            <th>status</th>
            <th>Actions</th>
      </tr>
      </thead>

      <tbody>
          <% @payment_requests.each do |payment_request| %>
          <tr>
              <td><%= link_to payment_request&.reference_no, '/transporters/payment__request_items/' + payment_request.id.to_s %></td>
              <td><%= payment_request&.transporter&.name %></td>
              <td><%=  %></td>
              <td><%=  %></td>
              <td><%= payment_request&.amount_requested %></td>
              <td><%=  %></td>
              <td><%=  %></td>
              <td> <%= link_to 'Process', "#" %>
               <%= link_to 'Reject', '#'%>
              </td>
          </tr>
          
       
      <% end %>
      </tbody>
    </table>

  </div>
</div>