<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <%= form_for(@hub) do |f| %>
        <% if @hub.errors.any? %>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <%= pluralize(@hub.errors.count, "error") %> prohibited this hub from being saved.
            </div>

            <div class="panel-body">
              <ul>
                <% @hub.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

                <div class="form-group">
                            <%= f.label :name %>
                <%= f.text_field :name, :class => 'form-control' %>
                        </div>

                <div class="form-group">
                            <%= f.label :description %>
                <%= f.text_field :description, :class => 'form-control' %>
                        </div>

                <div class="form-group">
                  <%= f.label :location_id %>
                  <%= f.number_field :location_id, :class => 'form-control' %>
                </div>
                <div class="actions">
                  <%= f.submit :class => 'btn btn-primary' %>
                </div>
                <div class="form-group">
                    <div class="tabs-container">
                      <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> Store Locations</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Stores</a></li>
                      </ul>
                      <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                          <div class="panel-body">
                            <div>
                                  <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Location</th>
                                        <th>Actions</th>
                                      </tr>
                                    </thead>

                                    <tbody>
                                      <% @hub.warehouses.each do |hub_warehouse| %>
                                      <tr>
                                        <td><%= hub_warehouse.name %></td>
                                        <td><%= hub_warehouse.description %></td>
                                        <td><%= hub_warehouse.location_id%></td>
                                        <td>
                                          <%= link_to 'Edit', edit_warehouse_path(hub_warehouse) %> &middot;
                                          <%= link_to 'Delete', warehouse_path(hub_warehouse), method: :delete, data: { confirm: 'Are you sure?' } %>
                                        </td>
                                      </tr>
                                      <% end %>
                                    </tbody>
                                  </table>
                            </div>
                            <div class="col-sm-8">
                              <div class="title-action">
                                <%= link_to 'New Warehouse', new_hub_warehouse_path(@hub), :class => "btn btn-primary"%>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                          <div class="panel-body">
                            <div>
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>Name</th>
                                    <th>Temporary</th>
                                    <th>Hub</th>
                                    <th>Store owner</th>
                                    <th>Store location</th>
                                    <th>Actions</th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <% @hub.stores.each do |store| %>
                                  <tr>
                                    <td><%= store.name %></td>
                                    <td><%= store.temporary%></td>
                                    <td><%= store.warehouse.hub.name%></td>
                                    <td><%= store.store_owner_id%></td>
                                    <td><%= store.warehouse.name%></td>
                                    <td>
                                      <%= link_to 'Edit', edit_store_path(store) %> &middot;
                                      <%= link_to 'Delete', store, method: :delete, data: { confirm: 'Are you sure?' } %>
                                    </td>
                                  </tr>
                                  <% end %>
                                </tbody>
                              </table>
                            </div>
                            <div class="col-sm-8">

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

  <% end %>

    </div>
  </div>
</div>
</div>
