<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Hubs</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Hubs</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Hub', new_hub_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Lat</th>
                        <th>Long</th>
                        <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @hubs.each do |hub| %>
          <tr>
            <td><%= hub.name%></td>
            <td><%= hub.description%></td>          
            <td><%= hub.lat %> </td>
            <td><%= hub.lon %> </td>
            <td>
              <%= link_to 'Edit', edit_hub_path(hub) %> &middot;
              <%= link_to 'Delete', hub, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
