    <p>
      <strong>Name:</strong>
      <%= @fdp_contact.full_name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @fdp_contact.mobile %>
    </p>

    <p>
      <strong>Lat:</strong>
      <%= @fdp_contact.email %>
    </p>

    <p>
      <strong>Lon:</strong>
      <%= @fdp_contact.fdp.name %>
    </p>

   
<% if policy(FdpContact).edit? %>
<%= link_to 'Edit', edit_fdp_contact_path(@fdp_contact) %> |
<% end %>
<%= link_to 'Back', fdp_contacts_path %>