<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Fdps</h2>
    <ol class="breadcrumb">
       <li>
        <a href="#">Settings</a>
      </li>
       <li>
        <a href="#">Geography</a>
      </li>
      <li class="active">
        <strong>Fdps</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
    <% if policy(Fdp).new? %>
      <%= link_to 'New Fdp', new_fdp_path, :class => "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped cats-datatable">
        <thead>
        <tr>
          <th>Name</th>
          <th>Region</th>
          <th>Zone</th>
          <th>Woreda</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @fdps.each do |fdp| %>
            <tr>
              <td><%=link_to fdp.name, fdp_path(fdp.id) %></td>
              <td><%= fdp[:region] %></td>
              <td><%= fdp[:zone] %></td>
              <td><%= fdp[:woreda] %></td>

              <td><%= fdp.active %></td>
              <td>
              <% if policy(Fdp).edit? %>
                <%= link_to 'Edit', edit_fdp_path(fdp) %> &middot;
              <% end %>
              <% if policy(Fdp).destroy? %>
                <%= link_to 'Delete', fdp, method: :delete, data: {confirm: 'Are you sure?'} %>
              <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
