
<p class="flash-notice"><%= params[:notice] %></p>
<div class="row">
  <div class="wrapper wrapper-content">

    <%= form_for(requisition, :html => {:class => 'form-horizontal'}) do |f| %>   
          

    <div class="ibox float-e-margins">
      <div class="ibox-title"> Requisition Details </div>
      <div class="ibox-content">
      <div class="row m-b-sm m-t-sm">
        
        
        <% if requisition.errors.any? %>
            <div class="panel panel-danger">
              <div class="panel-heading">
                <%= pluralize(requisition.errors.count, "error") %> prohibited this requisition from being saved.
              </div>

              <div class="panel-body">
                <ul>
                  <% requisition.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
              <%= f.label :requisition_no, :class=>"control-label col-md-3 col-sm-3 col-xs-6" %>
              <%= f.text_field :requisition_no %>
              <span class="" id="req_no" style="display:none;font-size: 12pt;font-family: courier"><i class="fa fa-times label-danger" title="Requisition found."> Requisition exists </i> </span>
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <%= f.label :operation_id, :class=>"control-label col-md-3 col-sm-3 col-xs-6" %>
              <%= f.text_field :operation_id,:value=> requisition.operation_id ? Operation.find(requisition.operation_id).name : nil , :disabled => true %>
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <%= f.label :commodity_id, :class=>"control-label col-md-3 col-sm-3 col-xs-6" %>
              <%= f.text_field :commodity_id, :value=> requisition.commodity_id ? Commodity.find(requisition.commodity_id).name : nil, :disabled => true %>
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <%= f.label :region_id, :class=>"control-label col-md-3 col-sm-3 col-xs-6" %>
              <%= f.text_field :region_id, :value=> requisition.region_id ?  Location.find(requisition.region_id).name : nil, :disabled => true %>
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <%= f.label :zone_id, :class=>"control-label col-md-3 col-sm-3 col-xs-6" %>
              <%= f.text_field :zone_id, :value=> requisition.zone_id ? Location.find(requisition.zone_id).name : nil, :disabled => true %>
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <%= f.label :ration_id, :class=>"control-label col-md-3 col-sm-3 col-xs-6" %>
              <%= f.text_field :ration_id,:value=> requisition.zone_id ? Ration.find(requisition.ration_id).description : nil, :disabled => true %>
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <%= f.label :requested_on, :class=>"control-label col-md-3 col-sm-3 col-xs-6"%>
              <%= f.text_field :requested_on, :class => 'datepicker', :disabled => true %>
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <%= f.label :contingency, :class=>"control-label col-md-3 col-sm-3 col-xs-6"%>
              <%= f.text_field :contingency, :value=> ActionController::Base.helpers.number_with_delimiter(@contingency), :disabled => true %>
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <%= f.label :amount, :class=>"control-label col-md-3 col-sm-3 col-xs-6"%>
              <%= f.text_field :amount, :value=> ActionController::Base.helpers.number_with_delimiter(@amount), :disabled => true %>
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <%= f.label :status , :class=>"control-label col-md-3 col-sm-3 col-xs-6"%>
              <%= f.collection_select :status, Requisition.statuses, :first, :first,{include_blank: 'Select Status'} %>
          </div>
        </div>
      </div>
    </div>
  
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        Requisition Items</div>
      <div class="ibox-content">
        <table class="table table-striped cats-datatable">
          <thead>
            <tr>
              <th>Region</th>
              <th>Zone</th>
              <th>Woreda</th>
              <th>FDP</th>
              <th>Beneficiaries</th>
              <th>Amount (<%= UnitOfMeasure.find_by(id: current_user.default_uom).code %>) </th>
              <th>Contingency</th>

              <th></th>
            </tr>
          </thead>

          <tbody>
            <% requisition.requisition_items.each do |ri| %>
            <%= fields_for 'requisition[requisition_items_attributes][]', ri, index: nil do |ff| %>

            <tr>
              <td>             
                <%= Location.find(Fdp.find(ri.fdp_id).location_id).ancestors.find { |a| a.location_type == 'region' }.name %>
              </td>
              <td>              
                <%= Location.find(Fdp.find(ri.fdp_id).location_id).ancestors.find { |a| a.location_type == 'zone' }.name %>
              </td>
              <td>              
                <%= Location.find(Fdp.find(ri.fdp_id).location_id).name %>
              </td>
              <td>     
              <%= link_to '/fdp_operation_summary/index?fdp_id=' + ri.fdp_id.to_s + '&operation_id=' + requisition.operation_id.to_s + '&requisition_id=' + requisition.id.to_s do %>
                <%= Fdp.find(ri.fdp_id).name.to_s %>     
              <% end %>
              </td>
              <td>                
                <%= ActionController::Base.helpers.number_with_delimiter(ri.beneficiary_no) %>        
              </td>
              <td>
               
                <%= number_with_precision(user_uom_preference(ri.amount,ri&.requisition&.ration&.ration_items&.first&.unit_of_measure_id), precision: 2, delimiter: ",") %>
              </td>
              <td>
                <%= number_with_precision(ri.contingency , precision: 2, delimiter: ",") %>
              </td>
            
            </tr>
            <% end %>
            <%end%>         

          </tbody>

        </table>

      </div>
      <br>
    <div class="actions">
          <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
  

    <% end %>

      
  </div>
</div>
<script>

 
$('#requisition_requisition_no').on('keyup blur', function (e){
 
                $.getJSON( '/requisitions/get_requisiton_by_number', 
                    { requisition_no: $(this).val()}, 
                    function(data) { 
                      console.log(data);
                      if(data.requisition!="" && data.requisition!=null)
                      {
                       document.getElementById("req_no").style.display = 'block';
                      }
                      else{
                        document.getElementById("req_no").style.display = 'none';
                      }
                    }
                )
                .error(function(event, jqxhr, exception) {
                   document.getElementById("req_no").style.display = 'none';
                   
                });
             

});
</script>