<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Stock Reserves</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active">
        <strong>Stock Reserves</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <%= form_tag( '/project_code_allocations' ,{ class: 'form-inline', style: 'display: inline-block;', role: 'form', method: 'GET'}) do %>

          <div class="form-group">
            <%= label_tag :operation, "Operation", { :class => ' control-label'} %>

            <div class="">
              <%= select_tag  :operation,  options_from_collection_for_select( Operation.all, 'id', 'name', params[:operation] ) , {:required => true , :prompt => "-- Choose --", :class => 'form-control col-md-3 data-parsley-required' }  %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :region, "Region", { :class => ' control-label'} %>

            <div class="">
              <%= select_tag  :region,  options_from_collection_for_select( Location.where(location_type:'region').order('name ASC'), 'id', 'name', params[:region] ) , {:required => true , :prompt => "-- Choose --", :class => 'form-control col-md-3 data-parsley-required' }  %>
            </div>
          </div>

          <div class="form-group">
            <label for=""></label>
            <div>
              <input type="submit" name="filter" value="Go" class="btn btn-sm btn-primary" />
            </div>
          </div>

      <% end %>

    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped requisitions-grouped-datatable">
        <thead>
          <tr>
            <th>Requisition No.</th>
            <th>Zone</th>
            <th>Beneficiary No.</th>
            <th>Commodity</th>
            <th>Amount(MT)</th>
            <th>Requested on</th>
            <th>Progress</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @requisitions.each do |requisition| %>
          <tr>
            <% @unit_of_measure_id = requisition.ration.ration_items.where(commodity_id: requisition.commodity_id).first.unit_of_measure_id %>
            <% @requested_amount_to_ref = requisition.requisition_items.map { |r| UnitOfMeasure.find(@unit_of_measure_id).to_ref(r.amount) } %>
            <% @allocated_amount_to_ref = requisition.project_code_allocations.map { |p| UnitOfMeasure.find(p.unit_of_measure_id).to_ref(p.amount) } %>
            <% @progress = (@allocated_amount_to_ref.sum / @requested_amount_to_ref.sum) * 100 %>
            <td><%= link_to requisition.requisition_no, project_code_allocation_path(requisition.id) %></td>
            <td><%= requisition.zone.name %></td>
            <td><%= ActiveSupport::NumberHelper.number_to_delimited(requisition.requisition_items.sum(:beneficiary_no)) %></td>
            <td><%= requisition.commodity.name %></td>
            <td><%= ActiveSupport::NumberHelper.number_to_delimited(@requested_amount_to_ref.sum.round(2)) %></td>
            <td><%= requisition.requested_on.to_formatted_s(:long_ordinal) %></td>
            <td>
              <small><%= number_to_percentage(@progress, precision: 1)%> completed</small>
              <div class="progress progress-mini">
                <div style="width: <%= number_to_percentage(@progress, precision: 1) %>;" class="progress-bar"></div>
              </div>
            </td>
            <td>
              <% if(requisition.project_code_allocations.present?) %>
                
                <a class="btn btn-primary allocate_pc_to_requisition" data-target="#allocate_pc_to_requisition_modal" data-toggle="modal" data-commodity-id="<%= requisition.commodity_id %>" data-commodity="<%= requisition.commodity.name %>" data-requested-amount="<%=  @requested_amount_to_ref.sum.round(2) %>" data-commodity-category-id="<%= requisition.commodity.commodity_category_id %>" data-requisition-id="<%= requisition.id %>" data-operation-id="<%= requisition.operation_id %>">Allocate</a>
                <%= link_to 'Reset', '/project_code_allocations/destroy_project_code_allocations/' + requisition.id.to_s , method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %>
              <% else %>
                <a class="btn btn-primary allocate_pc_to_requisition" data-target="#allocate_pc_to_requisition_modal" data-toggle="modal" data-commodity-id="<%= requisition.commodity_id %>" data-commodity="<%= requisition.commodity.name %>" data-requested-amount="<%=  @requested_amount_to_ref.sum.round(2) %>" data-commodity-category-id="<%= requisition.commodity.commodity_category_id %>" data-requisition-id="<%= requisition.id %>" data-operation-id="<%= requisition.operation_id %>">Allocate</a>
              <% end %>              
              
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

<div class="modal inmodal" id="allocate_pc_to_requisition_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 id='modal-title' class="modal-title">Allocate Project Code to Requisition</h4>
      </div>
      <form role="form" method="POST" enctype="multipart/form-data" action="/project_code_allocations/create_for_requisition" class="form-inline" style="display: inline;margin-top: 15px">
         <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
         <%= csrf_meta_tags %>
        <input type="hidden" name="project_code_allocation[requisition_id]" id="requisition_id" value="" /> 
        <input type="hidden" name="project_code_allocation[operation_id]" id="operation_id" value="" /> 
        <div class="modal-body col-md-12 col-sm-12 col-xs-12">
          <div class="ibox float-e-margins col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <%= label_tag :hub, "Hub", { :class => ' control-label'} %>
              <span class="required">*</span>
              <div class="">
                <%= select_tag  :hub,  options_from_collection_for_select( Hub.all, 'id', 'name', params[:hub] ) , {:required => true , :prompt => "-- Select a Hub --", :class => 'form-control width-100per', name: 'project_code_allocation[hub]' }  %>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <%= label_tag :warehouse, "Warehouse", { :class => ' control-label', :required => true } %>
              <span class="required">*</span>
              <div class="">
                <%= select_tag :warehouse, options_from_collection_for_select([], "id", "name", params[:warehouse]),
                  :required => true , :class => 'form-control width-100per', name: 'project_code_allocation[warehouse]', :style => 'min-width: 80px',
                  "data-option-dependent" => true,
                  "data-option-observed" => "hub",
                  "data-option-url" => "/warehouses/#{:hub}.json",
                  "data-option-key-method" => :id,
                  "data-option-value-method" => :name %>
              </div>
            </div>
          </div>
          <div class="ibox float-e-margins col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <%= label_tag :store, "Store", { :class => ' control-label'} %>
              <div class="">
                <%= select_tag  :store,  options_from_collection_for_select( [], 'id', 'name', params[:store] ) , {:class => 'form-control width-100per', name: 'project_code_allocation[store]' }  %>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <%= label_tag :project, "Project code" %>
              <span class="required">*</span>
              <%= select_tag :project, options_from_collection_for_select( [], 'id', 'project_code', params[:organization] ) , { :required => true, :prompt => "-- Choose --", :class => 'form-control width-100per', name: 'project_code_allocation[project]' }  %>
            </div>
          </div>
          <div class="ibox float-e-margins col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <%= label_tag :commodity, "Commodity", { :class => ' control-label', :required => true } %>
              <div class="">
                <input type="text" id="commodity_lable" class="form-control width-100per" readonly/>     
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <%= label_tag :requested_amount, "Requested Amount (MT)", { :class => ' control-label', :required => true } %>
              <div class="">
                <input type="text" id="requested_amount_lable" class="form-control width-100per" readonly/>     
              </div>
            </div>
            </div>
              <div class="ibox float-e-margins col-md-12 col-sm-12 col-xs-12">

            <div class="col-md-6 col-sm-6 col-xs-6">
              <%= label_tag :unit_of_measure, "Unit" %>
              <span class="required">*</span>
              <%= select_tag :unit_of_measure, options_from_collection_for_select( [], 'id', 'name', params[:unit_of_measure] ) , { :required => true, :prompt => "-- Choose --", :class => 'form-control width-100per', name: 'project_code_allocation[unit_of_measure]' }  %>
            </div>
            
             <div class="col-md-6 col-sm-6 col-xs-6">
              <%= label_tag :amount, "Allocate amount", { :class => ' control-label', :required => true } %>
              <div class="">
                <input type="text" id="amount" name="project_code_allocation[amount]" class="form-control width-100per" required/>     
              </div>
            </div>

          </div>
          <div class="spinner col-md-12 col-sm-12 col-xs-12">
              
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-md-6 col-sm-6 colxs-6">
            <div class="pll-right" style="width:inherit;"> 
              
            </div>
          </div>
          <div class="col-md-6 col-sm-6 colxs-6">
            <button type="submit" id="submit" class="btn btn-primary">Allocate PC</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>       
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $(".allocate_pc_to_requisition").on('click', function(e) {
    var commodityId = $(this).attr("data-commodity-id");
    var commodity = $(this).attr("data-commodity");
    var requested_amount = $(this).attr("data-requested-amount");
    var commodityCategoryId = $(this).attr("data-commodity-category-id");
    var requisitionId = $(this).attr("data-requisition-id");
    var operationId = $(this).attr("data-operation-id");

    $('#commodity_lable').val(commodity);
    $('#requested_amount_lable').val(requested_amount);
    $('#requisition_id').val(requisitionId);
    $('#operation_id').val(operationId);
    
    var commodities = <%= @commodities.to_json.html_safe %>
    var sibling_commodities = $.grep(commodities, function (elem) {
      return elem.commodity_category_id == commodityCategoryId;
    });
    var sibling_commodity_ids = $.map( sibling_commodities, function( sc ) {
      return sc["id"];
    });

    var allProjects = <%= @projects.to_json.html_safe %>
    var projects_by_donor = $.grep(allProjects, function (elem) {
      return $.inArray(elem.commodity_id, sibling_commodity_ids) !== -1
    });
    var proj_options = $.map(projects_by_donor, function (val) {
      return '<option value="' + val.id + '">' + val.project_code + '</option>';
    });
    proj_options.unshift('<option value="">Select Project</option>');
    $('#allocate_pc_to_requisition_modal #project').html(proj_options);

    var allUnitOfMeasures = <%= @unit_of_measures.to_json.html_safe %>
    if ('' === commodityCategoryId)
      return;
    var unitOfMeasuresInCategory = $.grep(allUnitOfMeasures, function (elem) {
      return elem.uom_category_id == commodityCategoryId
    });
    var options = $.map(unitOfMeasuresInCategory, function (val) {
      return '<option value="' + val.id + '">' + val.name + '</option>';
    });
    options.unshift('<option value="">Select Unit</option>');
    $('#allocate_pc_to_requisition_modal #unit_of_measure').html(options);
  });

  $("#allocate_pc_to_requisition_modal #warehouse").on('change', function(e){
    var warehouseId = $(this).val();

    var allStores = <%= @stores.to_json.html_safe %>
    var storeByWarehouse = $.grep(allStores, function (elem) {
      return elem.warehouse_id == warehouseId;
    });
    var stores_options = $.map(storeByWarehouse, function (val) {
      return '<option value="' + val.id + '">' + val.name + '</option>';
    });
    stores_options.unshift('<option value="">Select Store</option>');
    $('#allocate_pc_to_requisition_modal #store').html(stores_options);
  });
});
</script>