<%= form_tag  '',  :id => 'new_psnp_plan_item_form'  do  %>
    <div class="form-group">
        <label for="woreda_id">Woreda</label>

        <%= select_tag  :woreda_id,  options_from_collection_for_select( @available_woredas, 'id', 'name' ) , { :prompt => "-- Choose --", :class => 'form-control psnp_plan-item-form-field' }  %>
    </div>

    <input type="hidden" name="psnp_plan_id" value="<%= @psnp_plan.id %>" class="psnp_plan-item-form-field" />
    
    <input type="hidden" name="zone_id" value="<%= params[:zone_id] %>" class="psnp_plan-item-form-field" />

    <div class="form-group">
        <label for="starting_month">Starting Month</label>
        <%= select_tag 'starting_month',  options_for_select( Date::MONTHNAMES[1..-1].map.with_index { |e, i | [e, i + 1] }) , { :required => true, :prompt => "-- Choose --", :class => 'psnp_plan-item-form-field form-control' }  %>

    </div>
    <div class="form-group">
        <label for="duration">Duration</label>
        <input name='duration' type="number" class="form-control psnp_plan-item-form-field"   >
    </div>
    <div class="form-group">
        <label for="beneficiary">Number of Beneficiaries</label>
        <input name='beneficiary'  type="number" class="form-control psnp_plan-item-form-field"  >
    </div>
<% end %>