<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Transport Requisitions</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', '/' %>
      </li>
      <li class="active">
        <strong>Transport Requisitions</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New', new_transport_requisition_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Reference number</th>
            <th>Region</th>
            <th>No of Destinations</th>
            <th>Total Qty.</th>
            <th>Created date</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <% @transport_requisitions.each do |transport_requisition| %>
            <tr>
              <td><%= transport_requisition.reference_number %></td>
              <td><%= Location.find(transport_requisition.location_id).name %></td>
              <td><%= {no_of_destinations} %></td>
              <td><%= {total_qty} %></td>
              <td><%= transport_requisition.certified_date %></td>
              <td><%= transport_requisition.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
