<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-8">
    <h2>Transport Requisition: <strong><%= @transport_requisition.reference_number %></strong> </h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', '/' %>
      </li>
      <li>
        <%= link_to 'Transport Requisitions', '/en/transport_requisitions/?operation_id=' + @transport_requisition.operation_id.to_s %>
      </li>
      <li class="active">
        <strong>Transport Requisition Detail</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-4">
    <div class="title-action">
      <%= link_to 'Edit', '/en/transport_requisitions/' + @transport_requisition.id.to_s + '/edit', class: 'btn btn-primary'  %>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content row">
  <div class="ibox col-sm-12">
    <div class="ibox-content col-sm-12">
      <div class="col-sm-1">
        <% if (@transport_requisition&.status == 'open') %>
          <span class="label label-warning"><%= @transport_requisition&.status %></span>
        <% elsif (@transport_requisition&.status == 'closed') %>
          <span class="label label-success"><%= @transport_requisition&.status %></span>
        <% else %>
          <span class="label label-warning"><%= @transport_requisition&.status %></span>
        <% end %>
      </div>
      <div class="col-sm-5">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            Operation:
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%= Operation.find(@transport_requisition.operation_id).name %>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            Region:
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%= Location.find(@transport_requisition.location_id).name %>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            No. of requisitions:
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%=  @transport_requisition.transport_requisition_items.pluck(:requisition_id).uniq.count %>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            No. destinations:
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%= @transport_requisition.transport_requisition_items.count %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-4 col-sm-4 col-xs-4 text-right">
            Created by:
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8">
            <%= User.find(@transport_requisition.created_by).name %>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-4 col-sm-4 col-xs-4 text-right">
            Certified by:
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8">
            <% if @transport_requisition.certified_by.present? %>
              <%= User.find(@transport_requisition.certified_by).name %>
            <% else %>
              { pending }
            <% end %>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-4 col-sm-4 col-xs-4 text-right">
            Created date:
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8">
          <% if @transport_requisition.created_at.present? %>
            <%= @transport_requisition.created_at.to_formatted_s(:long_ordinal)  %>
          <% else %>
            { pending }
          <% end %>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-4 col-sm-4 col-xs-4 text-right">
            Certified date:
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8">
          <% if @transport_requisition.certified_date.present? %>
            <%= @transport_requisition.certified_date.to_formatted_s(:long_ordinal)  %>
          <% else %>
            { pending }
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ibox col-sm-12" >
    <div class="ibox-content col-sm-12" style="height:1100px">
      <div class="panel blank-panel">
        <div class="panel-heading">
          <div class="panel-options">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#tab-1" data-toggle="tab">Commodity</a>
              </li>
              <li class="">
                <a href="#tab-2" data-toggle="tab">Destinations</a>
              </li>
              <li class="">
                <a href="#tab-3" data-toggle="tab">Transporters</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel-body col-sm-12" style="height:1100px">

          <div class="tab-content">
            <div class="tab-pane active col-sm-12 row" id="tab-1">
              <%if(!@transport_requisition.present?)%>
                <h2>
                    No requisitions are found under this transport requisition<br>
                </h2>
              <%else%>
                <table class="table table-hover cats-datatable">
                  <thead>
                    <tr>
                      <th>Requisition#</th>
                      <th>Commodity</th>
                      <th>Quantity(mt)</th>
                      <th>Warehouse</th>
                      <th>Region</th>
                      <th>Zone</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @transport_requisition.transport_requisition_items.pluck(:requisition_id).uniq.each do |req_id| %>
                    <% @req_obj = Requisition.find(req_id) %>
                    <tr>
                      <td>                             
                        <%= link_to @req_obj&.requisition_no, requisitions_url(req_id) %>
                      </td>
                      <td>
                        <%= Commodity.find(@req_obj&.commodity_id).name %>
                      </td>
                      <td>
                        <%= @req_obj&.requisition_items.sum(:amount) %>
                      </td>
                      <td>
                        N/A
                      </td>
                      <td>
                        <%= Location.find(@req_obj&.region_id).name %>
                      </td>
                      <td>
                        <%= Location.find(@req_obj&.zone_id).name %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              <%end%> 
            </div>

            <div class="tab-pane col-sm-12 row" id="tab-2">
              <%if(!@transport_requisition.transport_requisition_items.present?)%>
                <h2>
                    No requisition details are found under this transport requisition<br>
                </h2>
              <%else%>
                <table class="table table-hover cats-datatable">
                  <thead>
                    <tr>
                      <th>Zone</th>
                      <th>Woreda</th>
                      <th>FDP</th>
                      <th>Donor</th>
                      <th>Transporter</th>
                      <th>Commodity</th>
                      <th>Quantity (mt)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @transport_requisition.transport_requisition_items
                    .each do |tr_detail| %>
                    <tr>
                      <td>                             
                        <%= Location.find(Fdp.find(tr_detail.fdp_id).location_id).parent.name %>
                      </td>
                      <td>
                        <%= Location.find(Fdp.find(tr_detail.fdp_id).location_id).name %>
                      </td>
                      <td>
                        <%= Fdp.find(tr_detail.fdp_id).name %>
                      </td>
                      <td>
                        N/A
                      </td>
                      <td>
                        N/A
                      </td>
                      <td>
                        <%= Commodity.find(tr_detail&.commodity_id).name %>
                      </td>
                      <td>
                        <%= tr_detail.quantity %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              <%end%>
            </div>

            <div class="tab-pane col-sm-12 row" id="tab-3">
              

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
