<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-8">
    <h2>Transport Requisition: <strong><%= @transport_requisition.reference_number %></strong> </h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', '/' %>
      </li>
      <li>
        <%= link_to 'Transport Requisitions', '/en/transport_requisitions/?operation_id=' + @transport_requisition.operation_id.to_s %>
      </li>
      <li class="active">
        <strong>Transport Requisition Detail</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-4">
  </div>
</div>

<div class="wrapper wrapper-content row">
  <div class="ibox col-sm-12">
    <div class="ibox-content col-sm-12">
      <div class="col-sm-1">
        <% if (@transport_requisition&.status == 'open') %>
          <span class="label label-warning"><%= @transport_requisition&.status %></span>
        <% elsif (@transport_requisition&.status == 'closed') %>
          <span class="label label-success"><%= @transport_requisition&.status %></span>
        <% else %>
          <span class="label label-warning"><%= @transport_requisition&.status %></span>
        <% end %>
      </div>
      <div class="col-sm-5">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            Operation:
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%= @transport_requisition.operation.name %>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            Region:
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%= @transport_requisition.location.name %>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            No. of requisitions:
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%=  @transport_requisition.transport_requisition_items.pluck(:requisition_id).uniq.count %>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            No. destinations:
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%= @transport_requisition.transport_requisition_items.count %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-4 col-sm-4 col-xs-4 text-right">
            Created by:
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8">
            <% if @transport_requisition.created_by.present? %>
              <%= @transport_requisition.created_by.name %>
            <% else %>
              { N/A }
            <% end %>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-4 col-sm-4 col-xs-4 text-right">
            Certified by:
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8">
            <% if @transport_requisition.certified_by.present? %>
              <%= @transport_requisition.certified_by.name %>
            <% else %>
              N/A
            <% end %>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-4 col-sm-4 col-xs-4 text-right">
            Created date:
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8">
          <% if @transport_requisition.created_at.present? %>
            <%= @transport_requisition.created_at.to_formatted_s(:long_ordinal)  %>
          <% else %>
            N/A
          <% end %>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-4 col-sm-4 col-xs-4 text-right">
            Certified date:
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8">
          <% if @transport_requisition.certified_date.present? %>
            <%= @transport_requisition.certified_date.to_formatted_s(:long_ordinal)  %>
          <% else %>
            N/A
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ibox col-sm-12" >
    <div class="ibox-content col-sm-12" style="min-height:1100px">
      <div class="panel blank-panel">
        <div class="panel-heading">
          <div class="panel-options">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#tab-1" data-toggle="tab">Commodity</a>
              </li>
              <li class="">
                <a href="#tab-2" data-toggle="tab">Destinations</a>
              </li>
              <li class="">
                <a href="#tab-3" data-toggle="tab">Transporters</a>
              </li>
              <li class="">
                <a href="#tab-4" data-toggle="tab">Woredas without winner transporter</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel-body col-sm-12" style="min-height:1100px">

          <div class="tab-content">
            <div class="tab-pane active col-sm-12 row" id="tab-1">
              <%if(!@transport_requisition.present?)%>
                <h2>
                    No requisitions are found under this transport requisition<br>
                </h2>
              <%else%>
                <table class="table table-hover cats-datatable">
                  <thead>
                    <tr>
                      <th>Requisition#</th>
                      <th>Commodity</th>
                      <th>Quantity(mt)</th>
                      <th>Warehouse</th>
                      <th>Region</th>
                      <th>Zone</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @tri_aggregate_by_zone.each do |tri| %>
                    <tr>
                      <td>                             
                        <%= link_to tri[0][1], '/en/requisitions/' + tri[0][0].to_s + '/edit' %>
                      </td>
                      <td>
                        <%= tri[0][2] %>
                      </td>
                      <td>
                        <%= tri[1] %>
                      </td>
                      <td>
                        N/A
                      </td>
                      <td>
                        <%= tri[0][3] %>
                      </td>
                      <td>
                        <%= tri[0][4] %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              <%end%> 
            </div>

            <div class="tab-pane col-sm-12 row" id="tab-2">
              <%if(!@transport_requisition.transport_requisition_items.present?)%>
                <h2>
                    No requisition details are found under this transport requisition<br>
                </h2>
              <%else%>
                <table class="table table-hover cats-datatable">
                  <thead>
                    <tr>
                      <th>Zone</th>
                      <th>Woreda</th>
                      <th>FDP</th>
                      <th>Commodity</th>
                      <th>Quantity (mt)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @transport_requisition.transport_requisition_items
                    .each do |tri| %>
                    <tr>
                      <td>                             
                        <%= tri.fdp.location.parent.name %>
                      </td>
                      <td>
                        <%= tri.fdp.location.name %>
                      </td>
                      <td>
                        <%= tri.fdp.name %>
                      </td>
                      <td>
                        <%= tri.commodity.name %>
                      </td>
                      <td>
                        <%= tri.quantity %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              <%end%>
            </div>

            <div class="tab-pane col-sm-12 row" id="tab-3">           

              <%if(!@transport_orders.present?)%>
                <h2>
                    No transport orders are found under this transport requisition<br>
                </h2>
              <%else%>
                <table class="table table-hover cats-datatable">
                  <thead>
                    <tr>
                      <th>Transporter</th>
                      <th>Contract No.</th>
                      <th>Bid No.</th>
                      <th>No. of Destinations</th>
                      <th>Total Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @transport_orders.each do |tos| %>
                    <tr>
                      <td>                             
                        <%= tos.transporter.name %>
                      </td>
                      <td>
                        N/A
                      </td>
                      <td>
                      <% if (tos.bid.present?) %>
                        <%= tos.bid.bid_number %>
                      <% else %>
                        N/A
                      <% end %>
                      </td>
                      <td>
                        <%= tos.transport_order_items.count %>
                      </td>
                      <td>
                        <%= tos.transport_order_items.sum(:quantity) %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              <%end%>
            </div>
          

          <div class="tab-pane col-sm-12" id="tab-4">
              
              <%if(!@woredas_wo_winner.present?)%>
                <h2>
                    No woreda without winner are found under this transport requisition<br>
                </h2>
              <%else%>
                <table class="table table-hover cats-grouped-datatable" style="width:100% !important;">
                  <thead>
                    <tr>
                      <th>Zone</th>
                      <th>Woreda</th>
                      <th>Total Qty.</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @woredas_wo_winner.each do |woreda| %>
                    <tr>
                      <td>
                      <%= woreda['zone_name'] %>                      
                      </td>
                      <td>                             
                        <%= woreda['woreda_name'] %>
                      </td>
                      <td>
                        <%= woreda['total_qty'] %>
                      </td>
                      <td>
                        <a class="create_to_btn" data-target="#new-to-for-exceptions" data-toggle="modal" data-woreda="<%= woreda['woreda_id'] %>" data-woreda-name="<%= woreda['woreda_name'] %>" data-tr="<%= @transport_requisition.id %>">
                            Create TO
                        </a>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              <%end%>

            </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>



<div class="modal inmodal" id="new-to-for-exceptions" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 id='modal-title' class="modal-title">Transport Order for Exceptions</h4>
      </div>
      <div class="modal-body col-md-12 col-sm-12 col-xs-12">
        <div class="ibox float-e-margins col-md-12 col-sm-12 col-xs-12"> 
          <div class="col-md-6 col-sm-6 col-xs-6">          
            <%= label_tag :transport_requisition, "Transport Requisition", { :class => ' control-label'} %>
            <div class="">
              <input id="transport_requisition" name="transport_requisition" type="text" class="form-control" placeholder="" readonly="true" value="<%= @transport_requisition.reference_number %>">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">          
            <%= label_tag :woreda, "Woreda", { :class => ' control-label'} %>
            <div class="">
              <input id="woreda-to" name="woreda-to" type="text" class="form-control" placeholder="" readonly="true" value="<%= @transport_requisition.reference_number %>">
            </div>
          </div>
        </div>
        <div class="ibox float-e-margins col-md-12 col-sm-12 col-xs-12">
          <%= label_tag :fdps, "List of FDPs", { :class => ' control-label'} %>
          <div class="">
            <textarea id="fdps_list" name="fdps_list" class="form-control" readonly="true"></textarea>
          </div>
        </div>
        <div class="ibox float-e-margins col-md-12 col-sm-12 col-xs-12">
          <%= label_tag :transporter, "Transporter", { :class => ' control-label'} %>
          <div class="">
            <%= select_tag  'transporter_to',  options_from_collection_for_select(Transporter.all, 'id', 'name', params[:transporter_id] ) , {:required => true , :prompt => "-- Select a Transporter --", :class => 'form-control width-100per' }  %>
          </div>
        </div>
        <div class="ibox float-e-margins col-md-12 col-sm-12 col-xs-12">          
          <%= label_tag :tariff, "Tariff", { :class => ' control-label'} %>
          <div class="">
            <input id="tariff-to" name="tariff-to" type="text" class="form-control" placeholder="0.00"> 
          </div>
        </div>
        <div class="spinner">
            
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-6 col-sm-6 colxs-6">
          <div class="pll-right" style="width:inherit;"> 
            Continue adding
            <%= check_box_tag 'keep_creating', false %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 colxs-6">          
          <button type="button" class="btn btn-primary" id="save-to-btn" data-tr_id="<%= @transport_requisition.id %>">Save</button>
          <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>