<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Journals</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Settings</a>
      </li>
      <li>
        <a href="#">Accounting</a>
      </li>
      <li class="active">
        <strong>Journals</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Journal', new_journal_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
            
            <th>Name</th>
            
            <th>Description</th>
            
            <th>Code</th>
            
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @journals.each do |journal| %>
          <tr>
            
            <td><%= journal.name
              %></td>
            
            <td><%= journal.description
              %></td>
            
            <td><%= journal.code
              %></td>
            
            <td>
              <%= link_to 'Edit', edit_journal_path(journal) %> &middot;
              <%= link_to 'Delete', journal, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
