
    <p>
      <strong>Name:</strong>
      <%= @journal.name %>
    </p>


    <p>
      <strong>Description:</strong>
      <%= @journal.description %>
    </p>


    <p>
      <strong>Code:</strong>
      <%= @journal.code %>
    </p>

<% if policy(Journal).edit? %>
  <%= link_to 'Edit', edit_journal_path(@journal) %> |
<% end %>
<%= link_to 'Back', journals_path %>