
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Stock Reports</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active">
        <strong>Stock Reports</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      
    </div>
  </div>
</div>

<div class="ibox float-e-margins">
  <div class="ibox-content">
    <ul>
        <li><%= link_to 'Stock Status by Project Code', '/stock_reports/stock_status_by_project_code',  :class => "btn btn-default"%></li>  
        <li><%= link_to 'Stock Status Summary by Project Code', '/stock_reports/stock_summary_by_project_code',  :class => "btn btn-default"%></li>    
        <li><%= link_to 'Stock Status by Commodity Type', '/stock_reports/stock_status_by_commodity_type',  :class => "btn btn-default"%></li>
        <li><%= link_to 'Received Stock by Project Code', '/stock_reports/received_stock_by_project_code',  :class => "btn btn-default"%></li>
        <li><%= link_to 'Received Stock by Commodity Source', '/stock_reports/received_stock_by_commodity_source',  :class => "btn btn-default"%></li>
        <li><%= link_to 'Dispatch Stock by Project code', '/stock_reports/dispatch_report_by_project',  :class => "btn btn-default"%></li>
        
        <li><%= link_to 'Dispatch detail', '/stock_reports/dispatch_detail',  :class => "btn btn-default"%></li>
    </ul>
  </div>


</div>