<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Stock Take Items</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Stock Take Items</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Stock Take Item', new_stock_take_item_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
            
            <th>Commodity</th>
            
            <th>Commodity category</th>
            
            <th>Actual amount</th>
            
            <th>Stock take</th>
            
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @stock_take_items.each do |stock_take_item| %>
          <tr>
            
            <td><%= stock_take_item.commodity_id
              %></td>
            
            <td><%= stock_take_item.commodity_category_id
              %></td>
            
            <td><%= stock_take_item.actual_amount
              %></td>
            
            <td><%= stock_take_item.stock_take_id
              %></td>
            
            <td>
              <%= link_to 'Edit', edit_stock_take_item_path(stock_take_item) %> &middot;
              <%= link_to 'Delete', stock_take_item, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
