<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <%= form_for(framework_tender) do |f| %>
        <% if framework_tender.errors.any? %>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <%= pluralize(framework_tender.errors.count, "error") %> prohibited this framework_tender from being saved.
            </div>

            <div class="panel-body">
              <ul>
                <% framework_tender.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

                <div class="form-group">
                            <%= f.label :year %>
                <%= f.number_field :year, :class => 'form-control' %>
                        </div>

                <div class="form-group">
                            <%= f.label :half_year %>
                <%= f.number_field :half_year, :class => 'form-control' %>
                        </div>

               <div class="form-group">
                    <%= f.label :starting_month %>
                    <span class="required">*</span>
                    <%= f.select :starting_month,  options_for_select( Date::MONTHNAMES[1..-1].map.with_index { |e, i | [e, i + 1] }, @framework_tender.starting_month ) , {}, { :required => true, :prompt => "-- Choose --", :class => 'form-control' }  %>
                </div>

                 <div class="form-group">
                    <%= f.label :ending_month %>
                    <span class="required">*</span>
                    <%= f.select :ending_month,  options_for_select( Date::MONTHNAMES[1..-1].map.with_index { |e, i | [e, i + 1] }, @framework_tender.ending_month ) , {}, { :required => true, :prompt => "-- Choose --", :class => 'form-control' }  %>
                </div>
                <div class="form-group">
                            <%= f.label :remark %>
                <%= f.text_area :remark, :class => 'form-control' %>
                        </div>

      
      <div class="actions">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
  <% end %>

    </div>
  </div>
</div>