<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Rations</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Rations</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Ration', new_ration_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Reference no</th>
            <th>Description</th>
            <th>Current</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @rations.each do |ration| %>
          <tr>
            <td><%= ration.reference_no %></td>
            <td><%= ration.description %></td>
            <td><%= ration.current %></td>
            <td>
              <%= link_to 'Manage Items', ration_ration_items_path(ration) %> &middot;
              <%= link_to 'Edit', edit_ration_path(ration) %> &middot;
              <%= link_to 'Delete', ration, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
