<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <%= form_for([ration, ration_item ]) do |f| %>
        <% if ration_item.errors.any? %>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <%= pluralize(ration_item.errors.count, "error") %> prohibited this ration_item from being saved.
            </div>

            <div class="panel-body">
              <ul>
                <% ration_item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>


        <div class="form-group">
          <%= f.label :commodity_id %>
          <%= f.select :commodity_id, all_commodities.all.map { |u| [u.name, u.id, {'data-uom-id' => u.unit_of_measure.id}]}, {include_blank: "-- Choose --"},{:class => 'form-control', :id => 'ration_commodity_select' } %>
        </div>

        <div class="form-group">
          <%= f.label :unit_of_measure_id %>
          <%= f.select :unit_of_measure_id, {}, {include_blank: "-- Choose --"}, {:class => 'form-control', :id => 'ration_item_uom_select' } %>
        </div>

        <div class="form-group">
          <%= f.label :amount %>
          <%= f.number_field :amount, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.hidden_field :ration_id %>
        </div>

        <div class="actions">
          <%= f.submit :class => 'btn btn-primary' %>
        </div>
  <% end %>

    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    var $rationCommoditySelect = $('#ration_commodity_select');

    $rationCommoditySelect.change( function() {
      var $this = $(this);

      var val = $this.val();

      if( !val ) {
        //TODO: clear the input

        return;

      }

      $.ajax({
        url: "<%= url_for controller: 'ration_items', action: 'unitOfMeasureSelectForCommodity' %>?commodity_id=" + val,
        dataType: 'html'
      }).done(function(data) {

        var $rationItemUomSelect = $('#ration_item_uom_select');
        $rationItemUomSelect.replaceWith(data);

        $('#ration_item_uom_select').val($this.find(':selected').data('uom-id'));
      });


    });

    $rationCommoditySelect.trigger('change');
  });
</script>