    <p>
      <strong>Name:</strong>
      <%= @organization.name %>
    </p>

    <p>
      <strong>Long name:</strong>
      <%= @organization.long_name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @organization.description %>
    </p>
<% if policy(Organization).edit? %>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<% end %>
<%= link_to 'Back', organizations_path %>