<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-6">
    <h2>Warehouse Requisition - Transport Dispatch Order</h2>
  </div>
  <div class="col-sm-6">
    <div class="title-action">
    </div>
  </div>
</div>
<div class="ibox float-e-margins">
  <div class="ibox-content contract-report-form">
      <%= form_tag( "/contract_reports/transport_order" ,{ class: 'form-inline', style: 'display: inline-block;', role: 'form', method: 'POST'}) do %>
        <div class="form-group">
           <%= label_tag :operation, "Operation", { :class => ' control-label'} %>

            <div class="">
              <%= select_tag  :operation,  options_from_collection_for_select( Operation.where(archived: [nil,false]), 'id', 'name', params[:operation] ) , { :required => true, :prompt => "-- Choose --", :class => 'form-control width-100per' }  %>
            </div>
        </div>
      	<div class="form-group">
          <%= label_tag :bid, "Bid Ref No", { :class => ' control-label', :required => true } %>
            <%= select_tag(:bid,"", :prompt => "-- Choose --", :required => true, :class => 'form-control width-100per')   %> 
        </div>
       
        
        <div class="form-group">
          <label for=""></label>
          <div>
              <input type="submit" name="filter" value="Go" class="btn btn-sm btn-primary" />

              <input type="submit" name="pdf_filter" formaction='/contract_reports/transport_order_pdf?format=pdf' value="Print Report" class="btn btn-sm btn-primary" formtarget="_blank"/>
          </div>
        </div>

        <% end %>


  </div>
  


<div class="ibox float-e-margins">
  <div class="ibox-content">
    <p>
      <strong> Bid RefNo: </strong>
      <%= Bid.find_by(id: $transport_order&.bid_id)&.bid_number %>
    </p>
    <p>
      <strong> LTCD RefNo:</strong>
      <%= %>
    </p>
    <p>
      <strong> Region:</strong>
      <%= Location.find_by(id: $transport_order&.location_id)&.name %>
    </p>
    <table class="table table-striped">
      <thead>
      <tr> <th>  </th> <th>  </th></tr>
      <tr>  
      <th></th>
        <th>No </th>   
        <th>ReqNo.</th>
        <th>Warehouse</th>
        <th>Zone</th>
        <th>Woreda</th>
        <th>Detination</th>
        <th>Item</th>
        <th>Qty</th>
        
      </tr>
      </thead>

      <tbody>  
      <%@i=0%>
      <%@sum_total=0%>
       <% if $transport_order_items.present? %>
        <% $transport_order_items.each_pair do |transporter, detail| %>
        <%@sum_total=0%>
            <tr>
                 
                <td colspan="6"><%= transporter %></td> 
                <td></td>
                <td></td>
            </tr>
            <% detail.each do |to_detail|%>
            <%@i = @i + 1%>
            <% 
            
            @requsition_id = Requisition.find_by(requisition_no: to_detail.requisition_no).id
            @hub_id = WarehouseAllocationItem.find_by(requisition_id: @requisition_id)&.hub_id
            @hub = Hub.find_by(id: @hub_id)&.name
            
            @qtl = UnitOfMeasure.find_by(name: 'Quintal')
            unit_to_be_changed = UnitOfMeasure.find_by(id: to_detail.unit_of_measure_id).name
            @qty_in_qtl =  @qtl.convert_to(unit_to_be_changed,   to_detail&.quantity)
            @sum_total= @sum_total + @qty_in_qtl
            %>
             <tr>
             <th></th>
                <td> <%= @i%> </td>
                <td><%= to_detail.requisition_no %></td>
                <td><%= @hub %></td>
                <td><%= Fdp.find(to_detail.fdp_id)&.location&.parent&.name  %></td>
                <td><%= Fdp.find(to_detail.fdp_id)&.location&.name %></td>
                <td><%= Fdp.find(to_detail.fdp_id)&.name %></td>
                <td><%= Commodity.find_by(id: to_detail&.commodity_id)&.name %></td>
                <td><%= ActionController::Base.helpers.number_with_delimiter number_with_precision(@qty_in_qtl, :precision => 2) %></td>
               
            </tr>
            
            <% end %>
            <tr>
                 
                <td colspan="6" style="font-weight: bold">Summary for:  <%= transporter %> </td> <td></td><td style="font-weight: bold">Sub total Quintal</td>
                <td style="font-weight: bold"><%= ActionController::Base.helpers.number_with_delimiter number_with_precision(@sum_total, :precision => 2) %></td>
            </tr>
        <% end %>
    <% end %>
      </tbody>
    </table>        
    
  </div>
</div>


<script type="text/javascript">
var EMPTY_OPTION = '<option value="">-- Choose --</option>';
$(document).ready(function(){
  var bid_id = '<%= params[:bid]%>'
  var operation_id = $("#operation").val();
  var url = '/contract_reports/bids/' + operation_id
  

  $.get(url, function(data) {
      $("#bid").html("");
      $("#bid").append( EMPTY_OPTION );
      $.each( data, function( index, value ) {
       
        $("#bid").append( "<option value='" + value[1] + "'>" + value[0] + "-" + value[2] + "</option>" );
      });
      $("#bid > [value=" + bid_id  + "]").attr("selected", "true");
  });

});
  $("#operation").change(function(){
  var url = '/contract_reports/bids/' + $(this).val()
 
  $.get(url, function(data) {
      $("#bid").html("");
      $("#bid").append( EMPTY_OPTION );
      $.each( data, function( index, value ) {
       
        $("#bid").append( "<option value='" + value[1] + "'>" + value[0] + "-" + value[2] + "</option>" );
      });
  });
});
</script>