<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-12">
    <h2>Dispatch Report</h2>
  </div>
  <div class="col-sm-12">
      <h2>
      <%= link_to @operation_name, '/dispatch_summary_by_fdps/index?operation=' + @operation %>
    <% if @region.present? %>
      >
      <%= link_to @region_name, '/dispatch_summary_by_fdps/index?operation=' + @operation +';region=' + @region %>
    <% end %>
      <% if @zone.present? %>
        >
      <%= link_to @zone_name, '/dispatch_summary_by_fdps/index?operation=' + @operation +';region=' + @region +';zone=' + @zone %>
    <% end %>
    <% if @woreda.present? %>
      >
      <%= link_to @woreda_name, '/dispatch_summary_by_fdps/index?operation=' + @operation +';region=' + @region +';zone=' + @zone +';woreda=' + @woreda %>
    <% end %>
    </h2>
  </div>
</div>

<div class="ibox float-e-margins">
    <div class="ibox-content">
        <%= form_tag( "/dispatch_summary_by_fdps/index" ,{ class: 'form-inline', style: 'display: inline-block;', role: 'form', method: 'GET'}) do %>        

          <% if( !(params[:woreda].present? || params[:zone].present? || params[:region].present?) ) %>

            <div class="form-group">
              <%= label_tag :operation, "Operation", { :class => ' control-label', :required => true } %>

              <div class="">
                <%= select_tag  :operation,  options_from_collection_for_select( Operation.all, 'id', 'name', params[:operation] ) , { :required => true, :prompt => "-- Choose --", :class => 'form-control col-md-3 data-parsley-required' }  %>
              </div>
            </div>

            <div class="form-group">
              <label for=""></label>
              <div>
                  <input type="submit" name="filter" value="Go" class="btn btn-sm btn-primary" />
              </div>
            </div>

      <% end %>       
        <% end %>
    </div>
</div>


<div class="ibox float-e-margins">
  <div class="ibox-content">

    <table class="table table-striped cats-datatable">
    <thead>
      <tr>
      <% @dispatch_report_cols.each do |column| %>
          <th><%= column %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>      
    <% @dispatch_report.each do |dispatch_summary| %>
        <tr>
          <% if params[:woreda].present? || params[:zone].present? || params[:region].present? %>
            <% if params[:woreda].present? %>
              <td><%= dispatch_summary['location'] %></td>
            <% elsif params[:zone].present? %>
              <td><%= link_to dispatch_summary['location'], '/dispatch_summary_by_fdps/index?operation=' + params[:operation] +';region=' + params[:region] +';zone=' + params[:zone] + ';woreda=' + dispatch_summary['location_id'].to_s %></td>
            <% elsif  params[:region].present? %>
              <td><%= link_to dispatch_summary['location'], '/dispatch_summary_by_fdps/index?operation=' + params[:operation] +';region=' + params[:region] +';zone=' + dispatch_summary['location_id'].to_s %></td>
            <% elsif  params[:operation].present? %>
              <td><%= link_to dispatch_summary['location'], '/dispatch_summary_by_fdps/index?operation=' + params[:operation] +';region=' + dispatch_summary['location_id'].to_s %></td>
            <% end %>
              <td><%= dispatch_summary['requisition'] %></td>
              <td><%= dispatch_summary['commodity'] %></td>
              <td><%= dispatch_summary['allocated'].to_f.round(2) %></td>
              <td><%= 
                if (dispatch_summary['dispatched'].present?) 
                  dispatch_summary['dispatched'].to_f.round(2) 
                else 
                   0.00 
                end %></td>
              <td><%= ((dispatch_summary['dispatched'].to_f / dispatch_summary['allocated'].to_f) * 100).to_f.round(2) %>%</td>
            <% else %>   
              <td><%= link_to dispatch_summary['location'], '/dispatch_summary_by_fdps/index?operation=' + params[:operation] +';region=' + dispatch_summary['location_id'].to_s %></td>
              <td><%= dispatch_summary['allocated'] %></td>
              <td><%= 
                if (dispatch_summary['dispatched'].present?) 
                  dispatch_summary['dispatched'].to_f.round(2) 
                else 
                   0.00 
                end %></td>
              <td><%= ((dispatch_summary['dispatched'].to_f / dispatch_summary['allocated'].to_f) * 100).to_f.round(2) %>%</td>
            <% end %>      
        </tr>
    <% end %>
    </tbody>
    </table>      
  </div>
</div> 