<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Location Types</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Location Types</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Location Type', new_location_type_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="row">
  <div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <table class="table table-striped cats-datatable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @location_types.each do |location_type| %>
            <tr>
              <td><%= location_type.name %></td>
              <td><%= location_type.description %></td>
              <td>
                <%= link_to 'Edit', edit_location_type_path(location_type) %>
                &middot;
                <%= link_to 'Delete', location_type, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
