<%= form_for(receipt, :html=> {:id => 'receipt-form'} ) do |f| %>
<% @projects = Project.where('archived = ? OR archived IS NULL',false)%>
<% @uoms = UnitOfMeasure.all%>
<% @warehouses = Warehouse.all %>
<div class="row">
  <div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <% if receipt.errors.any? %>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <%= pluralize(receipt.errors.count, "error") %>
            prohibited this receipt from being saved.
          </div>

          <div class="panel-body">
            <ul>
              <% receipt.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <% end %>

        <div class="form-group">
          <%= f.label :grn_no, "GRN Number" %>
          <span class="required">*</span>
          <%= f.text_field :grn_no, :class => 'form-control', :autofocus => true, :required => true %>
        </div>

        <div class="form-group">
          <%= f.label :hub_id, "Hub" %>
          <span class="required">*</span>
          <%= f.collection_select :hub_id,
          Hub.order(:name), :id, :name, {include_blank: '-- Choose --'}, {:id => 'hub_select' ,:class => 'form-control', :required => true }%>
        </div>

        <div class="form-group">
          <%= f.label :warehouse_id, "Warehouse" %>
          <span class="required">*</span>
          <%= f.collection_select :warehouse_id,
                  @warehouses.select{|w| w.hub_id == @receipt.hub_id}, :id, :name, {include_blank: '-- Choose --'}, {:id => 'warehouse_select',:class => 'form-control', :required => true }%>
          
        </div>

        <div class="form-group">
          <%= f.label :received_date %>
          <span class="required">*</span>
          <%= f.text_field :received_date, :class => 'form-control datepicker', :required => true  %>
        </div>

        <div class="form-group">
          <%= f.label :storekeeper_name, "Received By" %>
          <span class="required">*</span>
          <%= f.text_field :storekeeper_name, :class => 'form-control', :required => true %>
        </div>

        <div class="form-group">
          <%= f.label :waybill_no, "Waybill(s)" %>
          <span class="required">*</span>
          <%= f.text_field :waybill_no, :class => 'form-control', :required => true %>
        </div>

        <div class="form-group">
          <%= f.label :commodity_source_id %>
          <span class="required">*</span>
          <%= f.collection_select :commodity_source_id,
                  CommoditySource.order(:name), :id, :name, {include_blank: '-- Choose --'}, {:class => 'form-control', :required => true }%>
        </div> 
        <div class="form-group">
          <%= f.label :donor_id %>
          <span class="required">*</span>
          <%= f.collection_select :donor_id,
                  Organization.order(:name), :id, :name, {include_blank: '-- Choose --'}, {:class => 'form-control', :id => 'donor_select', :required => true }%>
        </div> 
           
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <table class="table">
          <thead>
            <tr>
              <th>Commodity Category</th>
              <th>Commodity</th>
              <th>Unit of Measure</th>
              <th>Quantity</th>
              <th>Project</th>
              <th></th>
            </tr>
          </thead>

          <tbody id="receiptLinesTableBody">

            <% @receipt.receipt_lines.each do |receipt_line| %>

            <tr class="receipt-line">
              <td>
                <input type="hidden" name="receipt[receipt_lines[][id]]" value="<%= receipt_line.id %>"/>
                <select name="receipt[receipt_lines[][commodity_category_id]]" class="form-control" readonly>
                  <option value="<%= receipt_line.commodity_category.id %>"><%= receipt_line.commodity_category.name %></option>
                </select>
              </td>
              <td>
                <select name="receipt[receipt_lines[][commodity_id]]" class="form-control" readonly>
                  <option value="<%= receipt_line.commodity.id %>"><%= receipt_line.commodity.name %></option>
                </select>
              </td>
              <td>
                <select name="receipt[receipt_lines[][unit_of_measure_id]]" class="form-control" readonly>
                  <option value="<%= receipt_line.unit_of_measure.id %>"><%= receipt_line.unit_of_measure.name %></option>
                </select>
              </td>
              <td>
                <input name="receipt[receipt_lines[][quantity]]" type="number" class="form-control" value="<%= receipt_line.quantity %>" readonly/>
              </td>
              <td>
                <select name="receipt[receipt_lines[][project_id]]" class="form-control" readonly>
                  <option value="<%= receipt_line.project&.id %>"><%= receipt_line&.project&.project_code %></option>
                </select>
              </td>
              <td>
                <a href="#" class="remove-receipt-line">
                  <i class="fa fa-times"></i>
                </a>
              </td>
            </tr>

            <% end %>
            <tr>
              <td>
                <%= select_tag 'receipt[receipt_lines[][commodity_category_id]]', options_from_collection_for_select( CommodityCategory.all, 'id', 'name' ) , {:prompt => "-- Choose --", 'data-parsley-required' => 'true', :class => 'form-control', :id =>
                'commodity-category-select'} %>
              </td>
              <td>
                <select name="receipt[receipt_lines[][commodity_id]]" id="commodity-select" class="form-control" data-parsley-required>
                  <option value="">-- Choose --</option>
                  <% Commodity.all.each do |commodity| %>
                  <option data-uom-category-id="<%= !commodity.uom_category.nil? ? commodity.uom_category.id : commodity.commodity_category.uom_category.id %>" value="<%= commodity.id %>" class="cc-<%= commodity.commodity_category.id %> hidden">
                    <%= commodity.name %>
                  </option>
                  <% end %>
                </select>
              </td>

              <td>
                <select name="receipt[receipt_lines[][unit_of_measure_id]]" id="uom-select" class="form-control" data-parsley-required>
                  <option value="">-- Choose --</option>

                </select>
              </td>

              <td>
                <input name="receipt[receipt_lines[][quantity]]" type="number" class="form-control" data-parsley-required/>
              </td>
              <td>
                <select name='receipt[receipt_lines[][project_id]]', class = 'form-control project_select' %>
                </select>
              </td>
              <td>
                <a href="#" class="btn btn-primary" id="add-receipt-line">Add</a>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="form-group col-md-6">
          <label for="weightBridgeTicket">Weight Bridge Ticket #
            <span class="required">*</span>
          </label>
          <div>
            <%= f.number_field :weight_bridge_ticket_no, :class => 'form-control', :required => true  %>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="transporter">Transporter
            <span class="required">*</span>
          </label>
          <div>
            <%= f.collection_select :transporter_id,
                  Transporter.order(:name), :id, :name, {include_blank: '-- Choose --'}, {:class => 'form-control', :required => true } %>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="weightBeforeUnloading">Weight Before Unloading
          </label>
          <div>
            <%= f.number_field :weight_before_unloading, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="plateNumber">Plate #
            <span class="required">*</span>
          </label>
          <div>
            <%= f.text_field :plate_no, :class => 'form-control', :required => true  %>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="weightAfterUnloading">Weight After Unloading
          </label>
          <div>
            <%= f.number_field :weight_after_unloading, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="trailerPlateNumber">Trailer Plate #
          </label>
          <div>
            <%= f.text_field :trailer_plate_no, :class => 'form-control' %>
          </div>
        </div>

        <div class="form-group col-md-6"></div>
        <div class="form-group col-md-6">
          <label for="driversName">Driver's Name
          </label>
          <div>
            <%= f.text_field :drivers_name, :class => 'form-control' %>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="form-group">
          <%= f.label :remark %>
          <%= f.text_area :remark, :class => 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit :class => 'btn btn-primary', :id => 'submit-receipt' %>
        </div>
      </div>
    </div>

  </div>
  <% end %>

  <script type="text/javascript">

    var allUnitOfMeasures = [];
    
    var REMOVE_RECEIPTLINE_BTN = '<a href="#" class="remove-receipt-line"><i class="fa fa-times"></i></a>';

    var EMPTY_OPTION = '<option value="">-- Choose --</option>';

    $(function () {

      $("#commodity-select").change(function () {
        var categoryId = $(this).find('option:selected').data('uom-category-id');
        var allUnitOfMeasures = <%= @uoms.to_json.html_safe %>
        if ('' === categoryId)
          return;

        var unitOfMeasuresInCategory = $.grep(allUnitOfMeasures, function (elem) {
          return elem.uom_category_id == categoryId
        });

        var options = $.map(unitOfMeasuresInCategory, function (val) {
          return '<option value="' + val.id + '">' + val.name + '</option>';
        });

        options.unshift(EMPTY_OPTION);

        $('#uom-select').html(options);

      });

      $("#add-receipt-line").click(function (e) {
        e.preventDefault();

        var $this = $(this);

        var $receiptLineForm = $this.closest('tr');

        var valid = true;

        $receiptLineForm.find(':input').each(function () {
          $(this).parsley().validate();
          valid = $(this).parsley().isValid() && valid;
        });

        if (!valid) {
          return;
        }

        var $newRow = $receiptLineForm.clone();

        $newRow.find('td').last().html(REMOVE_RECEIPTLINE_BTN);

        $newRow.find(':input').attr('readonly', true).removeAttr('id');

        $newRow.addClass('receipt-line');

        $newRow.insertBefore($receiptLineForm);

        $receiptLineForm.find(':input').val('');
      });

      $('#receiptLinesTableBody').on('click', '.remove-receipt-line', function (e) {
        $(e.target).closest('tr').fadeOut('slow', function () {
          $(this).remove();
        });
      });

      $('#submit-receipt').click(function (e) {

        if ($('.receipt-line').length === 0) {
          toastr.error("You need to atleast add one commodity.");

          e.preventDefault();
          return;
        }

      });

      $('#commodity-category-select').change(function () {
        var val = $(this).val();

        if (val === '') {
          return;
        }

        $("#commodity-select > option").addClass('hidden');
        $("#commodity-select > option.cc-" + val).removeClass('hidden');

        $("#commodity-select > option:first").removeClass('hidden');

      });

      
      updateProjects(<%=@receipt.donor_id%>);
      function updateProjects(donor_id){        
        if (donor_id === '')
          return;
        var allProjects = <%= @projects.to_json.html_safe %>
      
        var projects_by_donor = $.grep(allProjects, function (elem) {
          return elem.organization_id == donor_id
        });

        var proj_options = $.map(projects_by_donor, function (val) {
          return '<option value="' + val.id + '">' + val.project_code + '</option>';
        });

        proj_options.unshift(EMPTY_OPTION);

        $('.project_select').html(proj_options);
      }

      $('#donor_select').change(function(){
        var donor_id = $(this).val();
        updateProjects(donor_id);
      });

      $('#hub_select').change(function(){
       
        var hub_id = $(this).val();
       
        var warehouses = <%= @warehouses.to_json.html_safe %>
       
        var warehouses_in_hub = $.grep(warehouses, function (elem) {
          return elem.hub_id == hub_id
        });
     

        var warehouse_options = $.map(warehouses_in_hub, function (val) {
          return '<option value="' + val.id + '">' + val.name + '</option>';
        });

        warehouse_options.unshift(EMPTY_OPTION);

        $('#warehouse_select').html(warehouse_options);

      });

    });
  </script>
