<%= form_for(receipt, :html=> {:id => 'receipt-form' , :remote => true }) do |f| %>
<% @projects = Project.where('archived = ? OR archived IS NULL',false)%>
<% @commodities = Commodity.all%>
<% @commodity_categories = CommodityCategory.all%>
<% @uoms = UnitOfMeasure.all%>
<% @warehouses = Warehouse.all %>
<% @stores = Store.order(:name)%>
<% @reference_unit =  UnitOfMeasure.find_by(:uom_type => UnitOfMeasure.uom_types[:ref]).name %>
<div class="row">
  <div class="wrapper">

    <div class="ibox float-e-margins col-sm-12">
      <div class="ibox-content col-sm-12">

        <% if receipt.errors.any? %>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <%= pluralize(receipt.errors.count, "error") %>
            prohibited this receipt from being saved.
          </div>

          <div class="panel-body">
            <ul>
              <% receipt.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <% end %>
        
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :grn_no, "GRN Number" %>
              <span class="required">*</span>
              <%= f.text_field :grn_no, :class => 'form-control big-text-field', :autofocus => true, :required => true %>
            </div>
          </div> 
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :waybill_no, "Waybill(s)" %>
              <span class="required">*</span>
              <%= f.text_field :waybill_no, :class => 'form-control big-text-field', :required => true %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :hub_id, "Hub" %>
              <span class="required">*</span>
              <%= f.collection_select :hub_id,
              Hub.order(:name), :id, :name, {include_blank: '-- Choose --'}, {:id => 'hub_select' ,:class => 'form-control', :required => true }%>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :warehouse_id, "Warehouse" %>
              <span class="required">*</span>
              <%= f.collection_select :warehouse_id,
                      @warehouses.select{|w| w.hub_id == @receipt.hub_id}, :id, :name, {include_blank: '-- Choose --'}, {:id => 'warehouse_select',:class => 'form-control', :required => true }%>              
            </div>
          </div>
        </div>     
        <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                  <%= label_tag :store_id, "Store", { :class => ' control-label'} %>
                  <% if (params[:warehouse_id].present?)
                      @stores = []
                      @stores = Store.where(:warehouse_id => params[:warehouse_id])
                    elsif (@receipt.warehouse_id.present?)
                      @stores = []
                      @stores = Store.where(:warehouse_id => @receipt.warehouse_id)
                    else 
                      
                    end %>
            <div class="">
              <%= select_tag  'receipt[store_id]',  options_from_collection_for_select( @stores, 'id', 'name', @receipt.store_id ), {:prompt => "-- Select Store --" , :class => 'form-control width-100per' }  %>
            </div>
          </div>
      </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :donor_id %>
              <span class="required">*</span>
              <%= f.collection_select :donor_id,
                      Organization.order(:name), :id, :name, {include_blank: '-- Choose --'}, {:class => 'form-control', :id => 'donor_select', :required => true }%>
              </div>
            
          </div>

        </div>   
        <div class="row">
          
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :received_date %>
              <span class="required">*</span>
              <%= f.text_field :received_date, :class => 'form-control datepicker', :required => true  %>
            </div>
          </div>

          <div class="col-sm-6">
              <div class="form-group">
              <%= f.label :storekeeper_name, "Received By" %>
              <span class="required">*</span>
              <%= f.text_field :storekeeper_name, :class => 'form-control', :required => true %>
            </div>
          </div> 

        </div>
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <table class="table" id="table_id">
          <thead>
            <tr>
              <th>Project</th>
              <th>Commodity</th>
              <th>Unit of Measure</th>
              <th>Quantity</th>              
              <th></th>
            </tr>
          </thead>

          <tbody id="receiptLinesTableBody">

            <% @receipt.receipt_lines.each do |receipt_line| %>

            <tr class="receipt-line">              
              <td>
                <select name="receipt[receipt_lines[][project_id]]" class="form-control" readonly>
                  <option value="<%= receipt_line.project&.id %>"><%= receipt_line&.project&.project_code %></option>
                </select>
              </td>              
              <td>
                <select name="receipt[receipt_lines[][commodity_id]]" class="form-control" readonly>
                  <option value="<%= receipt_line.commodity.id %>"><%= receipt_line.commodity.name %></option>
                </select>
              </td>
              <td>
                <select name="receipt[receipt_lines[][unit_of_measure_id]]" class="form-control" readonly>
                  <option value="<%= receipt_line.unit_of_measure.id %>"><%= receipt_line.unit_of_measure.name %></option>
                </select>
              </td>
              <td>
                <input name="receipt[receipt_lines[][quantity]]" type="number" class="form-control" value="<%= receipt_line.quantity %>" readonly/>
              </td>              
              <td>
                <a href="#" class="remove-receipt-line">
                  <i class="fa fa-times"></i>
                </a>
              </td>
            </tr>
 
            <% end %>
            <tr>
              <div style="display: none;">
                <input name="receipt[receipt_lines[][commodity_category_id]]" id="commodity-category-select" value=""/>
                <input name="receipt[receipt_lines[][commodity_id]]" id="commodity-select" value=""/>
              </div>
              <td>
                <select name='receipt[receipt_lines[][project_id]]', class = 'form-control project_select' id='project_select' data-parsley-required %>
                </select>
              </td>              
              <td>
                <input class="form-control" name="commodity_di" id="commodity_di" type="text" disabled="disabled">
              </td>

              <td>
                <select name="receipt[receipt_lines[][unit_of_measure_id]]" id="uom-select" class="form-control" data-parsley-required>
                  <option value="">-- Choose --</option>

                </select>
              </td>

              <td>
                <input name="receipt[receipt_lines[][quantity]]" type="number" step="any" class="form-control" data-parsley-required/>
                <div style="max-width: 100px">
                  <div id="hub-received" class="label label-primary"></div>
                  <div id="allocated-quantity" class="label label-default"></div>
                  <div id="progress-text" style="font-size: 10px; margin-top:10px"></div>
                  <div id="proj-receive-progress" class="progress progress-mini">
                    <div class="progress-bar"></div>
                  </div>
                </div>
              </td>
              <td>
                <a href="#" class="btn btn-primary" id="add-receipt-line">Add</a>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="form-group col-md-6">
          <label for="weightBridgeTicket">Weight Bridge Ticket #
          </label>
          <div>
            <%= f.number_field :weight_bridge_ticket_no, :class => 'form-control'  %>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="transporter">Transporter</label>
          <div>
            <%= f.collection_select :transporter_id,
                  Transporter.order(:name), :id, :name, {include_blank: '-- Choose --'}, {:class => 'form-control', :required => false } %>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="weightBeforeUnloading">Weight Before Unloading
          </label>
          <div>
            <%= f.number_field :weight_before_unloading, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="plateNumber">Plate #
            <span class="required">*</span>
          </label>
          <div>
            <%= f.text_field :plate_no, :class => 'form-control', :required => true  %>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="weightAfterUnloading">Weight After Unloading
          </label>
          <div>
            <%= f.number_field :weight_after_unloading, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="trailerPlateNumber">Trailer Plate #
          </label>
          <div>
            <%= f.text_field :trailer_plate_no, :class => 'form-control' %>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="vessleName">Vessel Name
          </label>
          <div>
            <%= f.text_field :vessel_name, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="driversName">Driver's Name
          </label>
          <div>
            <%= f.text_field :drivers_name, :class => 'form-control' %>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="form-group">
          <%= f.label :remark %>
          <%= f.text_area :remark, :class => 'form-control' %>
        </div>

        <div class="actions">
          <% if !@edit %>
            <%= f.submit "Create and add Another", :class => 'btn btn-primary', :id => 'submit-receipt-and-new',:name => 'submit_receipt_and_new'%> 
          <%end%>
            <%= f.submit :class => 'btn btn-primary', :id => 'submit-receipt', :name => 'submit_receipt'  %>
        </div>

         

      </div>
    </div>

  </div>
  <% end %>

  <script type="text/javascript">
    var current_project_id;
    var current_hub_id;
    var allUnitOfMeasures = [];
    
    var REMOVE_RECEIPTLINE_BTN = '<a href="#" class="remove-receipt-line"><i class="fa fa-times"></i></a>';

    var EMPTY_OPTION = '<option value="">-- Choose --</option>';


    $(document).ready(function(){
     
      if (<%= !@project_id.blank? %>){
      var element = document.getElementById("prject_code_status");
      element.style.display = "block";
      $("#donor_select").val(<%= @organization_id %>);
      $("#donor_select").change();
      $("#project_select").val(<%= @project_id %>);
     
      
      $("#uom-select").val(<%= @unit_of_measure_id %>);
      get_received_qty( $("#project_select").val(), $('#hub_select').val());
      
      }     
     
      $('#receipt_store_id').html("")
       $('#receipt_store_id').html('<option value="">-- Select Store --</option>')
    });

    $(function () {

      $('#hub_select').change(function(){
       
        var hub_id = $(this).val();
       
        var warehouses = <%= @warehouses.to_json.html_safe %>
       
        var warehouses_in_hub = $.grep(warehouses, function (elem) {
          return elem.hub_id == hub_id
        });
     

        var warehouse_options = $.map(warehouses_in_hub, function (val) {
          return '<option value="' + val.id + '">' + val.name + '</option>';
        });

        warehouse_options.unshift(EMPTY_OPTION);

        $('#warehouse_select').html(warehouse_options);
        $('#receipt_store_id').html("")
       $('#receipt_store_id').html('<option value="">-- Select Store --</option>')
        var project_id = $('#project_select').val();
        if (hub_id && project_id){
            get_received_qty(project_id, hub_id);
        }
        
      });

    });

      $('#donor_select').change(function(){
        var donor_id = $(this).val();
        updateProjects(donor_id);
      });

        $('#project_select').change(function(){
          console.log("-------Start------");
          var projectId = $(this).find('option:selected').val();
          console.log("projectId: " + projectId);
          var categoryId = $(this).find('option:selected').data('category-id');
          console.log("categoryId: " + categoryId);
          updateCommodityAndUnit(projectId, categoryId);

          $.ajax({
              url:'/en/receipts/get_commoidty_source',
              type:'GET',
	        dataType:'json',
              data: {project_id: projectId},            
              success:function(data){
                console.log(data);
                 
                  // if(data){
                  //   var element = document.getElementById("receipt_transporter_id");
                  //   $("#receipt_transporter_id").prop('selectedIndex',0);
                  //   element.setAttribute("disabled","disabled")
                   
                  // }
                  // else{
                  //  var element = document.getElementById("receipt_transporter_id");
                  //   element.removeAttribute("disabled")
                  // }
                 
              },
              error:function(data){
                  alert("this is the error :"+ data.local_purchase)
                  console.log(data);
              }
          });
        });

   
     

      updateProjects(<%=@receipt.donor_id%>);
      function updateProjects(donor_id){        
        if (donor_id === '')
          return;
        var allProjects = <%= @projects.to_json.html_safe %>
      
        var projects_by_donor = $.grep(allProjects, function (elem) {
          return elem.organization_id == donor_id
        });
        var commodities = <%= @commodities.to_json.html_safe %>
        var proj_options = $.map(projects_by_donor, function (val) {
          var commodity = $.grep(commodities, function (elem) {
            return elem.id == val.commodity_id
          });
          var commodity = commodity[0];   
          return '<option value="' + val.id + '" data-category-id="' + commodity["commodity_category_id"] + '">' + val.project_code + '</option>';
        });

        proj_options.unshift(EMPTY_OPTION);

        $('.project_select').html(proj_options);
      }

      function updateCommodityAndUnit(projectId, categoryId){
          if (projectId === '')
          {
            $('#uom-select').html("");
            return;
          }
            
          var allProjects = <%= @projects.to_json.html_safe %>
          var project = $.grep(allProjects, function (elem) {
            return elem.id == projectId
          });
          var commodities = <%= @commodities.to_json.html_safe %>
          var commodity = $.grep(commodities, function (elem) {
              return elem.id == project[0].commodity_id
          });

          var hub = $('#hub_select').val();
          var warehouse = $('#warehouse_select').val();
          check_stock(hub, warehouse, projectId);

          var commodity = commodity[0]; 
          console.log("Commodity ID: " + commodity["name"]);
          $('#commodity_di').val(commodity["name"]);
          $('#commodity-select').val(commodity["id"]);
          var commodity_categories = <%= @commodity_categories.to_json.html_safe %>
          var commodity_category = $.grep(commodity_categories, function (elem) {
              return elem.id == commodity["commodity_category_id"]
          });
          commodity_category = commodity_category[0];
          $('#commodity-category-select').val(commodity_category["id"]);
          console.log("Commodity Category ID: " + $('#commodity-category-select').val());
          var allUnitOfMeasures = <%= @uoms.to_json.html_safe %>
          if ('' === commodity_category)
            return;
          var unitOfMeasuresInCategory = $.grep(allUnitOfMeasures, function (elem) {
            return elem.uom_category_id == commodity_category["uom_category_id"]
          });
          var options = $.map(unitOfMeasuresInCategory, function (val) {
            return '<option value="' + val.id + '">' + val.name + '</option>';
          });
          options.unshift(EMPTY_OPTION);
          $('#uom-select').html(options);
      }

      function check_stock(hub, warehouse, project)
      {
        if( hub!="" && hub!=null && warehouse!="" && warehouse!=null && project!="" && project!=null)
        {
          $.ajax({
              url:'/receipts/check_stock',
              type:'POST',
              dataType:'json',
              data:{
                receipt: {
                  hub_id: hub,
                  warehouse_id: warehouse,
                  proj_id: project
                }	            
              },
              before: function() {
              
              },
              success:function(data){
                  console.log(data);	
                  if(data > 0){
                    $("#qunaity-limit").removeClass("label label-danger");
                    $("#qunaity-limit").addClass("label label-primary");
                  }
                  else{
                    $("#qunaity-limit").removeClass("label label-primary");
                    $("#qunaity-limit").addClass("label label-danger");
                  }
                  $("#hub-received").html("Received Amount: " + data["total_received"] + " MT"); 
                  $("#allocated-quantity").html("of total amount of " + data["allocated_quantity"] + " MT")
                  $("#progress-text").html(data["progress"] + "% Completed");
                  $("#proj-receive-progress .progress-bar").css("width", data["progress"]);
              },
              error:function(data){
                  console.log(data);
              }
          });
        }
        else{
          $("#qunaity-limit").removeClass("label label-primary");
          $("#qunaity-limit").addClass("label label-danger");
          $("#qunaity-limit").html("");
          $("#qunaity-limit").html("Please select hub, warehouse, and project!");
        }
      }

$('#warehouse_select').change(function(){
    
    var warehouse = $(this).val();
    var allStores = <%= @stores.to_json.html_safe %>
    var storeByWarehouse = $.grep(allStores, function (elem) {
      return elem.warehouse_id == warehouse;
    });
    var stores_options = $.map(storeByWarehouse, function (val) {
      return '<option value="' + val.id + '">' + val.name + '</option>';
    });
   
    stores_options.unshift('<option value="">-- Select Store --</option>');
    $('#receipt_store_id').html(stores_options);
  });
  </script>
