<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Receipts</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Receipts</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Receipt', new_receipt_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="ibox float-e-margins">
  <div class="ibox-content">

    <table class="table table-striped">
      <thead>
      <tr>
            <th>GRN Number</th>
            <th>Received Date</th>
            <th>Remark</th>
            <th>Actions</th>
      </tr>
      </thead>

      <tbody>
        <% @receipts.each do |receipt| %>
            <tr>
                <td><%= receipt.grn_no %></td>
                <td><%= receipt.received_date %></td>
                <td><%= receipt.remark %></td>
                <td>
                    <%= link_to 'Edit', edit_receipt_path(receipt) %> &middot;
                    <%= link_to 'Delete', receipt, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

