<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Receipt Report</h2>
   
  </div>
   <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'Cancel', receipts_path,  :class => "btn btn-default"%>
    </div>
  </div>
</div>


<div class="ibox float-e-margins border-bottom">
  <div class="ibox-content">
      <%= form_tag( '/receipts/receipt_report' ,{ class: 'form-inline', style: 'display: inline-block;', role: 'form', method: 'GET'}) do %>
       
        <div class="form-group">
          <%= label_tag :hub, "Hub", { :class => ' control-label'} %>

          <div class="">
            <%= select_tag  :hub,  options_from_collection_for_select( Hub.all, 'id', 'name', params[:hub] ) , {:required => true , :prompt => "-- Choose --", :class => 'form-control col-md-3 data-parsley-required' }  %>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag :project_code, "Project Code", { :class => ' control-label'} %>

          <div class="">
            <%= select_tag  :project_code,  options_from_collection_for_select( Project.all, 'id', 'project_code', params[:project_code] ) , {:prompt => "-- Choose --", :include_blank => true, :class => 'form-control col-md-3 data-parsley-required' }  %>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag :received_date, "Received Date", { :class => ' control-label'} %>

          <div class="">
            <%= text_field_tag  :received_date, params[:received_date], {   id: 'received-date-picker',class: 'form-control'}  %>
          </div>
        </div>
        
        <div class="form-group">
          <label for=""></label>
          
              <div>
              <input type="submit" name="filter" value="Generate report - On screen" class="btn btn-sm btn-primary" />

              <input type="submit" name="filter_excel" formaction='/receipts/receipt_report_items.xlsx' value="Generate report-Excel" class="btn btn-sm btn-primary" />
          </div>

          </div>
       

        <% end %>
  </div>
</div>


<% if (@hub.present?) %>
<div class="ibox float-e-margins">
  <div class="ibox-content">
    
        <h2> <%= @hub&.name %> - NDRMC Receive Detail Report from <%= @date_min %> to <%= @date_max %> </h2>
    
    <table class="table table-striped cats-datatable">
      <thead>
      <tr>
            <th>Received Date</th>
            <th>GRN</th>
            <th>Waybill No. </th>
            <th>Donor/Supplier Name </th>
            <th>Project Code </th>
            <th>Transport Name </th>
            <th>Plate No </th>
            <th>Tailer No </th>
            <th>Delivery by</th>
            <th>Commodity Class </th>
            <th>Commodity Type</th>
            <th>Received Amount</th>
            <th>Unit</th>
            <th>Store keeper Name</th>
            <th>Vessel Name</th>            
      </tr>
      </thead>

      <tbody>
      <% if @receipts.present? %>
        <% $i = 0 %>
        <%  @receipts.each   do | receipt |%>
          <tr>
              <td><%= receipt&.received_date.strftime("%b-%d-%Y") %></td> 
              <td><%= receipt&.grn_no %></td>
              <td><%= receipt&.waybill_no %></td>
              <td><%= receipt&.donor %></td>
              <td><%= receipt&.project_code %></td>
              <td><%= receipt&.transporter %></td>
              <td><%= receipt&.plate_no %></td>
              <td><%= receipt&.trailer_plate_no %></td>
              <td><%= receipt&.drivers_name %></td>
              <td><%= CommodityCategory.find(receipt&.commodity_class_id).name %></td>
              <td><%= receipt&.commodity_name %></td>
              <td><%= receipt&.quantity %></td>
              <td><%= receipt&.unit %></td>
              <td><%= receipt&.storekeeper_name %></td>
              <td><%= receipt&.vessel_name %></td>
          </tr>
          <% $i = $i + 1 %>
        <% end %>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
<% end %>

<script type="text/javascript">
  $( function() { 
    $('#received-date-picker').daterangepicker(
      {
          locale: {
            format: 'DD/MM/YYYY'
          },
          maxDate: '0', 
          autoUpdateInput: false
      }, 
      function( start, end  ) { 
        $('#received-date-picker').val( start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY')); 
      }
    ); 
  });

 
$(document).ready(function(){
  $('#project_code').select2();
})


  </script>
