<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2><%= @hrd.name %></h2>
    <ol class="breadcrumb">
      <li>
        <a href="/hrds/<%= @hrd.id %>">HRD</a>
      </li>
      <li class="active">
        <strong>Items</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      

    </div>
  </div>
</div>



<div class="row">

    <div class="panel">
        <div class="panel-heading">
            <form role="form" class="form-inline" action="/hrds/hrd_items" method="GET">
                <input type="hidden" name="hrd_id" value="<%= @hrd.id %>">
                <%= select_tag  :region_id,  options_from_collection_for_select( Location.where(location_type: 'region') , 'id', 'name', params[:region_id] ) , { :prompt => "Choose Region", :id => 'sch', :class => 'form-control' }  %>
            </form>

        </div>
    </div>

   

    <div class="wrapper wrapper-content">

     <% @hrd_items_by_zone.each do |zone_id, hrd_items| %>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><%= Location.find(zone_id).name %></span></h5>
                <div class="ibox-tools">
                    <a class="btn btn-white btn-sm" data-hrd-id="<%= @hrd.id %>" data-zone-id="<%= zone_id %>" data-target="#new-hrd-item" data-toggle="modal">
                        <i class="fa fa-plus"></i> Add woreda
                    </a>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content">
                <div>
                    <table class="table" id="zone-<%= zone_id %>">
                        <thead>
                            <tr> 
                                <th>Woreda</th>
                                <th>Starting Month</th>
                                <th>Duration</th>
                                <th>Number of Beneficiaries</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% total = 0 %>
                            <% hrd_items.sort_by{|n| n&.woreda&.name}.each do |item| %>
                                <tr id="hrd-item-<%= item.id %>">
                                    <td><%= item&.woreda&.name  %></td>
                                    <td id="starting-month-<%= item.id %>"><%= Date::MONTHNAMES[item.starting_month] %></td>
                                    <td id="duration-<%= item.id %>"><%= item.duration %></td>
                                    <td id="beneficiary-<%= item.id %>"><%= item.beneficiary %></td>

                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#edit-hrd-item" data-hrd-item-id="<%= item.id %>">edit</a>
                                        <%= link_to '/hrds/remove_hrd_id/' + item.id.to_s , :class => "btn btn-danger btn-sm", :data=> { :confirm => "Are you sure you want to delete this item?" }  do %>
                                                <i class="fa fa-times" aria-hidden="true"></i>   
                                            Delete     
                                        <% end %>
                                    </td>
                                </tr>

                                <% total = total + item.beneficiary %>
                            <% end %>
                            <tr><td></td><td></td><td>Total beneficiaries</td><td><%= total %></td></tr>
                        </tbody>

                    </table>

                
                </div>
            </div>
    </div>

    <% end %>


    <% @zones_with_no_hrd_item.each do |zone_id| %>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><%= Location.find(zone_id).name %></span></h5>
                <div class="ibox-tools">
                    <a class="btn btn-white btn-sm" data-hrd-id="<%= @hrd.id %>" data-zone-id="<%= zone_id %>" data-target="#new-hrd-item" data-toggle="modal">
                        <i class="fa fa-plus"></i> Add woreda
                    </a>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content">
                <div>
                    <table class="table" id="zone-<%= zone_id %>">
                        <thead>
                            <tr> 
                                <th>Woreda</th>
                                <th>Starting Month</th>
                                <th>Duration</th>
                                <th>Number of Beneficiaries</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>

                    </table>

                
                </div>
            </div>
    </div>

    <% end %>

    
  </div>
</div>  

<div class="modal inmodal" id="edit-hrd-item" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Edit</h4>
      </div>
      <div class="modal-body">
        <div class="form-container">
        </div>
        <div class="spinner">
            Loading...
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="save-hrd-item-btn">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal inmodal" id="new-hrd-item" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Add Woreda</h4>
      </div>
      <div class="modal-body">
        <div class="form-container">
        </div>
        <div class="spinner">
            Loading...
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="save-hrd-item-btn">Save</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    var MONTHNAMES = [null].concat( <%= raw( Date::MONTHNAMES[1..-1]) %>);
    $( function() { 
        $('#region-select').change( function() { 
            if( !$(this).val() ) return; 

            $(this).closest('form').submit(); 
        }); 

        $('#edit-hrd-item').on('shown.bs.modal', function (e) {
            e.preventDefault(); 

            var hrd_item_id = $( e.relatedTarget ).data('hrd-item-id'); 

            $('#edit-hrd-item .spinner').show(); 
            $('#edit-hrd-item .form-container').hide(); 

            $("#edit-hrd-item .form-container").load( '/hrds/edit_hrd_form/' + hrd_item_id, function() { 
                $('#edit-hrd-item .spinner').hide(); 
                $('#edit-hrd-item .form-container').show(); 
            }); 
        });

        $('#new-hrd-item').on('shown.bs.modal', function (e) {
            e.preventDefault(); 

            var hrd_id = $( e.relatedTarget ).data('hrd-id'); 
            var zone_id = $( e.relatedTarget ).data('zone-id'); 

            $('#new-hrd-item .spinner').show(); 
            $('#new-hrd-item .form-container').hide(); 

            $("#new-hrd-item .form-container").load( '/hrds/new_hrd_item/' + hrd_id + '?zone_id=' + zone_id, function() { 
                $('#new-hrd-item .spinner').hide(); 
                $('#new-hrd-item .form-container').show(); 
            }); 
        });

        $('#edit-hrd-item #save-hrd-item-btn').click( function() { 
            var hrd_item = {};

            $('#edit-hrd-item .hrd-item-form-field').each( function() { 
                hrd_item[$(this).attr('name')] = $(this).val(); 
            }); 

            $.getJSON( '/hrds/update_hrd_item', hrd_item, function(data) { 
                if( data.successful ) { 
                    toastr.success('Updated!'); 

                    $('#duration-' + hrd_item.id ).text( hrd_item['duration']);
                    $('#starting-month-' + hrd_item.id ).text( MONTHNAMES[hrd_item['starting_month']]);
                    $('#beneficiary-' + hrd_item.id ).text( hrd_item['beneficiary']);

                    $('#edit-hrd-item').modal('hide'); 
                }
                else { 
                    toastr.error("Update failed. Please check your values and try again."); 
                }
            }); 
        }); 

        $('#new-hrd-item #save-hrd-item-btn').click( function() { 
            var hrd_item = {};

            $('#new-hrd-item .hrd-item-form-field').each( function() { 
                hrd_item[$(this).attr('name')] = $(this).val(); 
            });

            $.post( "/hrds/save_hrd_item", hrd_item)
            .done( function( data ) {
                $('#new-hrd-item').modal('hide');
                $(data).appendTo('table#zone-' + hrd_item.zone_id); 
            })
            .fail(function() { 
                toastr.error("Save failed. Please check your values and try again.")
            }); 
        }); 

        $('.remove-hrd-item').click(function(e) { 
            e.preventDefault(); 

            var hrd_item_id = $(this).data('hrd-item-id');
            remove_hrd_item(hrd_item_id);

        }); 


    });

    function remove_hrd_item(id){
        $.ajax( { url: '/hrds/remove_hrd_id/' + id, method: 'DELETE'})
            .done( function() {

                toastr.success("Removed!");

                $('tr#hrd-item-' + id ).fadeOut('slow', function() { $(this).remove(); });
            });

    }
</script>