<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Transport Orders</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Transport Orders</strong>
      </li>
    </ol>
  </div>
  
</div>

<div class="wrapper wrapper-content">

   <div class="ibox float-e-margins">
    <div class="ibox-content">

      <%= form_tag( transport_orders_path ,{ class: 'form-inline', style: 'display: inline-block;', role: 'form', method: 'GET'}) do %>

          

          <div class="input-group">
            <%= label_tag :transporter, "Transporter", { :class => ' control-label' } %>

            <div class="">
              <%= select_tag  :transporter,  options_from_collection_for_select( Transporter.all, 'id', 'name', params[:transporter] ) , { :style => 'width: 300px', :prompt => "-- Choose --", :class => 'form-control data-parsley-required' }  %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :operation, "Operation", { :class => ' control-label'} %>

            <div class="">
              <%= select_tag  :operation,  options_from_collection_for_select( Operation.where(archived: [nil,false]).order('name'), 'id', 'name', params[:operation] ) , { :style => 'width: 300px', :required => true , :prompt => "-- Choose --", :class => 'form-control col-md-2 data-parsley-required' }  %>
            </div>
          </div>
          <div class="form-group">
            <label for=""></label>
            <div>
              <input data-toggle="tooltip" data-placement="top" title="Use 'Order No, Refrence No or Requisition No independently' or 'Trandporter and operation together' as per thier priority" type="submit" name="filter" value="Go" class="btn btn-sm btn-primary" />
            </div>
          </div>

      <% end %>
      <form method='GET' class = 'form-inline' style: 'display: inline-block;'> 
          <div class="form-group">
              <%= label_tag :order_no, "Order No", { :class => ' control-label'} %>

                  <div class="">
                    <%= text_field_tag  :order_no, params[:order_no], { :style => 'width: 200px', class: 'form-control'}  %>
                 </div>
         </div>
      <div class="form-group">
             <label for=""></label>
            <div>
                <button class= 'btn btn-sm btn-primary' type= 'submit'> <i class="fa fa-search"></i> Search</button>
            </div>
        </div>
      </form>  
      <form method='GET' class = 'form-inline' style: 'display: inline-block;'>   
          <div class="form-group">
              <%= label_tag :reference_no, "Reference No", { :class => ' control-label '} %>

                  <div class="">
                      <%= text_field_tag  :reference_no, params[:reference_no], {  :style => 'width: 200px', class: 'form-control input-large'}  %>
                  </div>
          </div>
          <div class="form-group">
             <label for=""></label>
            <div>
                <button class= 'btn btn-sm btn-primary' type= 'submit'> <i class="fa fa-search"></i> Search</button>
            </div>
        </div>
      </form>  
      <form method='GET' class = 'form-inline' style: 'display: inline-block;'>   
          <div class="form-group">
              <%= label_tag :requisition_no, "Requisition No", { :class => ' control-label '} %>

                    <div class="">
                         <%= text_field_tag  :requisition_no, params[:requisition_no], { :style => 'width: 200px', class: 'form-control input-large'}  %>
                  </div>
          </div>
          <div class="form-group">
             <label for=""></label>
            <div>
                <button class= 'btn btn-sm btn-primary' type= 'submit'> <i class="fa fa-search"></i> Search</button>
            </div>
        </div>
      </form>
          

    </div>


  <div class="ibox float-e-margins">
    <div class="ibox-content">
    <% if @result.present? && !@result.nil? %>
      Search Result for <%= @result %>
    <% end %>
    </div>
  

  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped">
        <thead>
          <tr>       
                        <th>Transport Order No</th>
                        <th>Transporter</th>
                        <th>Region</th>
                        <th>Number of Destinations</th>
                        <th>Total Quantity</th>
                        <th>Status</th>
                        <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @transport_orders.each do |transport_order| %>
          <tr>      
            <td>    <%= link_to transport_order.order_no, transport_order_path(transport_order.id) %>
            <td> <%= transport_order&.transporter&.name %></td>
            <td> <%= transport_order&.location&.name  %></td>
            <td> <%= transport_order&.transport_order_items.count(:fdp_id) %> </td>
            <td> <%= number_with_delimiter(transport_order&.transport_order_items.sum(:quantity)) %></td>
            <td> <%= transport_order.status %> </td>
            <td>
            <% if policy(TransportOrder).edit? %>
              <%= link_to 'Edit', edit_transport_order_path(transport_order) %> &middot;
            <% end %>
            <% if policy(TransportOrder).destroy? %>
              <%= link_to 'Delete', transport_order, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
