<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Transport Order: <%= @transport_order&.order_no %> </h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Transport Orders</a>
      </li>
      <li class="active">
        <strong>Transport Order items</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
     <div class="title-action">
      <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">Tasks
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
        <% if policy(TransportOrder).revert? %>
          <li><%= link_to "Revert TO", '' %></li>
        <% end %>
        <% if policy(TransportOrder).destroy? %>
          <li><%= link_to "Delete", '' %></li>
        <% end %>
          <li> 
        <% if policy(TransportOrder).destroy? %>
          <a class="btn btn-default" data-to-id="<%= @transport_order.id.to_s %>" data-target="#print-to" data-toggle="modal">
            <i class="fa fa-print"></i> Print
          </a>
        <% end %>
          </li>
        <% if policy(TransportOrder).destroy? %>
          <li><a href="#" class='tr-modal' data-toggle="modal"  data-target="#tr-modal">Move Transport Order(s)</a></li>
        <% end %>
          <li>
            <% if policy(Bid).contracts? %>
              <%= link_to 'Contracts', '/en/bids/contracts/' + @transport_order&.bid&.id.to_s %>
            <% end %>
          </li>
          <li>
            
          </li>
        </ul>
        <div></div>
      </div>
  </div>
</div>

<div class="ibox float-e-margins">
 
    <div class="ibox-content col-md-12 col-sm-12 col-xs-12">
    <div class="col-sm-1">
      <% if (@transport_order&.status == 'approved') %>
        <span class="label label-primary"><%= @transport_order&.status %></span>
      <% elsif (@transport_order&.status == 'canceled') %>
        <span class="label label-danger"><%= @transport_order&.status %></span>
      <% elsif (@transport_order&.status == 'closed') %>
        <span class="label label-success"><%= @transport_order&.status %></span>
      <% elsif (@transport_order&.status == 'archived') %>
        <span class="label label-default"><%= @transport_order&.status %></span>
      <% else %>
        <span class="label label-warning"><%= @transport_order&.status %></span>
      <% end %>
    </div>
    <div class="col-sm-4">
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
          Transporter:
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <%= @transport_order&.transporter&.name %>
        </div>
      </div>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
          Contract:
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <%= @transport_order&.contract&.contract_no %>
        </div>
      </div>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
          Bid Ref No:
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <%=  @transport_order&.bid&.bid_number %>
        </div>
      </div>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
          Created date:
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
      
          <%= @transport_order&.created_date %>
       
        </div>
      </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
          Region:
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <%= @transport_order&.location&.name %>       
        </div>
      </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
          Expiry date:
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <%= @transport_order&.end_date %>
        </div>
      </div>


    </div>
   
  
     
   




</div>


  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped" id="tbl">
        <thead>
          <tr>          <th></th>
                        <th>Requiistion Number</th>
                        <th>Woreda</th>
                        <th>Source Warehouse</th>
                        <th>Destinations FDP</th>
                        <th>Commodity</th>
                        <th>Quantity</th>
                        <th>Tariff/Qtl</th>
                        <th>Total Amount</th>
                       
          </tr>
        </thead>

        <tbody>
          <% @transport_order_items.each do |transport_order_item| %>
          <tr>
                    <td> <%= check_box_tag(transport_order_item.id.to_s,transport_order_item.id,false,class: 'transport_orders') %></td>
                    <td> <%= transport_order_item&.requisition_no %></td>
                    <td> <%= Location.find_by(id: transport_order_item&.fdp&.location_id)&.name %></td>
                    <td> <%= Warehouse.find_by(id: transport_order_item&.warehouse_id)&.name  %></td>
                    <td> <%= transport_order_item&.fdp&.name %> </td>
                    <td> <%= transport_order_item&.commodity&.name %> </td>
                    <td> <%= number_with_delimiter(transport_order_item&.quantity) %> </td>
                    <td> <%= transport_order_item&.tariff %> </td>
                    
                    <td> <%= number_with_delimiter(transport_order_item&.tariff * transport_order_item&.quantity)  %> </td>
                        
             
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>


<div class="modal fade" tabindex="-1" role="dialog" id="tr-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select Transporter</h4>
      </div>
      <div class="modal-body">
    

     <form role="form" method="POST" enctype="multipart/form-data" action="/transport_orders/move/<%= @transport_order&.id.to_s %>" >
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-group">
          <label for="transporter">Transporter
            <span class="required">*</span>
          </label>
          <div>
            <%= select("transporter", "transporter_id", Transporter.all.collect{|t| [t.name, t.id ]}, {prompt: '-- Choose --'}, {:class => 'form-control', :required => true, :name => 'transporter', :id => 'transporter_id' }) %>
          </div>
        </div>

      <div class="form-group">
        <div>
        <br>
             <input  type="hidden" name="att" id="att" value="" />
            <input type="submit" id="btnFormSubmit" class="btn btn-primary" value="Move" />
        </div>
      </div>

   
        
      </form>


      </div>
    
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal inmodal" id="print-to" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 id='modal-title' class="modal-title">Print Transport Order</h4>
      </div>
      <form name="set_market_price" role="form" method="POST" enctype="multipart/form-data" action="/transport_orders/print/<%= params[:id].to_s %>?format=pdf" class="form-inline" style="display: inline;margin-top: 15px">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :id, params[:id], class: "", :name => "id", :required => true, :display => false  %>
        <div class="modal-body col-md-12 col-sm-12 col-xs-12">
          <% if @transport_order.start_date.present? || @transport_order.end_date.present? %>
            <div class="col-md-12 col-sm-12 col-xs-12 alert alert-warning">
              WARNING! Make sure the TO has not been signed before you make changes to these dates as these dates need to be the same with the signed manual copy of the TO.
            </div> 
          <% end %>
          <div class="ibox float-e-margins col-md-12 col-sm-12 col-xs-12">          
            <div class="col-md-6 col-sm-6 col-xs-6">
              <%= label_tag :start_date, "Start Date", { :class => ' control-label'} %>

              <div class="">
                <%= text_field_tag :start_date, @transport_order.start_date, { :required => true, name: 'transport_order[start_date]', id: 'start_date',class: 'form-control datepicker'}  %>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
              <%= label_tag :end_date, "End Date", { :class => ' control-label', :required => true } %>

              <div class="">
                <%= text_field_tag :end_date, @transport_order.end_date, { :required => true, name: 'transport_order[end_date]', id: 'end_date',class: 'form-control datepicker'}  %>
              </div>
            </div>
        </div>     
        <div class="spinner col-md-12 col-sm-12 col-xs-12"></div> 
      </div>
      <div class="modal-footer">
        <div class="col-md-6 col-sm-6 colxs-6">
          <div class="pll-right" style="width:inherit;"> 
            
          </div>
        </div>
        <div class="col-md-6 col-sm-6 colxs-6">
          <button type="submit" class="btn btn-primary">Print</button>
          <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>          
        </div>
      </div>
    </form>
  </div>
</div>

<script>

var checkedAttr = [];

$(document).on("click", ".tr-modal",function(){
 
  $(".form-group #att").val(checkedAttr);
});

$('input[type="checkbox"]').change(function(){

if ($(this).is(':checked'))
      {
        checkedAttr.push($(this).val());
      }
  else
    {
          index =   checkedAttr.indexOf($(this).val())
          if (index > -1){checkedAttr.splice(index,1);}
    }
       console.log("checkedAttr:", checkedAttr);
});
 
 
 
</script>