<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <%= form_for @warehouse do |f| %>
        <% if warehouse.errors.any? %>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <%= pluralize(warehouse.errors.count, "error") %> prohibited this warehouse from being saved.
            </div>

            <div class="panel-body">
              <ul>
                <% warehouse.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

                <div class="form-group">
                            <%= f.label :name %>
                <%= f.text_field :name, :class => 'form-control' %>
                        </div>

                <div class="form-group">
                            <%= f.label :description %>
                <%= f.text_field :description, :class => 'form-control' %>
                        </div>

                <%= render 'shared/location_selector', name: 'warehouse[location_id]', requiredLevels:['region', 'zone'], locationId: warehouse.location_id %>

                <div class="form-group">
                  <%= f.label 'Owner' %>
                  <%= f.collection_select :organization_id,
                      Organization.order(:name),:id,:name, include_blank: true, :class => 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= f.label :lat %>
                    <%= f.text_field :lat, :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :lon %>
                    <%= f.text_field :lon, :class => 'form-control' %>
                  </div>
      <div class="actions">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
  <% end %>

    </div>
  </div>

  <div class="ibox float-e-margins">
    <div class="ibox-content">
  <div class="panel-body">
    <h5> Stores </h5>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
                        <th>Name</th>
                        <th>Temporary</th>
                        <th>Hub</th>
                        <th>Store location</th>
                        <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @warehouse.stores.each do |store| %>
          <tr>
                        <td><%= store.name
              %></td>
                        <td><%= store.temporary
              %></td>
                        <td><%= store.warehouse.hub.name
              %></td>
                        <td><%= store.warehouse.name
              %></td>
                        <td>
              <%= link_to 'Edit', edit_store_path(store) %> &middot;
              <%= link_to 'Delete', store_path, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-8">
      <div class="title-action">
        <%= link_to 'New Store', new_warehouse_store_path(@warehouse), :class => "btn btn-primary"%>
      </div>
    </div>
  </div>

</div>
</div>
</div>
