<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>View warehouse</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Warehouse</a>
      </li>
      <li class="active">
        <strong>Show</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'Cancel', warehouses_path,  :class => "btn btn-default"%>
    </div>
  </div>
</div>
<div class="row">
  <div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <%= fields_for(@warehouse) do |f| %>
            <% if @warehouse.errors.any? %>
                <div class="panel panel-danger">
                  <div class="panel-heading">
                    <%= pluralize(@warehouse.errors.count, "error") %> prohibited this hub from being saved.
                  </div>

                  <div class="panel-body">
                    <ul>
                      <% @warehouse.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
            <% end %>


            <div class="row">
              <div class="col-lg-12">
                <div class="m-b-md">

                  <%= link_to 'Edit', edit_warehouse_path(@warehouse),  :class => "btn btn-default pull-right"%>
                  <h2><%= @warehouse.name %></h2>
                  <h4> <%= @warehouse.description%></h4>
                  <br/>
                  <dl class="dl-horizontal">

                    <dt><%= f.label :location_id %> </dt>
                    <dd>
                      <% if @warehouse.location_id %>
                          <% Location.find(@warehouse.location_id).ancestors.each do |a|%>
                              <%= link_to a.name, location_path(a.id), :class => 'text-navy'%> /
                          <% end %>

                          <%= link_to Location.find(@warehouse.location_id).name ,location_path(@warehouse.location_id), :class => 'text-navy'%>
                      <% end %>
                    </dd>
                    <dt><i class="fa fa-map-marker"></i></dt>


                    <dd> <%=@warehouse.address %> </dd>

                    <dt><%= f.label :owner_id %></dt>


                    <dd>  <% if @warehouse.organization_id %>
                          <%= @warehouse.organization.name %>
                      <% end %> </dd>

                  </dl>
                  <% if @warehouse.lat && @warehouse.lon %>
                    <div style='width: 800px;'>
                      <div id="map" style='width: 600px; height: 300px;'></div>
                    </div>
                  <% end %>

                </div>
              </div>
            </div>


            <div class="row m-t-sm">
              <div class="col-lg-12">
                <div class="panel blank-panel">
                  <div class="panel-heading">
                    <div class="panel-options">
                      <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> Stores </a></li>


                      </ul>
                    </div>
                  </div>

                  <div class="panel-body">

                    <div class="tab-content">

                      <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                          <div>
                            <table class="table table-striped">
                              <thead>
                              <tr>
                                <th>Name</th>
                                <th>Temporary</th>
                                <th>Warehouse</th>
                                <th>Hub</th>
                                <th>Actions</th>
                              </tr>
                              </thead>

                              <tbody>
                              <% @warehouse.stores.each do |store| %>
                                  <tr>
                                    <td><%= store.name %></td>
                                    <td><%= store.temporary%></td>
                                    <td><%= store.warehouse.name%></td>
                                    <td><%= store.warehouse.hub.name%></td>
                                    <td>
                                      <%= link_to 'Edit', edit_store_path(store) %> &middot;
                                      <%= link_to 'Delete', store, method: :delete, data: { confirm: 'Are you sure?' } %>
                                    </td>
                                  </tr>
                              <% end %>
                              </tbody>
                            </table>
                          </div>
                          <div class="col-sm-8">
                            <div class="title-action">
                              <%= link_to 'New Store', new_warehouse_store_path(@warehouse), :class => "btn btn-primary"%>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');

    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([
            {
                "lat": <%= @warehouse.lat %>,
                "lng": <%= @warehouse.lon %> ,
                "infowindow": "<span class='text-navy'><%= @warehouse.name %> Warehouse </span>"
            }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(15);
    });
</script>
