<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">

      <%= render 'layouts/logoheader' %>

      <li class="<%= 'active' if current_page?('/home/minor') %>">
        <%=link_to "plan#index" do %>
        <i class="fa fa-calendar"></i>
        <span class="nav-label"><%= t(:plan) %></span>
        <span class="fa arrow"></span><% end %>
        <ul class="nav nav-second-level collapse">
          <li>
            <a href="#"><%= t(:hrd_plan) %></a>
          </li>
          <li>
            <a href="#"><%= t(:psnp_plan) %></a>
          </li>
          <li >
            <%= link_to  t(:receipt_plan) , projects_path %>
          </li>
          <li>
            <a href="#"><%= t(:bid_plan) %></a>
          </li>
          <li class="<%= 'active' if is_active_controller('rations') || is_active_controller('ration_items')  %>">
            <%= link_to t(:ration), rations_path %>
          </li>
        </a>
      </li>
    </ul>
  </li>

  <li class="<%= 'active' if current_page?('/home/minor') %>">
    <%= link_to "/home/minor" do %>
    <i class="fa fa-hdd-o"></i>
    <span class="nav-label"><%= t(:resource) %></span>
    <span class="fa arrow"></span>
    <% end %>
    <ul class="nav nav-second-level collapse">
      <li>
        <%= link_to t(:gift_certificate), gift_certificates_url %>
      </li>
      <li>
        <a href="#"><%= t(:donors) %></a>
      </li>
    </ul>
  </li>

  <li class="<%= 'active' if current_page?(" /allocation/home") %>">
    <%= link_to "/home/minor" do %>
    <i class="fa fa-hdd-o"></i>
    <span class="nav-label"><%= t(:operation)%></span>
    <span class="fa arrow"></span>
    <% end %>
    <ul class="nav nav-second-level collapse">
      <li>
        <%= link_to t(:operations), operations_url %>
      </li>
      <li class="<%= 'active' if current_page?(home_other_url) %>">
        <%= link_to t(:regional_request), regional_requests_url %>
      </li>
      <li>
        <%= link_to t(:request_allocation), requisitions_url %></a>
      </li>
      <li>
        <a href="#"><%= t(:dispatch_allocation)%></a>
      </li>
      <li>
        <a href="#"><%= t(:transport_requisition)%></a>
      </li>
    </ul>
  </li>

  <li class="<%= 'active' if current_page?('/home/minor') %>">
    <%= link_to "/home/minor" do %>
    <i class="fa fa-cube"></i>
    <span class="nav-label"><%= t(:stock)%></span>
    <span class="fa arrow"></span>
    <% end %>
    <ul class="nav nav-second-level collapse">
      <li class="<%= 'active' if is_active_controller('receipts')  %>">
            <%= link_to t(:receiving), receipts_path %>
      </li>
      <li class="<%= 'active' if is_active_controller('dispatches')  %>">
            <%= link_to t(:dispatch), dispatches_path %>
      </li>
      <li>
        <%= link_to t(:delivery), deliveries_url %>
      </li>
      <li>
        <a href="#"><%= t(:transfer)%></a>
      </li>
      <li>
        <a href="#"><%= t(:adjustment)%></a>
      </li>
      <li>
        <a href="#"><%= t(:stock_take)%></a>
      </li>
      <li>
        <a href="#"><%= t(:internal_move)%></a>
      </li>
      <li>
        <a href="#"><%= t(:stock_ledger)%></a>
      </li>
    </ul>
  </li>

  <li class="<%= 'active' if current_page?('/home/minor') %>">
    <%= link_to "/home/minor" do %>
    <i class="fa fa-truck"></i>
    <span class="nav-label"><%= t(:transport)%></span>
    <span class="fa arrow"></span>
    <% end %>
    <ul class="nav nav-second-level collapse">
      <li>
        <a href="#"><%= t(:bids)%></a>
      </li>
      <li>
        <a href="#"><%= t(:rfq)%></a>
      </li>
      <li>
        <a href="#"><%= t(:bid_evaluation)%></a>
      </li>
      <li>
        <%= link_to 'Transporters', transporters_path %>
      </li>
    </ul>
  </li>

  <li class="<%= 'active' if current_page?('/home/minor') %>">
    <%= link_to "/home/minor" do %>
    <i class="fa fa-money"></i>
    <span class="nav-label"><%= t(:contract)%></span>
    <span class="fa arrow"></span>
    <% end %>
    <ul class="nav nav-second-level collapse">
      <li>
        <a href="#"><%= t(:transport_order)%></a>
      </li>
      <li>
        <a href="#"><%= t(:contract_admin)%></a>
      </li>
      <li>
        <a href="#"><%= t(:payment_request)%></a>
      </li>
      <li>
        <a href="#"><%= t(:payment_tracking)%></a>
      </li>
    </ul>
  </li>

  <li class="<%= 'active' if current_page?('/home/minor') %>">
    <%= link_to "/home/minor" do %>
    <i class="fa fa-map-o"></i>
    <span class="nav-label"><%= t(:region)%></span>
    <span class="fa arrow"></span>
    <% end %>
    <ul class="nav nav-second-level collapse">
      <li>
        <a href="#">Request</a>
      </li>
      <li>
        <a href="#"><%= t(:fdp_receipts)%></a>
      </li>
      <li>
        <a href="#"><%= t(:cmpm_reports)%></a>
      </li>
      <li>
        <a href="#"><%= t(:needs_assessment)%></a>
      </li>
    </ul>
  </li>

  <li class="<%= 'active' if current_page?(setting_index_url) %>">
    <%= link_to setting_index_url do %>
    <i class="fa fa-cog"></i>
    <span class="nav-label"><%= t(:setting) %> </span>
    <% end %>
  </li>

</ul>

</div>
</nav>
