<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse" id="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">

      <%= render 'layouts/logoheader' %>

      <li>
        <%=link_to "plan#index" do %>
        <i class="fa fa-calendar"></i>
        <span class="nav-label"><%= t(:plan) %></span>
        <span class="fa arrow"></span><% end %>
        <ul class="nav nav-second-level collapse">
         <% if policy(Hrd).index? %>
          <li class="<%= 'active' if is_active_controller('hrds')  %>">
            <%= link_to t(:hrd_plan), hrds_url %>            
          </li>
          <%end%>
          <%if policy(PsnpPlan).index? %>
          <li class="<%= 'active' if is_active_controller('psnp_plans') %>">
            <%= link_to  t(:psnp_plan), psnp_plans_url %>
          </li>
          <%end%>
          <% if policy(Project).index? %>
          <li class="<%= 'active' if is_active_controller('projects')  %>">
            <%= link_to  t(:receipt_plan) , projects_path %>
          </li>
          <%end%>
          <% if policy(FrameworkTender).index? %>
          <li class="<%= 'active' if is_active_controller('framework_tenders') %>">
            <%= link_to t(:framework_tender), framework_tenders_path %>
          </li>
          <%end%>
          <%if policy(Ration).index? %>
          <li class="<%= 'active' if is_active_controller('rations') || is_active_controller('ration_items')  %>">
            <%= link_to t(:ration), rations_path %>
          </li>
          <%end%>
          <li class="<%= 'active' if is_active_controller('gift_certificates')  %>">
          <% if policy(GiftCertificate).index? %>
              <%= link_to t(:gift_certificate), gift_certificates_url %>
          <% end %>
          </li>        
      </li>
    </ul>
  </li>

  <li class="<%= 'active' if current_page?(" /allocation/home") %>">
    <%= link_to "/home/minor" do %>
    <i class="fa fa-hdd-o"></i>
    <span class="nav-label"><%= t(:operation)%></span>
    <span class="fa arrow"></span>
    <% end %>
    <ul class="nav nav-second-level collapse">
      <%if policy(Operation).index?%>
      <li class="<%= 'active' if is_active_controller('operations')  %>">
        <%= link_to t(:operations), operations_url %>
      </li>
      <%end%>
      <% if policy(RegionalRequest).index? %>

      <li class="<%= 'active' if is_active_controller('regional_requests')  %>">
        <%= link_to t(:regional_request), regional_requests_url %>
      </li>
      <%end%>
      <% if policy(Requisition).index? %>
      <li class="<%= 'active' if is_active_controller('requisitions')  %>">
        <%= link_to t(:request_allocation), requisitions_url %></a>
      </li>
      <%end%>
      <%if policy(WarehouseAllocation).index? %>
      <li class="<%= 'active' if is_active_controller('warehouse_allocations')  %>">
        <%= link_to t(:warehouse_allocation), warehouse_allocations_url %>
      </li>
      <% end %>
      <%if policy(TransportRequisition).index? %>
      <li>
        <%= link_to t(:transport_requisition), transport_requisitions_url %>
      </li>
      <% end %>
    </ul>
  </li>

  <li class="<%= 'active' if current_page?('/home/minor') %>">
    <%= link_to "/home/minor" do %>
    <i class="fa fa-cube"></i>
    <span class="nav-label"><%= t(:stock)%></span>
    <span class="fa arrow"></span>
    <% end %>
    <ul class="nav nav-second-level collapse">      
      <li class="<%= 'active' if is_active_controller('receipts')  %>">
      <% if policy(Receipt).index? %>
            <%= link_to t(:receiving), receipts_path %>
      <%end%>
      </li>
      <li class="<%= 'active' if is_active_controller('project_code_allocations')  %>">
      <%if policy(ProjectCodeAllocation).index? %>
            <%= link_to t(:stock_reserve), project_code_allocations_path %>
      <% end %>
      </li>
       <% if policy(Dispatch).index? %>
      <li class="<%= 'active' if is_active_controller('dispatches')  %>">
            <%= link_to t(:dispatch), "/dispatches/basic" %>
      </li>
      <%end%>      
      <%if policy(StockMovement).index? %>
       <li class="<%= 'active' if is_active_controller('stock_movements')  %>">
        <%= link_to t(:stock_movements), '/stock_movements/' %>
      </li>
      <% end %>
      <%if policy(StockTake).index? %>
      <li class="<%= 'active' if is_active_controller('stock_takes')  %>">
        <%= link_to t(:adjustment), stock_takes_url %>
      </li>
      <%end%>
      <li>
        <a href="#"><%= t(:stock_ledger)%></a>
      </li>
      <li class="<%= 'active' if is_active_controller('stock_reports')  %>">
        <%= link_to t(:stock_reports), '/stock_reports/' %>
      </li>
                  
    </ul>
  </li>

  <li class="<%= 'active' if current_page?('/home/minor') %>">
    <%= link_to "/home/minor" do %>
    <i class="fa fa-money"></i>
    <span class="nav-label"><%= t(:contract)%></span>
    <span class="fa arrow"></span>
    <% end %>
    <ul class="nav nav-second-level collapse">
      <% if policy(Transporter).index? %>
      <li class="<%= 'active' if(is_active_controller('transporters') || is_active_controller('transporter_payments'))  %>">
        <%= link_to 'Transporters', transporters_path %>
      </li>
      <%end%>
      <%if policy(TransportOrder).index? %>
      <li>
        <%= link_to t(:transport_order), transport_orders_url %>
      </li>
      <% end %>
      <li>
        <a href="#"><%= t(:contract_admin)%></a>
      </li>
    </ul>
  </li>

  <li class="<%= 'active' if current_page?('/home/minor') %>">
    <%= link_to "/home/minor" do %>
    <i class="fa fa-map-o"></i>
    <span class="nav-label"><%= t(:region)%></span>
    <span class="fa arrow"></span>
    <% end %>
    <ul class="nav nav-second-level collapse">  
      <%if policy(Delivery).index? %>
      <li class="<%= 'active' if is_active_controller('deliveries')  %>">
        <%= link_to t(:delivery), deliveries_url %>
      </li>
      <%end%>          
      <li>
        <a href="#"><%= t(:fdp_receipts)%></a>
      </li>
      <li>
        <a href="#"><%= t(:cmpm_reports)%></a>
      </li>      
    </ul>
  </li>
<%if policy(:admin).admin?%>

  <li class="<%= 'active' if current_page?('/home/minor') %>">
    <%= link_to "/home/minor" do %>
        <i class="fa fa-cog"></i>
        <span class="nav-label"><%= t(:setting) %> </span>
        <span class="fa arrow"></span>
    <% end %>
    <%= render 'layouts/settingnav' %>
  </li>
<%end%>
</ul>

</div>
</nav>
