<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">

                        <span class="clear" style="font-size: 3em">
                            CATS
                        </span>

                </div>
                <div class="logo-element">
                    C
                </div>
            </li>
            <li class="<%= "is_active_controller('dashboards')" %>">
                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= "is_active_controller('dashboards')" %>">
                    <li class="<%= "is_active_action('dashboard_1')" %>"><%= "Dashboard v.1" %></li>
                    <li class="<%= "is_active_action('dashboard_2')" %>"><%= "Dashboard v.2" %></li>
                    <li class="<%= "is_active_action('dashboard_3')" %>"><%= "Dashboard v.3" %></li>
                    <li class="<%= "is_active_action('dashboard_4_1')" %>"><%= "Dashboard v.4" %></li>
                    <li class="<%= "is_active_action('dashboard_5')" %>"><%= "Dashboard v.5" %></li>
                </ul>
            </li>
            <li class="<%= "is_active_controller('layoutsoptions')" %>">
                <%= link_to 'landing/index' do %>
                <i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.layouts">Layouts</span> <span class="label label-primary pull-right">NEW</span>
                <% end %>
            </li>
            <li class="<%= "is_active_controller('graphs')" %>">
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label" data-i18n="nav.graphs">Graphs</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= "is_active_controller('graphs')" %>">
                    <li class="<%= "is_active_action('flot')" %>"><%= "Flot Charts" %></li>
                    <li class="<%= "is_active_action('morris')" %>"><%= "Morris.js Charts" %></li>
                    <li class="<%= "is_active_action('rickshaw')" %>"><%= "Rickshaw Charts" %> </li>
                    <li class="<%= "is_active_action('chartjs')" %>"><%= "Chart.js" %></li>
                    <li class="<%= "is_active_action('chartist')" %>"><%= "Chartist" %></li>
                    <li class="<%= "is_active_action('c3charts')" %>"><%= "c3 charts" %></li>
                    <li class="<%= "is_active_action('peity')" %>"><%= "Peity Charts" %></li>
                    <li class="<%= "is_active_action('sparkline')" %>"><%= "Sparkline Charts" %> </li>
                </ul>
            </li>
            <li class="<%= "is_active_controller('mailbox')" %>">
                <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label" data-i18n="nav.mailbox">Mailbox </span><span class="label label-warning pull-right">16/24</span></a>
                <ul class="nav nav-second-level collapse <%= "is_active_controller('mailbox')" %>">
                    <li class="<%= "is_active_action('inbox')" %>"><%= "Inbox" %> </li>
                    <li class="<%= "is_active_action('email_view')" %>"><%= "Email view" %> </li>
                    <li class="<%= "is_active_action('compose_email')" %>"><%= "Compose email" %> </li>
                    <li class="<%= "is_active_action('email_templates')" %>"><%= "Email templates" %> </li>
                </ul>
            </li>
            <li class="<%= "is_active_controller('metrics')" %>">
                <%= link_to 'landing/index' do %>
                <i class="fa fa-pie-chart"></i> <span class="nav-label" data-i18n="nav.metrics">Metrics</span>
                <% end %>
            </li>
            <li class="<%= "is_active_controller('widgets')" %>">
                <%= link_to 'landing/index' do %>
                <i class="fa fa-flask"></i> <span class="nav-label" data-i18n="nav.widgets">Widgets</span>
                <% end %>
            </li>
            <li class="<%= "is_active_controller('forms')" %>">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.forms">Forms</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= "is_active_controller('forms')" %>">
                    <li class="<%= "is_active_action('basic_forms')" %>"><%= "Basic form" %></li>
                    <li class="<%= "is_active_action('advanced')" %>"><%= "Advanced Plugins" %> </li>
                    <li class="<%= "is_active_action('wizard')" %>"><%= "Wizard" %> </li>
                    <li class="<%= "is_active_action('file_upload')" %>"><%= "File Upload" %> </li>
                    <li class="<%= "is_active_action('text_editor')" %>"><%= "Text Editor" %> </li>
                    <li class="<%= "is_active_action('markdown')" %>"><%= "Markdown" %> </li>
                </ul>
            </li>
            <li class="<%= "is_active_controller('appviews')" %>">
                <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label" data-i18n="nav.appviews">App Views</span>  <span class="pull-right label label-primary">SPECIAL</span></a>
                <ul class="nav nav-second-level collapse <%= "is_active_controller('appviews')" %>">
                    <li class="<%= "is_active_action('contacts')" %>"><%= "Contacts" %> </li>
                    <li class="<%= "is_active_action('profile')" %>"><%= "Profile" %> </li>
                    <li class="<%= "is_active_action('profile_two')" %>"><%= "Profile v.2" %> </li>
                    <li class="<%= "is_active_action('contacts_two')" %>"><%= "Contacts v.2" %> </li>
                    <li class="<%= "is_active_action('projects')" %>"><%= "Projects" %> </li>
                    <li class="<%= "is_active_action('project_detail')" %>"><%= "Project detail" %> </li>
                    <li class="<%= "is_active_action('teams_board')" %>"><%= "Teams board" %> </li>
                    <li class="<%= "is_active_action('social_feed')" %>"><%= "Social feed" %> </li>
                    <li class="<%= "is_active_action('clients')" %>"><%= "Clients" %> </li>
                    <li class="<%= "is_active_action('outlook_view')" %>"><%= "Outlook view" %> </li>
                    <li class="<%= "is_active_action('vote_list')" %>"><%= "Vote list" %> </li>
                    <li class="<%= "is_active_action('file_menager')" %>"><%= "File manager" %> </li>
                    <li class="<%= "is_active_action('calendar')" %>"><%= "Calendar" %> </li>
                    <li class="<%= "is_active_action('issue_tracker')" %>"><%= "Issue trakcer" %> </li>
                    <li class="<%= "is_active_action('blog')" %>"><%= "Blog" %> </li>
                    <li class="<%= "is_active_action('article')" %>"><%= "Article" %> </li>
                    <li class="<%= "is_active_action('faq')" %>"><%= "FAQ" %> </li>
                    <li class="<%= "is_active_action('timeline')" %>"><%= "Timeline" %> </li>
                    <li class="<%= "is_active_action('pin_board')" %>"><%= "Pin board" %> </li>
                </ul>
            </li>
            <li class="<%= "is_active_controller('pages')" %>">
                <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label" data-i18n="nav.otherpages">Other Pages</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= "is_active_controller('pages')" %>">
                    <li class="<%= "is_active_action('search_results')" %>"><%= "Search results" %> </li>
                    <li class="<%= "is_active_action('lockscreen')" %>"><%= "Lockscreen" %> </li>
                    <li class="<%= "is_active_action('invoice')" %>"><%= "Invoice" %> </li>
                    <li class="<%= "is_active_action('login')" %>"><%= "Login" %> </li>
                    <li class="<%= "is_active_action('login_2')" %>"><%= "Login v.2" %></li>
                    <li class="<%= "is_active_action('forgot_password')" %>"><%= "Forgot password" %></li>
                    <li class="<%= "is_active_action('register')" %>"><%= "Register" %> </li>
                    <li class="<%= "is_active_action('not_found_error')" %>"><%= "404 Page" %> </li>
                    <li class="<%= "is_active_action('internal_server_error')" %>"><%= "500 Page" %> </li>
                    <li class="<%= "is_active_action('empty_page')" %>"><%= "Empty page" %> </li>
                </ul>
            </li>
            <li class="<%= "is_active_controller('miscellaneous')" %>">
                <a href="#"><i class="fa fa-globe"></i> <span class="nav-label" data-i18n="nav.miscellaneous">Miscellaneous</span><span class="label label-info pull-right">NEW</span></a>
                <ul class="nav nav-second-level collapse <%= "is_active_controller('miscellaneous')" %>">
                    <li class="<%= "is_active_action('notification')" %>"><%= "Notification" %> </li>
                    <li class="<%= "is_active_action('nestablelist')" %>"><%= "Nestable list" %></li>
                    <li class="<%= "is_active_action('agile_board')" %>"><%= "Agile board" %></li>
                    <li class="<%= "is_active_action('timeline_second_version')" %>"><%= "Timeline v.2" %> </li>
                    <li class="<%= "is_active_action('diff')" %>"><%= "Diff" %> </li>
                    <li class="<%= "is_active_action('i18support')" %>"><%= "i18 support" %> </li>
                    <li class="<%= "is_active_action('sweet_alert')" %>"><%= "Sweet alert" %> </li>
                    <li class="<%= "is_active_action('idle_timer')" %>"><%= "Idle timer" %> </li>
                    <li class="<%= "is_active_action('truncate')" %>"><%= "Truncate" %> </li>
                    <li class="<%= "is_active_action('spinners')" %>"><%= "Spinners" %> </li>
                    <li class="<%= "is_active_action('live_favicon')" %>"><%= "Live favicon" %> </li>
                    <li class="<%= "is_active_action('google_maps')" %>"><%= "Google maps" %> </li>
                    <li class="<%= "is_active_action('code_editor')" %>"><%= "Code editor" %> </li>
                    <li class="<%= "is_active_action('modal_window')" %>"><%= "Modal window" %> </li>
                    <li class="<%= "is_active_action('clipboard')" %>"><%= "Clipboard" %> </li>
                    <li class="<%= "is_active_action('forum_view')" %>"><%= "Forum view" %> </li>
                    <li class="<%= "is_active_action('validation')" %>"><%= "Validation" %> </li>
                    <li class="<%= "is_active_action('tree_view')" %>"><%= "Tree view" %> </li>
                    <li class="<%= "is_active_action('loading_buttons')" %>"><%= "Loading buttons" %> </li>
                    <li class="<%= "is_active_action('chat_view')" %>"><%= "Chat view" %> </li>
                    <li class="<%= "is_active_action('masonry')" %>"><%= "Masonry" %> </li>
                    <li class="<%= "is_active_action('tour')" %>"><%= "Tour" %> </li>
                </ul>
            </li>
            <li class="<%= "is_active_controller('uielements')" %>">
                <a href="#"><i class="fa fa-flask"></i> <span class="nav-label" data-i18n="nav.uielements">UI Elements</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= "is_active_controller('uielements')" %>">
                    <li class="<%= "is_active_action('typography')" %>"><%= "Typography" %></li>
                    <li class="<%= "is_active_action('icons')" %>"><%= "Icons" %> </li>
                    <li class="<%= "is_active_action('draggable_panels')" %>"><%= "Draggable Panels" %> </li>
                    <li class="<%= "is_active_action('resizeable_panels')" %>"><%= "Resizeable Panels" %> </li>
                    <li class="<%= "is_active_action('buttons')" %>"><%= "Buttons" %></li>
                    <li class="<%= "is_active_action('video')" %>"><%= "Video" %> </li>
                    <li class="<%= "is_active_action('tables_panels')" %>"><%= "Panels" %> </li>
                    <li class="<%= "is_active_action('tabs')" %>"><%= "Tabs" %> </li>
                    <li class="<%= "is_active_action('notifications_tooltips')" %>"><%= "Notifications & Tooltips" %> </li>
                    <li class="<%= "is_active_action('badges_labels_progress')" %>"><%= "Badges, Labels, Progress" %> </li>
                </ul>
            </li>
            <li class="<%= "is_active_controller('gridoptions')" %>">
                <%= link_to 'landing/index' do %>
                <i class="fa fa-laptop"></i> <span class="nav-label" data-i18n="nav.gridoptions">Grid options</span>
                <% end %>
            </li>
            <li class="<%= "is_active_controller('tables')" %>">
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label" data-i18n="nav.tables">Tables</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= "is_active_controller('tables')" %>">
                    <li class="<%= "is_active_action('static_tables')" %>"><%= "Static Tables" %> </li>
                    <li class="<%= "is_active_action('data_tables')" %>"><%= "Data Tables" %></li>
                    <li class="<%= "is_active_action('foo_tables')" %>"><%= "Foo Table" %></li>
                    <li class="<%= "is_active_action('jqgrid')" %>"><%= "jqGrid" %></li>
                </ul>
            </li>
            <li class="<%= "is_active_controller('commerce')" %>">
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label" data-i18n="nav.ecommerce">E-commerce</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= "is_active_controller('commerce')" %>">
                    <li class="<%= "is_active_action('products_grid')" %>"><%= "Products grid" %> </li>
                    <li class="<%= "is_active_action('products_list')" %>"><%= "Products list" %></li>
                    <li class="<%= "is_active_action('product_edit')" %>"><%= "Product edit" %></li>
                    <li class="<%= "is_active_action('product_detail')" %>"><%= "Product detail" %></li>
                    <li class="<%= "is_active_action('cart')" %>"><%= "Cart" %></li>
                    <li class="<%= "is_active_action('orders')" %>"><%= "Orders" %></li>
                    <li class="<%= "is_active_action('payments')" %>"><%= "Credit Card form" %></li>
                </ul>
            </li>
            <li class="<%= "is_active_controller('gallery')" %>">
                <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label" data-i18n="nav.gallery">Gallery</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= "is_active_controller('gallery')" %>">
                    <li class="<%= "is_active_action('basic_gallery')" %>"><%= "Lightbox Gallery" %> </li>
                    <li class="<%= "is_active_action('slick_carusela')" %>"><%= "Slick Carousel" %> </li>
                    <li class="<%= "is_active_action('bootstrap_carusela')" %>"><%= "Bootstrap Carousel" %> </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels">Menu Levels </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>

                        </ul>
                    </li>
                    <li><a href="#">Second Level Item</a></li>
                    <li>
                        <a href="#">Second Level Item</a></li>
                    <li>
                        <a href="#">Second Level Item</a></li>
                </ul>
            </li>
            <li class="<%= "is_active_controller('cssanimations')" %>">
                <%= link_to 'landing/index' do %>
                <i class="fa fa-magic"></i> <span class="nav-label" data-i18n="nav.animations">CSS Animations </span><span class="label label-info pull-right">62</span>
                <% end %>
            </li>
            <li class="landing_link">
                <%= link_to 'landing/index' do %>
                <i class="fa fa-star"></i> <span class="nav-label" data-i18n="nav.landing">Landing page </span>
                <% end %>
            </li>
        </ul>

    </div>
</nav>