<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <%= form_for(account) do |f| %>
      <% if account.errors.any? %>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <%= pluralize(account.errors.count, "error") %>
          prohibited this account from being saved.
        </div>

        <div class="panel-body">
          <ul>
            <% account.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.label t(:name) %>
        <%= f.text_field :name, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label t(:code) %>
        <%= f.text_field :code, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label t(:description) %>
        <%= f.text_area :description, :class => 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
      <% end %>

    </div>
  </div>
</div>
