<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Accounts</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Accounts</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Account', new_account_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="row">

  <div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <table id="accounts-table" class="table table-hover cats-datatable">
          <thead>
            <tr>
              <th><%=t(:name)%></th>
              <th><%=t(:code)%></th>
              <th><%=t(:description)%></th>
            </tr>
          </thead>

          <tbody>
            <% @accounts.each do |account| %>
            <tr>
              <td>
                <%= link_to account.name, edit_account_path(account) %>
              </td>
              <td><%= account.code %></td>
              <td><%= account.description %></td>            
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>
